{{! template-lint-disable no-nested-interactive }}
{{#if isLoggedIn}}
    <span role="button" {{action 'toggleModal'}}>
    {{author.unregisteredContributor}}
        {{#bs-tooltip}}{{t 'components.claim-user.tooltip_message'}}{{/bs-tooltip}}
    </span>
    {{#if (not getUserEmail.isRunning)}}
        {{#bs-modal backdrop=true open=showModal onHide=(action 'toggleModal') as |modal|}}
            {{#modal.header}}
                <h3>{{t 'components.claim-user.modal_title' email=username}}</h3>
            {{/modal.header}}
            {{#modal.body}}
                {{t 'components.claim-user.modal_body'}}
            {{/modal.body}}
            {{#modal.footer}}
                {{#bs-button onClick=(action 'toggleModal') type='default'}}{{t 'global.cancel'}}{{/bs-button}}
                {{#bs-button onClick=(perform claimUser) type='primary'}}{{t 'components.claim-user.claim_button'}}{{/bs-button}}
            {{/modal.footer}}
        {{/bs-modal}}
    {{/if}}
{{else}}
    <span role="button" {{action 'togglePopup'}}>
    {{author.unregisteredContributor}}
        {{#bs-tooltip}}{{t 'components.claim-user.tooltip_message'}}{{/bs-tooltip}}
        {{#bs-popover placement='bottom' title=(t 'components.claim-user.title') visible=showPopup}}
            {{#click-outside action=(action 'hidePopup') }}
                <div style="display: flex">
                {{validated-input model=this valuePath='email' placeholder=(t "components.unregistered-contributor-form.email") value=email}}
                    <button type="submit" class="btn btn-success btn-small popover-button" onclick={{perform claimUser}} disabled={{not isValid}}> {{t "global.add"}} </button>
                <button type="button" class="btn btn-default btn-small popover-button" {{action 'togglePopup'}}> {{t "global.cancel"}} </button>
            </div>
            {{/click-outside}}
        {{/bs-popover}}
    </span>
{{/if}}
{{! template-lint-enable no-nested-interactive }}
