{{#bs-modal open=isOpen body=false header=false footer=false}}
    {{#bs-modal-header}}
        <h3 class="modal-title">{{t title}}</h3>
    {{/bs-modal-header}}
    {{#bs-modal-body}}
        {{t "components.confirm-share-preprint.body"}}
    {{/bs-modal-body}}

    {{#bs-modal-footer}}
        <div align="right">
            <button {{action 'close'}} class="btn btn-default">{{t "global.cancel"}}</button>
            <button class="btn btn-success" autofocus disabled={{shareButtonDisabled}} {{action savePreprint}}>{{t buttonLabel}}</button>
        </div>
    {{/bs-modal-footer}}
{{/bs-modal}}
