{{#bs-modal open=isOpen title=(t title documentType=documentType) as |modal|}}
    {{#modal.header}}
        <h3 class="modal-title">{{t title documentType=documentType}}</h3>
    {{/modal.header}}
    {{#modal.body}}
        {{t "components.confirm-share-preprint.body" documentType=documentType}}
    {{/modal.body}}
    {{#modal.footer}}
        <div align="right">
            <button {{action 'close'}} class="btn btn-default">{{t "global.cancel"}}</button>
            <button class="btn btn-success" autofocus disabled={{shareButtonDisabled}} {{action savePreprint}}>{{t buttonLabel}}</button>
        </div>
    {{/modal.footer}}
{{/bs-modal}}
