<label> 3. Organize </label>
<p class="text-muted">
    You have a choice for how to organize your preprint in your project. If you select, "make a new component" then the preprint file will
    be placed in a new component inside the project.  The title of that component will be the title of your preprint, and the contributor list will
    be the authors of the preprint. If you select "use the current component" then the title and authors of the component you selected will
    be tied to the preprint.  If you change the title or authors on the preprint, then they will change the title and authors on that component
    and vice versa.  If you are unsure, then select "make a new component".
</p>
<div id='convertExistingOrCreateComponent'>
    <div class="row text-center text-bigger">
        <div class="radio-option col-xs-6 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2 p-md">
            <label><input onchange={{action "copyToComponent" value="true"}} type="radio" name="createComponentDecision" checked={{eq convertOrCopy 'copy'}}> Make a new component for the preprint</label>
        </div>
        <div class="radio-option col-xs-6 col-sm-5 col-md-4 p-md">
            <label><input onchange={{action "convertExisting"}} type="radio" name="createComponentDecision" checked={{eq convertOrCopy 'convert'}}> Use the current component for the preprint</label>
        </div>
    </div>
</div>

{{#liquid-if (and (eq convertOrCopy 'convert') (not convertProjectConfirmed))}}
    <div class="row p-t-md">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="osf-box p-t-md" role="alert">
                <div class="row">
                    <div class="col-xs-1 text-right">
                        <h4 class="exclamation-confirm-convert">
                            <i class="fa fa-exclamation"></i>
                        </h4>
                    </div>
                    <div class="col-xs-10">
                            <h4 class="m-b-md"> Your project details will be saved as you continue to work on this form. </h4>

                            <p class="m-b-md"> Changes you make on this page are saved immediately.  Create a new component under this project to avoid
                            overwriting its details. </p>
                        </div>
                    </div>
                <div class="row p-b-md">
                    <div class="col-xs-6 text-right">
                        <button {{action "copyToComponent"}} class="btn btn-default">Create a new component </button>
                    </div>
                    <div class="col-xs-6">
                        <button {{action "confirmConvert"}} class="btn btn-success"> Continue with this project </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/liquid-if}}