{{title (t-plus (concat translateKey '.heading'))}}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{t-plus (concat translateKey '.heading')}}</h1>
            <p>
                {{t-plus (concat translateKey '.message')}}
                <br>
                <span>{{t-plus 'components.error-page.email_message'}}</span>
                <a href="mailto:{{supportEmail}}"
                   onbeforeclick={{action "click" "link" (concat label " - Support")}}>
                    {{supportEmail}}
                </a>
            </p>
            {{#link-to
                (route-prefix 'index')
                slug=theme.id
                class="btn btn-primary m-t-md"
                invokeAction=(action "click" "link" (concat label " - Go to Index"))
            }}
                {{t-plus 'components.error-page.go_to' brand=(t-plus (if theme.isProvider "global.provider_brand" "global.brand") name=theme.provider.name)}}
            {{/link-to}}
        </div>
    </div>
</div>
