{{#if (eq uploadIntent 'newNodeNewFile')}}
    {{dropzone-widget
        url=url
        options=dropzoneOptions
        sending=(action 'sending')
        buildUrl=(action 'getUrl')
        complete=(action 'complete')
        preUpload=(action 'preUpload')
        defaultMessage='Drop preprint file here to upload'
        maxfilesexceeded=(action 'maxfilesexceeded')
    }}
    {{#if hasFile}}
        {{preprint-title-editor nodeTitle=nodeTitle titleValid=titleValid}}
    {{/if}}
{{else}}
    {{#cp-panel name='uploadNewFile'}}
        {{#cp-panel-toggle tagName='div'}}
            Choose File
            {{#if file}}
                {{file.name}}
            {{/if}}
        {{/cp-panel-toggle}}
        {{#cp-panel-body}}
            <div class="m-t-sm">
                <form class="form">
                    <div class="toggle-button">
                        <input id='existing' onchange={{action changeExistingState _existingState.NEWFILE}} type="radio" checked={{eq existingState _existingState.NEWFILE}}>
                        <label for="existing"><i class="fa fa-cloud-upload"></i></label>

                        <input id='newfile' onchange={{action changeExistingState _existingState.EXISTINGFILE}} type="radio" checked={{eq existingState _existingState.EXISTINGFILE}}>
                        <label for="newfile"><i class="fa fa-th-list"></i></label>
                    </div>
                </form>
            </div>

            {{dropzone-widget
                url=url
                options=dropzoneOptions
                sending=(action 'sending')
                buildUrl=(action 'getUrl')
                complete=(action 'complete')
                preUpload=(action 'preUpload')
                defaultMessage='Drop preprint file here to upload'
                maxfilesexceeded=(action 'maxfilesexceeded')
            }}
        {{/cp-panel-body}}
    {{/cp-panel}}

    {{#liquid-if (and selectedNode (or hasFile selectedFile)) use='crossFade'}}
        {{#cp-panel name='organize'}}
            {{#cp-panel-toggle tagName='div'}}
                Organize
                {{#if (eq convertOrCopy 'convert')}}
                    The current project/component will contain the preprint.
                {{/if}}

                {{#if (eq convertOrCopy 'copy')}}
                    A new component inside the current project will contain the preprint.
                {{/if}}
            {{/cp-panel-toggle}}
            {{#cp-panel-body}}
                {{convert-or-copy-project convertOrCopy=convertOrCopy nodeTitle=nodeTitle node=node titleValid=titleValid convertProjectConfirmed=convertProjectConfirmed}}
            {{/cp-panel-body}}
        {{/cp-panel}}
        {{#liquid-if (or (eq convertOrCopy 'copy') (and (eq convertOrCopy 'convert') convertProjectConfirmed)) use='crossFade'}}
            {{#cp-panel name='finalizeUpload'}}
                {{#cp-panel-toggle tagName='div'}}
                    Finalize Upload
                {{/cp-panel-toggle}}
                {{#cp-panel-body}}
                    {{#if (eq convertOrCopy 'convert')}}
                        {{#if convertProjectConfirmed}}
                            <label class="text-muted title-label"> Edit preprint title </label>
                            {{preprint-title-editor nodeTitle=nodeTitle titleValid=titleValid}}
                        {{/if}}
                    {{else}}
                        <label class="text-muted title-label"> Add preprint title</label>
                        {{preprint-title-editor nodeTitle=nodeTitle titleValid=titleValid}}
                    {{/if}}
                    <div class="row text-center m-v-md">
                        <p> You are about to initiate the preprint process.  You will not be able to update your project or file after this point. </p>
                        <button class="btn btn-primary" disabled={{or (and (eq convertOrCopy 'convert') (not convertProjectConfirmed))(not (and (not uploadInProgress)(and hasFile titleValid)))}} {{action 'setNodeAndFile'}}>Finalize Upload</button>
                    </div>
                {{/cp-panel-body}}
            {{/cp-panel}}
        {{/liquid-if}}
    {{/liquid-if}}
{{/if}}

<div class="p-t-xs pull-right">
    <button class="btn btn-default" {{action changeState startState}}>Back</button>
    {{#if (eq uploadIntent 'newNodeNewFile')}}
        <button class="btn btn-primary" disabled={{or (and (eq convertOrCopy 'convert') (not convertProjectConfirmed))(not (and (not uploadInProgress)(and hasFile titleValid)))}} {{action 'setNodeAndFile'}}>Next</button>
    {{/if}}
</div>