{{!UPLOAD NEW FILE SECTION}}
{{#if (eq currentState 'new')}}
    {{dropzone-widget
        url=url
        options=dropzoneOptions
        sending=(action 'sending')
        buildUrl=(action 'getUrl')
        complete=(action 'complete')
        preUpload=(action 'preUpload')
        defaultMessage=(t 'components.file-uploader.dropzone_message' documentType=provider.documentType)
        maxfilesexceeded=(action 'maxfilesexceeded')
    }}
    {{#if hasFile}}
        {{!-- template-lint-disable no-invalid-interactive --}}
        <form onchange={{action 'track' 'input' 'onchange' 'Submit - Add title, Upload new preprint'}}>
            {{preprint-title-editor documentType=provider.documentType title=title titleValid=titleValid pressSubmit=(action 'createPreprintAndUploadFile')}}
        </form>
        {{!-- template-lint-enable no-invalid-interactive --}}
    {{/if}}

    <div class="p-t-xs pull-right">
        <button class="btn btn-default" {{action changeInitialState startState}}>{{t "global.back"}}</button>
        <button class="btn btn-primary" disabled={{not (and (not uploadInProgress)(and hasFile titleValid))}} {{action 'createPreprintAndUploadFile'}}>{{t "submit.body.save_continue"}}</button>
    </div>
{{else if (eq currentState 'version')}}
    {{!UPLOAD NEW VERSION SECTION}}
    {{#preprint-form-section innerForm=true editMode=editMode class="upload-section-block" allowOpen=true name='uploadNewFile' open=false}}
        {{preprint-form-header name=(if preprintLocked 'preprint_file' 'choose_file') selectedFile=osfFile fileVersion=fileVersion file=file showValidationIndicator=false click=(action "toggleIsOpen" 'uploadNewFile') currentProvider=provider}}
        {{#preprint-form-body}}
            {{#if preprintLocked}}
                <p class='text-muted m-v-sm text-smaller'> {{t "components.file-uploader.update_version" documentType=provider.documentType}}</p>
            {{/if}}
            {{dropzone-widget
                url=url
                options=dropzoneOptions
                sending=(action 'sending')
                buildUrl=(action 'getUrl')
                complete=(action 'complete')
                preUpload=(action 'preUpload')
                defaultMessage=(t 'components.file-uploader.dropzone_message' documentType=provider.documentType)
                maxfilesexceeded=(action 'maxfilesexceeded')
            }}
        {{/preprint-form-body}}
    {{/preprint-form-section}}

    {{#if (or hasFile osfFile) use='crossFade'}}
        {{#if preprintLocked}}
            {{!EDIT MODE - UPDATE TITLE/SAVE CHANGES SECTION}}
            {{#preprint-form-section  innerForm=true editMode=editMode class="upload-section-block bottom-title-underline" allowOpen=true name='titleOfPreprint' open=false}}
                {{preprint-form-header title=title name='title_of_preprint' showValidationIndicator=false click=(action "toggleIsOpen" 'titleOfPreprint') currentProvider=provider}}
                {{#preprint-form-body}}
                    <label class="text-muted title-label text-smaller">  {{t "components.preprint-form-project-select.edit_preprint_title_project" documentType=provider.documentType}} </label>
                    <form onchange={{if editMode (action 'track' 'input' 'onchange' 'Edit - Edit title') (action 'track' 'input' 'onchange' 'Submit - Edit title')}}>
                        {{preprint-title-editor documentType=provider.documentType title=title titleValid=titleValid pressSubmit=(action 'uploadNewPreprintVersion')}}
                    </form>
                {{/preprint-form-body}}
            {{/preprint-form-section}}
            <div class="m-v-md pull-right">
                <button {{action "discardUploadChanges"}} class="btn btn-default" disabled={{unless uploadChanged true}} >{{t "global.discard"}}</button>
                <button class="btn btn-primary" disabled={{not (and (not uploadInProgress)(and hasFile titleValid))}} {{action 'uploadNewPreprintVersion'}}>{{t "submit.body.save_continue"}}</button>
            </div>
        {{/if}}
    {{/if}}
{{/if}}
