<div class="multi-textbox row">
    {{#each textFields key="id" as |field index|}}
        <div class="col-xs-9 text-line">
            {{input class="form-control ember-text-field" type="text" placeholder=placeholder key-up=(perform onFieldChange index) value=field }} {{! key-up=(perform onFieldChange index) }}
        </div>
        <div class="col-xs-3 text-line">
            {{#if (and (gt textFields.length 1) (gt textFieldsLastIndex index) )}}
                <button class="btn btn-danger btn-small" onClick={{action 'removeTextField' index}}>Remove</button>
            {{else}}
                <button class="btn btn-success btn-small" onClick={{action 'addTextField'}}>Add</button>
            {{/if}}
        </div>
    {{else}}
        <div class="col-xs-9">
            {{input class="form-control ember-text-field" type="text" key-up=(perform onFieldChange index) placeholder=placeholder }} {{! key-up=(perform onFieldChange 0) }}
        </div>
        <div class="col-xs-3">
            <button class="btn btn-success btn-small" onClick={{action 'addTextField'}}>Add</button>
        </div> 
    {{/each}}
</div>
