<div class="section-header">
    {{#if (eq name 'location_of_preprint')}}
        <span class='text-muted'> {{t (concat "components.preprint-form-header.name." name) documentType=provider.documentType}} </span>
    {{else}}
        {{t (concat "components.preprint-form-header.name." name) documentType=provider.documentType}}
    {{/if}}
</div>

<div class="preprint-section-status pull-right">
    {{#if (or
        (and serverSaveState (eq name 'Server'))
        (and uploadSaveState (eq name 'Upload'))
        (and basicsSaveState (eq name 'Basics'))
        (and authorsSaveState (eq name 'Authors'))
        (and disciplineSaveState (eq name 'Discipline')) )}}
        <span class="text-success text-smaller m-r-md"> {{t "components.preprint-form-header.changes_saved"}} </span>
    {{/if}}
    {{#if showValidationIndicator}}
        {{fa-icon 'floppy-o'}}
    {{/if}}
</div>

{{#if (and (not isOpen) (eq name 'Server'))}}
    <div class="m-t-md preprint-header-preview">
        <p>
            <em class="m-r-md"> {{t "components.preprint-form-header.server" documentType=provider.documentType}}: </em>
            {{#if currentProvider}}
                <img alt="provider logo" class="current-provider" title="{{currentProvider.name}}" src={{provider-asset currentProvider.id 'square_color_no_transparent.png'}}>
                {{if (not theme.isProvider) 'OSF Preprints' currentProvider.name}}
            {{/if}}
        </p>
    </div>
{{/if}}

{{#if (and (not isOpen) (eq name 'Upload'))}}
    <div class="m-t-md preprint-header-preview">
        {{#if preprintNode}}
            <p><em class="m-r-md"> {{t "components.preprint-form-header.location" documentType=provider.documentType}}: </em> {{get-ancestor-descriptor preprintNode}} {{preprintNode.title}}</p>
        {{/if}}
        {{#if preprintFile}}
            <p><em class="m-r-md"> {{t "components.preprint-form-header.file" documentType=provider.documentType}}: </em> {{preprintFile.name}} <em>(Version: {{preprintFile.currentVersion}})</em>  </p>
        {{/if}}
        {{#if preprintTitle}}
            <p><em class="m-r-md"> {{t "components.preprint-form-header.title" documentType=provider.documentType}}: </em> {{preprintTitle}} </p>
        {{/if}}
    </div>
{{/if}}

{{#if (not isOpen)}}
    <div class="m-t-md preprint-header-preview">
        {{#if (or isValidationActive editMode)}}
            {{#if (eq name 'Basics')}}
                <p><em class="m-r-md"> {{t "global.license"}}: </em> {{if license license.name (t "global.none")}} </p>
                <p><em class="m-r-md"> {{t "global.doi"}}: </em> {{if doi doi (t "global.none")}} </p>
                <p>
                    <em class="m-r-md"> {{t "global.tags"}}: </em>
                    {{#if tags}}
                        <ul class="comma-list">
                            {{#each tags as |tag|~}}
                                <li> {{~fix-special-char tag~}} </li>
                            {{~/each}}
                        </ul>
                    {{else}}
                        <span>{{t "global.none"}}</span>
                    {{/if}}
                </p>
                <em class="m-r-md"> {{t "global.abstract"}}: </em>
                <p class="abstract">{{if abstract abstract (t "global.none")}} </p>
            {{else if (eq name 'Discipline')}}
                {{#if subjects}}
                    {{#each subjects as |subject|}}
                        <span class="subject-preview">{{subject.text}} </span>
                    {{/each}}
                {{else}}
                    <span>{{t "global.none"}}</span>
                {{/if}}
            {{else if (eq name 'Authors')}}
                <ul class="author-preview comma-list">
                    {{#each authors as |contrib| ~}}
                        <li>
                            {{~#if contrib.unregisteredContributor~}}
                                {{~contrib.unregisteredContributor~}}
                            {{else}}
                                {{~contrib.users.fullName~}}
                            {{~/if~}}
                        </li>
                    {{~/each}}
                </ul>
            {{/if}}
        {{/if}}

        {{#if (eq name 'location_of_preprint')}}
            {{#if node}}
                <p class='text-muted'> <span class='lock-span p-r-xs'><i class='fa fa-lock'></i></span> {{get-ancestor-descriptor node}} {{node.title}} </p>
            {{/if}}
        {{/if}}

        {{#if (eq name 'choose_project')}}
            {{#if selectedNode}}
                <p> {{selectedNode.title}} </p>
            {{/if}}
        {{/if}}

        {{#if (or (eq name 'choose_file') (eq name 'preprint_file'))}}
            {{#if selectedFile}}
                <p> {{selectedFile.name}}
                    {{#if fileVersion}}
                        <em> (Version: {{fileVersion}})</em>
                    {{/if}}
                </p>
            {{else}}
                {{#if file}}
                    <p> {{file.name}} </p>
                {{/if}}
            {{/if}}
        {{/if}}

        {{#if (eq name 'organize')}}
            {{#if (eq convertOrCopy 'convert')}}
                <p>
                    {{#if isTopLevelNode}}
                        {{t "global.convert_project" documentType=provider.documentType}}
                    {{else}}
                        {{t "global.convert_component" documentType=provider.documentType}}
                    {{/if}}
                </p>
            {{/if}}

            {{#if (eq convertOrCopy 'copy')}}
                <p>
                    {{t "global.copy_inside_project" documentType=provider.documentType}}
                </p>
            {{/if}}
        {{/if}}

        {{#if (eq name 'finalize_upload')}}
            {{#if title}}
                <p>{{t "components.preprint-form-header.title"}}: {{title}} </p>
            {{/if}}
        {{/if}}

        {{#if (eq name 'title_of_preprint')}}
            {{#if title}}
                <p> {{title}} </p>
            {{/if}}
        {{/if}}


        {{#if (and (is-section-editable name) (or editMode (or (not showValidationIndicator) isValidationActive)))}}
            <i class="text-smaller m-t-md">{{t "components.preprint-form-header.click_edit"}}</i>
        {{/if}}
    </div>
{{/if}}
