{{#with _names.[0] as |name|}}
    {{#preprint-form-section id='preprint-form-upload' open=true}}
        {{preprint-form-header name=name valid=(get valid name)}}
        {{preprint-form-upload verify=(action 'verify' name)}}
    {{/preprint-form-section}}
{{/with}}

{{#with _names.[1] as |name|}}
    {{#preprint-form-section id='preprint-form-basics'}}
        {{preprint-form-header name=name valid=(get valid name)}}
        {{preprint-form-basics verify=(action 'verify' name)}}
    {{/preprint-form-section}}
{{/with}}

{{#with _names.[2] as |name|}}
    {{#preprint-form-section id='preprint-form-subjects'}}
        {{preprint-form-header name=name valid=(get valid name)}}
        {{preprint-form-subjects verify=(action 'verify' name)}}
    {{/preprint-form-section}}
{{/with}}

{{#with _names.[3] as |name|}}
    {{#preprint-form-section id='preprint-form-authors'}}
        {{preprint-form-header name=name valid=(get valid name)}}
        {{preprint-form-authors
            verify=(action 'verify' name)
            contributors=contributors
            node=node
            isAdmin=isAdmin
            canEdit=canEdit
            currentUser=currentUser
            addContributor=addContributor
            findContributors=findContributors
            searchResults=searchResults
            removeContributor=removeContributor
            addUnregisteredContributor=addUnregisteredContributor
            editContributors=editContributors }}
    {{/preprint-form-section}}
{{/with}}

{{#with _names.[4] as |name|}}
    {{#preprint-form-section id='preprint-form-submit' animate=true}}
        {{preprint-form-header name=name valid=(get valid name)}}
        {{#cp-panel-body}}
            <p>Sharing this project will make both the manuscript and the project associated with it public.</p>
            <button class="btn btn-primary" type="submit">Share</button>
        {{/cp-panel-body}}
    {{/preprint-form-section}}
{{/with}}
