<div class="row form views">
    <div class="col-xs-12 col-md-5 col-division-right">
        <form {{action 'findContributors' 1 on='submit'}}>
            <div class="input-group author-search-box">
                <input
                    id="author-search-box"
                    type="text"
                    disabled={{not isAdmin}}
                    class="form-control searchQuery"
                    onchange={{action (mut query) value="target.value"}}
                    placeholder={{t "components.preprint-form-authors.search.placeholder"}}
                    aria-label={{t "components.preprint-form-authors.search.placeholder"}}
                >
                <span class="input-group-btn">
                    <button
                        aria-label={{t 'global.search'}}
                        class="btn btn-default authors-search-button"
                        disabled={{not isAdmin}}
                        type="button"
                        {{action 'findContributors' 1}}
                    >
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </form>
        {{#if (not-eq addState 'emptyView')}}
            {{#if (eq addState 'searchView')}}
                <div class="unregisteredUsers">
                    <p>{{t "components.preprint-form-authors.unregistered_users.paragraph"}}</p>
                    <button class="btn btn-primary btn-small" disabled={{not isAdmin}} {{action "unregisteredView"}}>{{t "components.preprint-form-authors.unregistered_users.button"}}</button>
                </div>
                <h3> {{t "components.preprint-form-authors.results"}} </h3>
                {{#if searchResults}}
                    <table class="table author-table">
                        {{#each searchResults as |result|}}
                            <tr id={{result.id}}>
                                <td class="p-v-xs">
                                    <img alt="author profile image" class="m-l-xs" src={{result.links.profile_image}} height=30 width=30>
                                    <a href={{result.links.html}} target="_blank" rel="noopener"> {{result.fullName}} </a>
                                    {{#if (eq currentUser result)}}
                                        <span class="small"> {{t "components.preprint-form-authors.yourself"}} </span>
                                    {{/if}}
                                </td>
                                <td class="p-v-xs">
                                    {{#if (user-is-contributor result contributors authorModification)}}
                                        <span class="hint hint--left pull-right" aria-label="{{t "components.preprint-form-authors.already_added"}}">
                                            <button class="btn btn-default btn-small disabled disabled-checkmark">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    {{else}}
                                        <button disabled={{not isAdmin}} class="btn btn-success btn-small pull-right" {{action "addContributor" result}}> {{t "global.add"}} </button>
                                    {{/if}}
                                </td>
                            </tr>
                        {{/each}}
                    </table>
                {{else}}
                    {{t "global.no_results_found"}}
                {{/if}}
                {{#if (gt pages 1)}}
                    <div class="pull-right text-right">
                        {{pagination-pager count=pages current=currentPage change=(action 'pageChanged')}}
                    </div>
                {{/if}}
            {{/if}}
            {{#if (eq addState 'unregisteredView')}}
                <h3> {{t "components.preprint-form-authors.add_email"}} </h3>
                <div class="user-validation" id="add-unregistered-contributor-form">
                    {{unregistered-contributor-form documentType=documentType editMode=editMode resetfindContributorsView=(action 'resetfindContributorsView') addUnregisteredContributor=(action 'addUnregisteredContributor')}}
                </div>
            {{/if}}
        {{/if}}
    </div>
    <div class="col-xs-12 col-md-7">
        <div class="author-header">
            <h2 class="header-inline"> {{t "global.authors"}} </h2>
            <span>
                <i class="fa fa-question-circle permission-info"
                    data-toggle="popover"
                    data-title="{{t "components.preprint-form-authors.authors.title"}}"
                    data-trigger="hover"
                    data-html="true"
                    data-placement="bottom"
                    id="author-popover">
                </i>
            </span>
        </div>
        {{#if isAdmin}}
            <p class="drag-drop small"> {{t "components.preprint-form-authors.authors.order_instructions"}} </p>
        {{/if}}
        <div class="panel-body">
            <table class="table author-table current-authors">
                <tr>
                    <th class="contrib-name-header"> {{t "components.preprint-form-authors.authors.name"}} </th>
                    <th class="contrib-perms-header">
                        {{t "components.preprint-form-authors.authors.permissions"}}
                        <span>
                            <i class="fa fa-question-circle permission-info"
                                data-toggle="popover"
                                data-title="{{t "components.preprint-form-authors.authors.permission_info"}}"
                                data-trigger="hover"
                                data-html="true"
                                data-placement="bottom"
                                id="permissions-popover">
                            </i>
                        </span>
                        <br>
                    </th>
                    <th class="bib-padding">
                        {{t "components.preprint-form-authors.authors.citation"}}
                        <span>
                            <i class="fa fa-question-circle permission-info"
                                data-toggle="popover"
                                data-title="{{t "components.preprint-form-authors.authors.citation_info"}}"
                                data-trigger="hover"
                                data-html="true"
                                data-placement="bottom"
                                id="bibliographic-popover">
                            </i>
                        </span>
                        <br>
                    </th>
                    <th> </th>
                </tr>
                {{#sortable-group tagName="tbody" onChange="reorderItems" as |group|}}
                    {{#each contributors as |contrib|}}
                        {{#sortable-item tagName="tr" model=contrib class="contributor-row" group=group spacing=1 handle=".handle" id=contrib.id}}
                            <td class="text-nowrap author-cols" title={{if contrib.unregisteredContributor contrib.unregisteredContributor contrib.users.fullName}}>
                                <div class="form-group drag-drop-contrib">
                                    <span class={{if isAdmin "fa fa-bars sortable-bars handle small" ""}}></span>
                                    <img alt="author profile image" class="m-l-xs" src={{profile-image-link contrib}} height=30 width=30>
                                    {{!CONTRIBUTOR NAME - XS Screen}}
                                    <span class="vert-align-contributor-name">
                                        {{#if contrib.unregisteredContributor}}
                                            {{contrib.unregisteredContributor}}
                                        {{else if (user-errors contrib)}}
                                            {{disabled-user-name contrib}}
                                        {{else}}
                                            <a href={{contrib.users.links.html}} target="_blank" rel="noopener"> {{contrib.users.fullName}} </a>
                                        {{/if}}
                                    </span>
                                    {{!REMOVE CONTRIBUTOR BUTTON - XS SCREEN}}
                                    <span class="visible-xs-inline">
                                        <span class="pull-right remove-contributor-padding-xs">
                                            {{#if (and (permission-to-remove-contributor contrib currentUser isAdmin editMode) (conditions-for-contrib-removal contrib contributors authorModification))}}
                                                {{#if (contributor-is-current-user contrib currentUser)}}
                                                    <button class="remove-contributor-xs" {{action 'removeContributorConfirm' contrib}} aria-label={{t "components.preprint-form-authors.authors.remove_author"}}>
                                                        <i class="fa fa-times"> </i>
                                                    </button>
                                                {{else}}
                                                    <button class="remove-contributor-xs" {{action 'removeContributor' contrib}} aria-label={{t "components.preprint-form-authors.authors.remove_author"}}>
                                                        <i class="fa fa-times"> </i>
                                                    </button>
                                                {{/if}}
                                            {{/if}}
                                        </span>
                                    </span>
                                </div>
                            </td>
                            <td>
                                {{!CHANGE AUTHOR PERMISSIONS SECTION}}
                                <div class="form-group vert-align-enabled-permissions">
                                    {{#if (and (can-update-contributor contrib currentUser isAdmin editMode) (min-admins contrib contributors authorModification))}}
                                        <span class="visible-xs-inline permission-label"><em> {{t "components.preprint-form-authors.authors.permissions"}}: </em></span>
                                        <select class="text-smaller form-control permission-select" onchange={{action (action 'updatePermissions' contrib) value='target.value'}}>
                                            {{#each permissionOptions as |option|}}
                                                <option selected={{eq contrib.permission option.value}} value={{option.value}}>
                                                    {{option.text}}
                                                </option>
                                            {{/each}}
                                        </select>
                                    {{else}}
                                        <div class="vert-align-disabled-permissions">
                                            <span class="visible-xs-inline permission-label"> <em> {{t "components.preprint-form-authors.authors.permissions"}}:  </em></span> <span class="text-smaller"> {{permission-map contrib.permission}} </span>
                                        </div>
                                    {{/if}}
                                </div>
                            </td>
                            {{!CHANGE AUTHOR CITATION SECTION}}
                            <td class="bib-padding">
                                <div class="form-group vert-align">
                                    <span class="visible-xs-inline checkbox-padding"><em>{{t "components.preprint-form-authors.authors.in_citation"}}:</em></span>
                                    <input
                                        disabled={{if (and isAdmin (min-bibliographic contrib contributors authorModification)) false true}}
                                        onchange={{action (action 'updateBibliographic' contrib) value='target.checked'}}
                                        checked={{eq contrib.bibliographic true}}
                                        type="checkbox"
                                        name="bibliographic"
                                        aria-label={{t "components.preprint-form-authors.authors.in_citation"}}
                                    >
                                </div>
                            </td>
                            {{!REMOVE CONTRIBUTOR - LARGE SCREEN}}
                            <td>
                                <div class="delete-contrib-button form-group vert-align nudge-right hidden-xs hidden-md">
                                    {{#if (and (permission-to-remove-contributor contrib currentUser isAdmin editMode) (conditions-for-contrib-removal contrib contributors authorModification))}}
                                        {{#if (contributor-is-current-user contrib currentUser)}}
                                            <button {{action 'removeContributorConfirm' contrib}} class="btn btn-danger btn-sm" > {{t "components.preprint-form-authors.remove"}}</button>
                                        {{else}}
                                            <button {{action 'removeContributor' contrib}} class="btn btn-danger btn-sm" > {{t "components.preprint-form-authors.remove"}}</button>
                                        {{/if}}
                                    {{else}}
                                        <button class="btn btn-danger btn-sm disabled"> {{t "components.preprint-form-authors.remove"}} </button>
                                    {{/if}}
                                </div>
                                <span class="visible-md-inline">
                                    {{#if (and (permission-to-remove-contributor contrib currentUser isAdmin editMode) (conditions-for-contrib-removal contrib contributors authorModification))}}
                                        {{#if (contributor-is-current-user contrib currentUser)}}
                                            <button class="remove-contributor-xs" {{action 'removeContributorConfirm' contrib}} aria-label={{t "components.preprint-form-authors.authors.remove_author"}}>
                                                <i class="fa fa-times"> </i>
                                            </button>
                                        {{else}}
                                            <button class="remove-contributor-xs" {{action 'removeContributor' contrib}} aria-label={{t "components.preprint-form-authors.authors.remove_author"}}>
                                                <i class="fa fa-times"> </i>
                                            </button>
                                        {{/if}}
                                    {{/if}}
                                </span>
                            </td>
                        {{/sortable-item}}
                    {{/each}}
                {{/sortable-group}}
            </table>
            <div>
                {{confirm-remove-self
                    isOpen=showRemoveSelfModal
                    removeButtonDisabled=removeButtonDisabled
                    removeContributor=(action 'removeContributor')
                    buttonLabel="components.preprint-form-authors.remove"
                    contrib=currentContrib
                    model=model
                }}
            </div>
        </div>
    </div>
</div>
