<div class="text-center">
    <span>{{model.name}}:</span>
    <div style="display: inline;">
        <span><a href="mailto:{{model.email_support}}">Support</a></span>
        <span> | </span>
        <span><a href="mailto:{{model.email_contact}}">Contact</a></span>
    </div>
    <div style="display: inline; margin-left: 8px;">
        <a href={{social_twitter}} aria-label="Twitter"><i class="fa fa-twitter"></i></a>
        <a href={{social_facebook}} aria-label="Facebook"><i class="fa fa-facebook"></i></a>
        <a href={{social_instagram}} aria-label="Instagram"><i class="fa fa-instagram"></i></a>
    </div>
</div>

{{osf-copyright class='text-center'}}