Choose Project Section Opened {{chooseProjectSectionOpened}}
{{#cp-panels accordion=true}}
    {{#cp-panel open=chooseProjectSectionOpened}}
        {{#cp-panel-toggle tagName='div'}}
            Choose Project
        {{/cp-panel-toggle}}
        {{#cp-panel-body open=chooseProjectSectionOpened}}
            <p class="text-muted">
                The list of projects appearing in the selector are projects and components for which you have admin access.  Deleted projects and registrations
                are not included here.
            </p>
            <div class="m-b-lg">
                {{#if (not userNodesLoaded)}}
                    <div class="text-center">
                        {{fa-icon 'spinner' pulse=true size=3}}
                    </div>
                {{else}}
                    {{#if userNodes}}
                        {{#power-select options=userNodes searchField='title' selected=selectedNode onchange=(action "nodeSelected") as |node|}}
                            <strong>{{node.title}}</strong>
                        {{/power-select}}
                    {{else}}
                        <p class="m-t-md text-danger"> You have no valid nodes that can be converted into a preprint.  Go back to upload a new preprint. </p>
                    {{/if}}
                {{/if}}
            </div>
        {{/cp-panel-body}}
    {{/cp-panel}}

    {{#if selectedNode}}
        {{#if isAdmin}}
            {{#if (and fileSelect (eq existingState _existingState.CHOOSE))}}
                {{#cp-panel open=chooseExistingStateOpened}}
                    {{#cp-panel-toggle tagName='div'}}
                        Choose File
                    {{/cp-panel-toggle}}
                    {{#cp-panel-body}}
                         <div class="row">
                            <div class="row text-center text-bigger">
                                <div class="radio-option col-xs-6 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2 p-md">
                                    <label><input onchange={{action 'changeExistingState' _existingState.NEWFILE}} type="radio" checked={{eq existingState _existingState.NEWFILE}}> Upload preprint to this OSF project </label>
                                </div>
                                <div class="radio-option col-xs-6 col-sm-5 col-md-4 p-md">
                                    <label><input onchange={{action 'changeExistingState' _existingState.EXISTINGFILE}} type="radio" checked={{eq existingState _existingState.EXISTINGFILE}}> Identify existing file as the preprint</label>
                                </div>
                            </div>
                        </div>
                    {{/cp-panel-body}}
                {{/cp-panel}}
            {{/if}}
            {{#if (eq existingState _existingState.EXISTINGFILE)}}
                <div>
                    {{#if osfProviderLoaded}}
                        {{#cp-panel open=selectExistingFileSectionOpened}}
                            {{#cp-panel-toggle tagName='div'}}
                                Choose File
                            {{/cp-panel-toggle}}
                            {{#cp-panel-body}}
                                 {{file-browser rootItem=osfStorageProvider openFile=(action 'selectFile')}}
                                    {{#if selectedFile}}
                                        <span id='selectedFileExisting'> Selected file: {{selectedFile.name}} </span>
                                    {{/if}}
                            {{/cp-panel-body}}
                        {{/cp-panel}}


                        {{#liquid-if (and selectedNode (or hasFile selectedFile)) use='crossFade'}}
                            {{#cp-panel open=organizeSectionOpened}}
                                {{#cp-panel-toggle tagName='div'}}
                                    Organize
                                {{/cp-panel-toggle}}
                                {{#cp-panel-body}}
                                    <div class="m-t-lg">
                                        {{convert-or-copy-project nodeTitle=nodeTitle node=node titleValid=titleValid convertProjectConfirmed=convertProjectConfirmed convertOrCopy=convertOrCopy}}
                                    </div>

                                    {{#liquid-if (and selectedFile (and convertOrCopy)) use='crossFade'}}
                                        {{#if (eq convertOrCopy 'convert')}}
                                            {{#if convertProjectConfirmed}}
                                                <p> Edit preprint title </p>
                                                {{preprint-title-editor nodeTitle=nodeTitle titleValid=titleValid}}
                                            {{/if}}
                                        {{else}}
                                            <p> Add preprint title</p>
                                            {{preprint-title-editor nodeTitle=nodeTitle titleValid=titleValid}}
                                        {{/if}}
                                    {{/liquid-if}}
                                {{/cp-panel-body}}
                            {{/cp-panel}}
                        {{/liquid-if}}


                        <div class="p-t-xs pull-right">
                            <button class="btn btn-default" {{action changeState startState}}>Back</button>
                            <button class="btn btn-primary" disabled={{or (and (eq convertOrCopy 'convert') (not convertProjectConfirmed))(not (and selectedFile titleValid))}} {{action (if (eq convertOrCopy 'convert') existingNodeExistingFile createComponentCopyFile) name}}>Next</button>
                        </div>
                    {{/if}}
                </div>
            {{else if (eq existingState _existingState.NEWFILE)}}
                {{file-uploader
                    changeState=changeState
                    finishUpload=finishUpload
                    startState=startState
                    nodeTitle=nodeTitle
                    currentUser=currentUser
                    osfFile=selectedFile
                    hasFile=hasFile
                    file=file
                    contributors=contributors
                    node=node
                    selectedNode=selectedNode
                    userNodes=userNodes
                    parentNode=parentNode
                    convertProjectConfirmed=convertProjectConfirmed
                    convertOrCopy=convertOrCopy
                    uploadNewFileSectionOpened=uploadNewFileSectionOpened
                }}
                {{/if}}
            {{else}}
                {{#unless (eq currentState 'start')}}
                    <p class="alert alert-danger" role="alert">
                        You must be the admin of this component to share it.

                        Please ask the admin of this project to make you an admin
                        so you may share this component.
                    </p>
                {{/unless}}
        {{/if}}
    {{/if}}
{{/cp-panels}}

{{#if (eq existingState _existingState.CHOOSE)}}
    <div class="p-t-xs pull-right">
        <button class="btn btn-default" {{action changeState startState}}>Back</button>
        <button class="btn btn-primary" disabled=true>Next</button>
    </div>
{{/if}}
