{{name}}
{{secondary-info}}

<div class="preprint-section-status pull-right">
    {{#if showValidationIndicator}}
        {{#if (or valid (not isValidationActive))}}
            {{fa-icon 'check-circle'}}
        {{else}}
            {{fa-icon 'times-circle'}}
        {{/if}}
    {{/if}}
</div>
