<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href='{{theme.pathPrefix}}'
            onclick={{action "click" "link" "Navbar - Brand"}}>
            <span class="navbar-image" style={{safe-markup (concat "background-image: url('" (provider-asset theme.id 'square_color_transparent.png') "')")}}></span>
            <span class="navbar-title">{{model.name}}{{#if theme.preprintWordInTitle}} {{t "global.preprints" documentType=theme.provider.content.documentType}}{{/if}}</span>
        </a>
        <a type="button" role="button" class="navbar-toggle collapsed" id="preprint-branded-collapse-button" data-toggle="collapse" data-target="#secondary-navigation" aria-label={{t 'components.preprint-navbar.toggle'}}>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse navbar-right" id="secondary-navigation">
        <ul class="nav navbar-nav branded-nav">
            {{#if session.isAuthenticated}}
                <li><a href="{{host}}myprojects/" class="" onbeforeclick={{action "click" "link" "Navbar - My OSF Projects"}}>{{t "components.preprint-navbar-branded.my_projects"}}</a></li>
            {{/if}}
            {{#if theme.provider.allowSubmissions}}
                <li><a href={{concat theme.pathPrefix 'submit'}} onbeforeclick={{action "click" "link" "Navbar - Add preprint"}}>{{t submitLabel documentType=theme.provider.documentType}}</a></li>
            {{/if}}
            {{#if currentUser.user.canViewReviews}}
                <li>
                    <a href="{{host}}reviews/" onbeforeclick={{action "click" "link" "Navbar - My Reviewing"}}>
                        {{t "components.preprint-navbar-branded.reviews"}}
                    </a>
                </li>
            {{/if}}
            <li><a class="" href='{{theme.pathPrefix}}discover' onclick={{action "click" "link" "Navbar - Search"}}>{{t "global.search"}}</a></li>
            <li>
                <a href="https://cos.io/donate" onclick={{action "click" "link" (concat "Navbar - Donate")}}>
                    {{t "components.preprint-navbar-branded.donate"}}
                </a>
            </li>
            {{navbar-auth-dropdown
                signupUrl=theme.signupUrl
                loginAction=(action 'login')
                headline=(t "components.preprint-navbar-branded.headline")
                redirectUrl=theme.redirectUrl
            }}
        </ul>
    </div>
</div>
