{{#with _names.[0] as |name|}}
    {{#preprint-form-section id='preprint-form-upload' select=(action 'select' name) open=true}}
        {{preprint-form-header name=name}}
        {{preprint-form-upload verify=(action 'verify' name)}}
    {{/preprint-form-section}}
{{/with}}

{{#with _names.[1] as |name|}}
    {{#preprint-form-section id='preprint-form-basics' select=(action 'select' name)}}
        {{preprint-form-header name=name enabled=enabled.[0]}}
        {{preprint-form-basics verify=(action 'verify' name)}}
    {{/preprint-form-section}}
{{/with}}

{{#with _names.[2] as |name|}}
    {{#preprint-form-section id='preprint-form-subjects' select=(action 'select' name)}}
        {{preprint-form-header name=name enabled=enabled.[1]}}
        {{preprint-form-subjects verify=(action 'verify' name)}}
    {{/preprint-form-section}}
{{/with}}

{{#with _names.[3] as |name|}}
    {{#preprint-form-section id='preprint-form-authors' select=(action 'select' name)}}
        {{preprint-form-header name=name enabled=enabled.[2]}}
        {{preprint-form-authors verify=(action 'verify' name)}}
    {{/preprint-form-section}}
{{/with}}

{{#with _names.[4] as |name|}}
    {{#preprint-form-section id='preprint-form-submit' select=(action 'select' name)}}
        {{preprint-form-header name=name enabled=enabled.[3]}}
        {{#cp-panel-body}}
            <p>Sharing this project will make both the manuscript and the project associted with it public.</p>
            <button type="submit">Share</button>
        {{/cp-panel-body}}
    {{/preprint-form-section}}
{{/with}}
