<strong>Title:</strong> <br>
{{input class="form-control" value=title}}<br>
<strong>Abstract:</strong> <br>
{{textarea class="form-control noresize" value=abstract rows="5"}}<br>
<strong>Authors:</strong> <br>
{{input class="form-control" value=authors}}<br>
<strong>Subject:</strong> <br>
<select name="subject" class="form-control">
    <option>Biology and life sciences</option>
    <option>Computer and information sciences</option>
    <option>Earth sciences</option>
    <option>Ecology and enviromental sciences</option>
    <option>Engineering and technology</option>
    <option>Medicine and health sciences</option>
    <option>People and places</option>
    <option>Physical sciences</option>
    <option>Research and analysis methods</option>
    <option>Science policy</option>
    <option>Social sciences</option>
</select><br>
<strong>Tags:</strong> <span class="text-muted">(optional)</span><br>
{{input class="form-control" value=tags}}<br>
<strong>Accepted in:</strong> <span class="text-muted">(optional)</span> <br>
{{input class="form-control" value=journal}}<br>
<strong>Content type:</strong> <span class="text-muted">(optional)</span> <br>
{{input class="form-control" value=preprint}}<br>
<strong>Link to an existing OSF file:</strong> <span class="text-muted">(optional)</span> <br>
{{input class="form-control" value=project}}<br>
<strong>Citation:</strong> <span class="text-muted">(optional)</span> <br>
<select class="form-control">
    <option>APA</option>
    <option>MLA</option>
    <option>Chicago</option>
</select><br>
<!--<button class="btn btn-primary" {{!--action "makePost" title abstract authors subject journal preprint project--}}>Add Preprint</button>-->
<button class="btn btn-primary" onclick={{action actionName title abstract authors tags journal}}>{{buttonText}}</button>
