{{name}}

<div class="preprint-section-status pull-right">
    {{#if (and uploadSaveState (eq name 'Upload'))}}
        <span class="text-success text-smaller m-r-md"> Changes Saved! </span>
    {{else if (and basicsSaveState (eq name 'Basics'))}}
        <span class="text-success text-smaller m-r-md"> Changes Saved! </span>
    {{else if (and authorsSaveState (eq name 'Authors'))}}
        <span class="text-success text-smaller m-r-md"> Changes Saved! </span>
    {{else if (and disciplineSaveState (eq name 'Discipline'))}}
        <span class="text-success text-smaller m-r-md"> Changes Saved! </span>
    {{/if}}
    {{#if showValidationIndicator}}
        {{#if (or valid (not isValidationActive))}}
            {{fa-icon 'check-circle'}}
        {{else}}
            {{fa-icon 'times-circle'}}
        {{/if}}
    {{/if}}
</div>

{{#if (and (not isOpen) (eq name 'Upload'))}}
    <div class="m-t-md preprint-header-preview">
        <p><em class="m-r-md"> Preprint file: </em> {{preprintFile}} </p>
        <p><em class="m-r-md"> Preprint title: </em> {{preprintTitle}} </p>
        <i class="text-smaller">Click to Edit</i>
    </div>
{{/if}}

{{#if (and isValidationActive (not isOpen))}}
    <div class="m-t-md preprint-header-preview">
        {{#if (eq name 'Basics')}}
            <p><em class="m-r-md"> DOI: </em> {{if doi doi 'None'}} </p>
            <p>
                <em class="m-r-md"> Tags: </em>
                {{#if tags}}
                    <ul class="comma-list">
                        {{#each tags as |tag|~}}
                            <li> {{~tag~}} </li>
                        {{~/each}}
                    </ul>
                {{else}}
                    <span> None</span>
                {{/if}}
            </p>
            <p><em class="m-r-md"> Abstract: </em> {{if abstract abstract 'None'}} </p>
        {{else if (eq name 'Discipline')}}
            {{#if subjects}}
                {{#each subjects as |subject|}}
                    <span class="subject-preview">{{subject.text}} </span>
                {{/each}}
            {{else}}
                <span> None </span>
            {{/if}}

        {{else if (eq name 'Authors')}}
            <ul class="author-preview comma-list">
                {{#each authors as |contrib| ~}}
                    <li>
                        {{~#if contrib.unregisteredContributor~}}
                            {{~contrib.unregisteredContributor~}}
                        {{else}}
                            {{~contrib.users.fullName~}}
                        {{~/if~}}
                    </li>
                {{~/each}}
            </ul>
        {{/if}}

        <i class="text-smaller m-t-md">Click to Edit</i>

    </div>
{{/if}}
