{{#cp-panels accordion=true}}
    {{#unless preprintLocked}}
        {{!CHOOSE PROJECT SECTION}}
        {{#preprint-form-section class="upload-section-block" allowOpen=true name='chooseProject' open=true innerForm=true}}
            {{preprint-form-header name='choose_project' selectedNode=selectedNode showValidationIndicator=false}}
            {{#preprint-form-body}}
                <div class="m-t-sm">
                    {{#power-select search=(perform _getInitialUserNodes) optionsComponent=(component 'lazy-options' loadMore=(action "getMoreUserNodes") isLoading=isLoading canLoadMore=canLoadMore) oninput=(action "getDefaultUserNodes") onfocus=(action "onFocus") onblue=(action "onBlur") options=userNodes placeholder="Click to select" selected=selectedNode onchange=(action "nodeSelected") as |node|}}
                        {{get-ancestor-descriptor node}} <strong> {{node.title}}</strong>
                    {{/power-select}}
                </div>
                <p class="text-muted text-smaller m-t-xs">
                    {{t "components.preprint-form-project-select.existing_project_selector"}}
                </p>
            {{/preprint-form-body}}
        {{/preprint-form-section}}
    {{/unless}}
    {{#if (eq currentState 'existing')}}
        {{#if selectedNode}}
            {{#if isNodeAdmin}}
                <div>
                    {{#if osfProviderLoaded}}
                        {{!CHOOSE EXISTING FILE SECTION - THIS FILE WILL BE COPIED FROM THE NODE TO THE PREPRINT}}
                        {{#preprint-form-section class="upload-section-block" allowOpen=true name='selectExistingFile' open=false innerForm=true}}
                            {{preprint-form-header name=(if preprintLocked 'preprint_file' 'choose_file') selectedFile=selectedFile showValidationIndicator=false}}
                            {{#preprint-form-body}}
                                {{old-file-browser rootItem=osfStorageProvider openFile=(action 'selectFile')}}
                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                        {{#if (and selectedNode (or hasFile selectedFile)) use='crossFade'}}
                            {{!FINALIZE UPLOAD SECTION - ADD TITLE}}
                            {{#preprint-form-section class="upload-section-block" allowOpen=true name='finalizeUpload' open=false innerForm=true}}
                                {{preprint-form-header title=title name='finalize_upload' showValidationIndicator=false currentProvider=provider}}
                                {{#preprint-form-body}}
                                    <p class="text-muted text-smaller m-t-xs">
                                        {{t "components.preprint-form-project-select.copy_file_help_text" documentType=provider.documentType}}
                                    </p>
                                    <p class="text-muted text-smaller m-t-xs">
                                        {{t "components.preprint-form-project-select.edit_preprint_title" documentType=provider.documentType}}:
                                    </p>
                                    <form role="button" onchange={{action 'track' 'input' 'onchange' 'Submit - Add title, Connect preprint to existing project'}}>
                                        {{preprint-title-editor documentType=provider.documentType title=title titleValid=titleValid pressSubmit=(action createPreprintCopyFile name)}}
                                    </form>
                                {{/preprint-form-body}}
                            {{/preprint-form-section}}
                        {{/if}}
                    {{/if}}
                </div>
            {{else}}
                {{#if (not-eq currentState 'start')}}
                    <p class="alert alert-danger" role="alert">
                        {{t "components.preprint-form-project-select.admin_only"}}
                    </p>
                {{/if}}
            {{/if}}
        {{/if}}
        {{#unless preprintLocked}}
            <div class="p-t-xs pull-right">
                <button class="btn btn-default" {{action changeInitialState startState}}>{{t "global.back"}}</button>
                <button class="btn btn-primary" disabled={{not (and (not uploadInProgress)(and title (and selectedFile titleValid)))}} {{action createPreprintCopyFile}}>{{t "submit.body.save_continue"}}</button>
            </div>
        {{/unless}}
    {{/if}}
    {{#if chooseSupplementalProject}}
        {{#preprint-form-section class="upload-section-block" allowOpen=true name='chooseSupplementalProject' open=true}}
            {{#preprint-form-body}}
                <div class="m-t-sm">
                    {{#power-select search=(perform _getInitialUserNodes) optionsComponent=(component 'lazy-options' loadMore=(action "getMoreUserNodes") isLoading=isLoading canLoadMore=canLoadMore) oninput=(action "getDefaultUserNodes") onfocus=(action "onFocus") onblue=(action "onBlur") options=userNodes placeholder="Click to select" selected=selectedSupplementalProject onchange=(action "supplementalProjectSelected") as |node|}}
                        {{get-ancestor-descriptor node}} <strong> {{node.title}}</strong>
                    {{/power-select}}
                </div>
                <p class="text-muted text-smaller m-t-xs">
                    {{t "components.preprint-form-project-select.existing_project_selector"}}
                </p>
                <p class="text-smaller">
                    <strong>{{t "submit.body.supplemental_existing_help_text"}}</strong>
                </p>
                <div class="row m-t-md">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button {{action changeSupplementalPickerState startState}} class="btn btn-default">{{t "global.back"}}</button>
                            {{#if editMode}}
                                <button {{action updateSupplementalNode}} disabled={{not selectedSupplementalProject}} class="btn btn-primary">{{t "submit.body.save_continue"}}</button>
                            {{else}}
                                <button {{action setSupplementalTitleFromSelected}} disabled={{not selectedSupplementalProject}} class="btn btn-primary">{{t "submit.body.save_continue"}}</button>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/preprint-form-body}}
        {{/preprint-form-section}}
    {{/if}}
{{/cp-panels}}
