{{#cp-panels accordion=true}}
    {{#preprint-form-section class="upload-section-block" allowOpen=true name='chooseProject' open=true}}
        {{preprint-form-header name='choose_project' selectedNode=selectedNode showValidationIndicator=false}}
        {{#preprint-form-body}}
            <p class="text-muted">
                {{t "components.preprint-form-project-select.existing_project_selector"}}
            </p>
            {{#if (not userNodesLoaded)}}
                <div class="text-center">
                    {{fa-icon 'spinner' pulse=true size=3}}

                </div>
            {{else}}
                {{#if userNodes}}
                    <div class="p-b-md">
                        {{#power-select options=userNodes searchField='title' selected=selectedNode onchange=(action "nodeSelected") as |node|}}
                            {{get-ancestor-descriptor node}} <strong> {{node.title}}</strong>
                        {{/power-select}}
                    </div>
                {{else}}
                    <p class="m-t-md text-danger"> {{t "components.preprint-form-project-select.no_valid_existing_nodes"}} </p>
                {{/if}}
            {{/if}}
        {{/preprint-form-body}}
    {{/preprint-form-section}}
    {{#if selectedNode}}
        {{#if isAdmin}}
            {{#if (and fileSelect (eq existingState _existingState.CHOOSE))}}
                {{#preprint-form-section class="upload-section-block" allowOpen=true name='chooseFile' open=false}}
                    {{preprint-form-header name='choose_file' showValidationIndicator=false}}
                    {{#preprint-form-body}}
                        <form class="form">
                            <div class="toggle-button">
                                <div class="row">
                                    <div class="col-xs-3 col-xs-offset-3 text-center">
                                        <input id='existing' class="radio_item" onchange={{action 'changeExistingState' _existingState.NEWFILE}} type="radio" checked={{eq existingState _existingState.NEWFILE}}>
                                        <label for="existing" class='choose-large'><i class="fa fa-cloud-upload"></i> {{t "components.preprint-form-project-select.upload_preprint"}}</label>
                                    </div>
                                    <div class="col-xs-3 text-center">
                                        <input id='newfile' class="radio_item" onchange={{action 'changeExistingState' _existingState.EXISTINGFILE}} type="radio" checked={{eq existingState _existingState.EXISTINGFILE}}>
                                        <label class='choose-large' for="newfile"><i class="fa fa-th-list"></i>{{t "components.preprint-form-project-select.select_existing_file"}}</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    {{/preprint-form-body}}
                {{/preprint-form-section}}
            {{/if}}
            {{#if (eq existingState _existingState.EXISTINGFILE)}}
                <div>
                    {{#if osfProviderLoaded}}
                        {{#preprint-form-section class="upload-section-block" allowOpen=true name='selectExistingFile' open=false}}
                            {{preprint-form-header name='choose_file' selectedFile=selectedFile showValidationIndicator=false}}
                            {{#preprint-form-body}}
                                <div class="m-t-sm">
                                    <form class="form">
                                        <div class="toggle-button">
                                            <input id='existing' onchange={{action 'changeExistingState' _existingState.NEWFILE}} type="radio" checked={{eq existingState _existingState.NEWFILE}}>
                                            <label for="existing"><i class="fa fa-cloud-upload"></i> </label>

                                            <input id='newfile' onchange={{action 'changeExistingState' _existingState.EXISTINGFILE}} type="radio" checked={{eq existingState _existingState.EXISTINGFILE}}>
                                            <label for="newfile"><i class="fa fa-th-list"></i> </label>
                                        </div>
                                    </form>
                                </div>
                                {{file-browser rootItem=osfStorageProvider openFile=(action 'selectFile')}}
                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                        {{#if (and selectedNode (or hasFile selectedFile)) use='crossFade'}}
                            {{#preprint-form-section class="upload-section-block" allowOpen=true name='organize' open=false}}
                                {{preprint-form-header isTopLevelNode=isTopLevelNode convertOrCopy=convertOrCopy name='organize' showValidationIndicator=false}}
                                {{#preprint-form-body}}
                                    {{convert-or-copy-project nextUploadSection=nextUploadSection clearDownstreamFields=clearDownstreamFields nodeTitle=nodeTitle node=node isTopLevelNode=isTopLevelNode titleValid=titleValid convertProjectConfirmed=convertProjectConfirmed convertOrCopy=convertOrCopy}}
                                {{/preprint-form-body}}
                            {{/preprint-form-section}}
                            {{#if (or (eq convertOrCopy 'copy') (and (eq convertOrCopy 'convert') convertProjectConfirmed)) use='crossFade'}}
                                {{#preprint-form-section class="upload-section-block" allowOpen=true name='finalizeUpload' open=false}}
                                    {{preprint-form-header nodeTitle=nodeTitle name='finalize_upload' showValidationIndicator=false}}
                                    {{#preprint-form-body}}
                                        {{#if (eq convertOrCopy 'convert')}}
                                            {{#if convertProjectConfirmed}}
                                                <label class="text-muted title-label">  {{if isTopLevelNode (t "components.preprint-form-project-select.edit_preprint_title_project") (t "components.preprint-form-project-select.edit_preprint_title_component")}} </label>
                                            {{/if}}
                                        {{/if}}
                                        {{preprint-title-editor nodeTitle=nodeTitle titleValid=titleValid}}
                                        <div class="row text-center m-v-md">
                                            <p>{{t "components.preprint-form-project-select.initiate_preprint_process"}}  </p>
                                            <button class="btn btn-primary" disabled={{or (and (eq convertOrCopy 'convert') (not convertProjectConfirmed))(not (and selectedFile titleValid))}} {{action (if (eq convertOrCopy 'convert') existingNodeExistingFile createComponentCopyFile) name}}>{{t "submit.body.save_continue"}}</button>
                                        </div>
                                    {{/preprint-form-body}}
                                {{/preprint-form-section}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </div>
            {{else if (eq existingState _existingState.NEWFILE)}}
                {{file-uploader
                    changeInitialState=changeInitialState
                    nextUploadSection=nextUploadSection
                    changeExistingState = (action "changeExistingState")
                    isTopLevelNode=isTopLevelNode
                    finishUpload=finishUpload
                    startState=startState
                    nodeTitle=nodeTitle
                    currentUser=currentUser
                    osfFile=selectedFile
                    hasFile=hasFile
                    file=file
                    contributors=contributors
                    node=node
                    selectedNode=selectedNode
                    parentNode=parentNode
                    convertProjectConfirmed=convertProjectConfirmed
                    convertOrCopy=convertOrCopy
                    existingState=existingState
                    _existingState=_existingState
                    isTopLevelNode=isTopLevelNode
                    clearDownstreamFields=clearDownstreamFields
                }}
            {{/if}}
        {{else}}
            {{#unless (eq currentState 'start')}}
                <p class="alert alert-danger" role="alert">
                    {{t "components.preprint-form-project-select.admin_only"}}
                </p>
            {{/unless}}
        {{/if}}
    {{/if}}
{{/cp-panels}}
 <div class="p-t-xs">
     <button class="btn btn-default" {{action changeInitialState startState}}>{{t "global.back"}}</button>
 </div>