<strong>Title:</strong> <br>
{{input class="form-control" value=title}}<br>
<strong>Abstract:</strong> <br>
{{textarea class="form-control noresize" value=abstract rows="5"}}<br>
<strong>Authors:</strong> <br>
{{input class="form-control" value=authors}}<br>
<strong>Subject:</strong> <br>
<select class="form-control">
    <option>Biology and Life Science</option>
    <option>Computer and Information sciences</option>
    <option>Earth Science</option>
    <option>Ecology and Enviromental Sciences</option>
    <option>Engineering and technology</option>
    <option>Medicine and health sciences</option>
    <option>People and places</option>
    <option>Physical Sciences</option>
    <option>Research and analysis methods</option>
    <option>Science policy</option>
    <option>Social Sciences</option>
</select><br>
<strong>Tags:</strong> <span class="text-muted">(optional)</span><br>
{{input class="form-control" value=subject}}<br>
<strong>Accepted in:</strong> <span class="text-muted">(optional)</span> <br>
{{input class="form-control" value=journal}}<br>
<strong>Content type:</strong> <span class="text-muted">(optional)</span> <br>
{{input class="form-control" value=preprint}}<br>
<strong>Link to an existing OSF file:</strong> <span class="text-muted">(optional)</span> <br>
{{input class="form-control" value=project}}<br>
<strong>Citation:</strong> <span class="text-muted">(optional)</span> <br>
<select class="form-control">
    <option>APA</option>
    <option>MLA</option>
    <option>Chicago</option>
</select><br>
<!--<button class="btn btn-primary" {{!--action "makePost" title abstract authors subject journal preprint project--}}>Add Preprint</button>-->
{{#link-to "preprints" class="btn btn-primary"}}Add preprint{{/link-to}}