{{#liquid-bind state as |currentState|}}
    <div class={{currentState}}>
        {{#if (eq currentState _State.START)}}
            <button class="col-md-4"{{action 'changeState' _State.NEW}}>Upload a New File</button>
            <button class="col-md-4"{{action 'changeState' _State.EXISTING}}>Select a file from OSF</button>

        {{else if (eq currentState _State.NEW)}}
            {{dropzone-widget buildUrl="/"}}
            <button {{action 'changeState' _State.START}}>Back</button>

        {{else if (eq currentState _State.EXISTING)}}
            {{file-widget}}
            <button {{action 'changeState' _State.START}}>Back</button>

        {{else}}
            {{log 'preprint-form-upload: bad state'}}
        {{/if}}
    </div>
{{/liquid-bind}}
