{{name}}

{{#if (and (not isOpen) (eq name 'Upload'))}}
    <p><label> Preprint file: </label> {{preprintFile}} </p>
    <p><label> Preprint title: </label> {{preprintTitle}} </p>
{{/if}}

{{#if (and isValidationActive (not isOpen))}}
    {{#if (eq name 'Basics')}}
        <p><label> DOI: </label> {{if doi doi 'None'}} </p>
        <p>
            <label> Tags: </label>
            {{#if tags}}
                {{#each tags as |tag|}}
                    <span> tag </span>
                {{/each}}
            {{else}}
                None
            {{/if}}
        </p>
        <p><label> Abstract: </label> {{if abstract abstract 'None'}} </p>
    {{else if (eq name 'Subjects')}}
        {{#if subjects.[0]}}
            {{#each subjects as |subject|}}
                <p>{{subject.text}} </p>
            {{/each}}
        {{else}}
            <p> None </p>
        {{/if}}

    {{else if (eq name 'Authors')}}
        {{#each authors as |contrib|}}
            {{#if contrib.unregisteredContributor}}
                <p>{{contrib.unregisteredContributor}}</p>
            {{else}}
                <p>{{contrib.users.fullName}} </p>
            {{/if}}
        {{/each}}
    {{/if}}
{{/if}}


<div class="preprint-section-status pull-right">
    {{#if showValidationIndicator}}
        {{#if (or valid (not isValidationActive))}}
            {{fa-icon 'check-circle'}}
        {{else}}
            {{fa-icon 'times-circle'}}
        {{/if}}
    {{/if}}
</div>
