<h2>Step 1: Choose existing OSF project:</h2>
{{#power-select options=userNodes searchField='title' selected=selectedNode onchange=(action "nodeSelected") as |node|}}
    <strong>{{node.title}}</strong>
{{/power-select}}

{{#liquid-if selectedNode use='crossFade'}}
    {{#liquid-bind selectedNode use='crossFade'}}
        {{#if isAdmin}}
            {{#unless selectedNode.public}}
                <p class="alert alert-warning" role="alert">
                    This project is private and will be made public
                </p>
            {{/unless}}
            {{#if (and fileSelect osfProviderLoaded)}}
                <h2>Step 2: Choose existing file:</h2>

                <div>
                    {{file-browser rootItem=osfStorageProvider openFile=(action 'selectFile')}}
                </div>
                <div>
                    <span id='selectedFileExisting'> Selected file: {{if selectedFile selectedFile.name 'None selected'}} </span>
                </div>
            {{/if}}
        {{else}}
            <p class="alert alert-danger" role="alert">
                You must be the admin of this component to share it.

                Please ask the admin of this project to make you an admin
                so you may share this component.
            </p>
        {{/if}}
    {{/liquid-bind}}
{{/liquid-if}}

{{#liquid-if selectedFile use='crossFade'}}
    {{#liquid-bind selectedFile use='crossFade'}}
        <h2>Step 3: Convert this project or copy file to new component:</h2>
        <p class="alert alert-info" role="alert">
            If you choose to convert this project, its contributors will be considered authors of this preprint.
            Any changes to preprint contributors will also change the contributors of the project.

            If you do not want to change the original OSF project contributors, then you can copy the file to a new component.
        </p>
        <div id='convertExistingOrCreateComponent'>
            <p> <input onchange={{action "convertExisting"}} type="radio" name="createComponentDecision" checked={{not shouldCreateChild}}> Convert this OSF Project </p>
            <p> <input onchange={{action "createComponent" value="true"}} type="radio" name="createComponentDecision" checked={{shouldCreateChild}}> Copy file to new component </p>
        </div>
        <br>
    {{/liquid-bind}}
{{/liquid-if}}
