<div class="section-header">
    {{t (concat "components.preprint-form-header.name." name) documentType=currentProvider.documentType}}
    {{#if (eq name "Supplemental")}}
        ({{t "global.optional"}})
    {{/if}}
</div>

<div class="preprint-section-status pull-right">
    {{#if (or
        (and serverSaveState (eq name 'Server'))
        (and uploadSaveState (eq name 'File'))
        (and basicsSaveState (eq name 'Basics'))
        (and authorsSaveState (eq name 'Authors'))
        (and supplementalSaveState (eq name 'Supplemental'))
        (and disciplineSaveState (eq name 'Discipline'))
        (and coiSaveState (eq name 'COI')) )}}
        <span class="text-success text-smaller m-r-md"> {{t "components.preprint-form-header.changes_saved"}} </span>
    {{/if}}
    {{#if showValidationIndicator}}
        {{fa-icon 'floppy-o'}}
    {{/if}}
</div>

{{#if (and (not isOpen) (eq name 'Server'))}}
    <div class="m-t-md preprint-header-preview">
        <p>
            <em class="m-r-md"> {{t "components.preprint-form-header.server"}}: </em>
            {{#if currentProvider}}
                <img alt="provider logo" class="current-provider" title="{{currentProvider.name}}" src={{provider-asset currentProvider.id 'square_color_no_transparent.png'}}>
                {{if (eq currentProvider.name 'Open Science Framework') 'OSF Preprints' currentProvider.name}}
            {{/if}}
        </p>
    </div>
{{/if}}

{{#if (and (not isOpen) (eq name 'File'))}}
    <div class="m-t-md preprint-header-preview">
        {{#if preprintFile}}
            <p><em class="m-r-md"> {{t "components.preprint-form-header.file" documentType=currentProvider.documentType}}: </em> {{preprintFile.name}} <em>(Version: {{preprintFile.currentVersion}})</em>  </p>
        {{/if}}
        {{#if preprintTitle}}
            <p><em class="m-r-md"> {{t "components.preprint-form-header.title" documentType=currentProvider.documentType}}: </em> {{preprintTitle}} </p>
        {{/if}}
    </div>
{{/if}}

{{#if (and (not isOpen) (eq name 'Supplemental'))}}
    <div class="m-t-md preprint-header-preview">
        {{#if supplementalProjectTitle}}
            <p><em class="m-r-md"> {{t "components.preprint-form-header.connected_project"}}: </em> {{supplementalProjectTitle}} </p>
        {{/if}}
    </div>
{{/if}}

{{#if (not isOpen)}}
    <div class="m-t-md preprint-header-preview">
        {{#if (or isValidationActive editMode)}}
            {{#if (eq name 'Basics')}}
                <p><em class="m-r-md"> {{t "global.license"}}: </em> {{if license license.name (t "global.none")}} </p>
                <p><em class="m-r-md"> {{t "global.doi"}}: </em> {{if doi doi (t "global.none")}} </p>
                <p>
                    <em class="m-r-md"> {{t "global.tags"}}: </em>
                    {{#if tags}}
                        <ul class="comma-list">
                            {{#each tags as |tag|~}}
                                <li> {{~fix-special-char tag~}} </li>
                            {{~/each}}
                        </ul>
                    {{else}}
                        <span>{{t "global.none"}}</span>
                    {{/if}}
                </p>
                <em class="m-r-md"> {{t "global.abstract"}}: </em>
                <p class="abstract">{{if abstract abstract (t "global.none")}} </p>
            {{else if (eq name 'Discipline')}}
                {{#if subjects}}
                    {{#each subjects as |subject|}}
                        <span class="subject-preview">{{subject.text}} </span>
                    {{/each}}
                {{else}}
                    <span>{{t "global.none"}}</span>
                {{/if}}
            {{else if (eq name 'Authors')}}
                <ul class="author-preview comma-list">
                    {{#each authors as |contrib| ~}}
                        <li>
                            {{~#if contrib.unregisteredContributor~}}
                                {{~contrib.unregisteredContributor~}}
                            {{else if (user-errors contrib)}}
                                {{~disabled-user-name contrib~}}
                            {{else}}
                                {{~contrib.users.fullName~}}
                            {{~/if~}}
                        </li>
                    {{~/each}}
                </ul>
            {{else if (eq name 'COI')}}
                <p>
                    <em class="m-r-md">
                        {{t "submit.body.conflict_of_interest.title"}}: 
                    </em>
                    {{if hasCoi (t "submit.body.conflict_of_interest.yes") (t "submit.body.conflict_of_interest.no")}}
                </p>
                <p>
                    <em class="m-r-md">
                        {{t "submit.body.conflict_of_interest.coi_statement"}}: 
                    </em>
                    {{if (and hasCoi coiStatement) coiStatement (t "submit.body.conflict_of_interest.placeholder")}}
                </p>
            {{/if}}
        {{/if}}

        {{#if (eq name 'choose_project')}}
            {{#if selectedNode}}
                <p> {{selectedNode.title}} </p>
            {{/if}}
        {{/if}}

        {{#if (or (eq name 'choose_file') (eq name 'preprint_file'))}}
            {{#if selectedFile}}
                <p> {{selectedFile.name}}
                    {{#if fileVersion}}
                        <em> (Version: {{fileVersion}})</em>
                    {{/if}}
                </p>
            {{else}}
                {{#if file}}
                    <p> {{file.name}} </p>
                {{/if}}
            {{/if}}
        {{/if}}

        {{#if (eq name 'finalize_upload')}}
            {{#if title}}
                <p>{{t "components.preprint-form-header.title" documentType=currentProvider.documentType}}: {{title}} </p>
            {{/if}}
        {{/if}}

        {{#if (eq name 'title_of_preprint')}}
            {{#if title}}
                <p> {{title}} </p>
            {{/if}}
        {{/if}}


        {{#if (and (is-section-editable name) (or editMode (or (not showValidationIndicator) isValidationActive)))}}
            <i class="text-smaller m-t-md">{{t "components.preprint-form-header.click_edit"}}</i>
        {{/if}}
    </div>
{{/if}}
