{{!Provider Carousel}}

<div id="providerCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="col-sm-1">
        <a class="carousel-control-prev" href="#providerCarousel" role="button" data-slide="prev">
            <span> <i class="fa fa-angle-left"></i> </span>
            <span class="sr-only">Previous</span>
        </a>
    </div>
    <div class="col-sm-1 pull-right">
        <a class="carousel-control-next" href="#providerCarousel" role="button" data-slide="next">
            <span> <i class="fa fa-angle-right"></i> </span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="carousel-inner" role="listbox">
        {{#each slides as |slide index|}}
            <div class={{if (not index) "item active" "item"}}>
                {{#each slide as |provider index|}}
                     <div class={{if (not index) "col-sm-2 col-sm-offset-1" "col-sm-2"}}>
                        <a href="/preprints/{{provider.id}}"
                           title={{provider.name}}
                           onbeforeclick={{action 'click' 'link' (concat 'Index - Provider - ' provider.name)}}
                        >
                            <div class="provider-logo provider-{{provider.id}}"></div>
                        </a>
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
</div>

