{{!Provider Carousel}}
<div id="providerCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner" role="listbox">
        {{#each slides as |slide index|}}
            <div class={{if (not index) "item active" "item"}}>
                {{#each slide as |provider index|}}
                    <div class={{if (not index) (concat "col-sm-2 " columnOffset) "col-sm-2"}}>
                        {{!-- <a href="{{brandedPreprintUrl provider path=(if lightLogo '' '/discover')}}"
                            title={{provider.name}}
                            onclick={{action 'click' 'link' (concat 'Index - Provider Carousel - ' provider.name)}}
                            >
                            {{#if lightLogo}}
                                <div class="provider-logo provider-{{provider.id}}" style="background-image: url('{{provider-asset provider.id 'wide_white.png'}}')"></div>
                            {{else}}
                                <div class="discover-provider-logo provider-{{provider.id}}-dark" style="background-image: url('{{provider-asset provider.id 'wide_black.png'}}')"></div>
                            {{/if}}
                        </a> --}}
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
    {{#if (gt numProviders itemsPerSlide)}}
        <a class="left carousel-control" href="#providerCarousel" role="button" data-slide="prev">
            <span class={{concat "icon-prev fa fa-angle-left" (if (not lightLogo) " dark-control")}}></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#providerCarousel" role="button" data-slide="next">
            <span class={{concat "icon-next fa fa-angle-right" (if (not lightLogo) " dark-control")}}></span>
            <span class="sr-only">Next</span>
        </a>
    {{/if}}
</div>
