<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-12">
                <span class="pull-right">{{moment-format result.date_updated "MMMM YYYY"}}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>
                    {{#link-to "index"}}
                        {{result.title}}
                    {{/link-to}}
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {{#each result.contributors as |contributor index|}}
                    {{#if index}}
                        |
                    {{/if}}
                    {{#link-to "index"}}
                        {{contributor.familyName}}, {{contributor.givenName}}
                    {{/link-to}}
                {{/each}}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10">
                {{! subjects }}
            </div>
            <div class="col-sm-2">
                {{result.sources}}
            </div>
        </div>
    </div>

    {{#if showBody}}
        <div class="panel-body">
            {{result.description}}

            <div class="row">
                <div class="col-sm-12">
                    {{tags-widget tags=result.tags}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-muted">
                    Released on: {{moment-format result.date_updated}}
                </div>
            </div>
        </div>
    {{/if}}

    <div class="panel-footer text-center" {{action "toggleShowBody"}}>
        {{fa-icon footerIcon size=2}}
    </div>
</div>