<div class="panel panel-default search-result">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                {{!Title}}
                {{log result}}
                <h4>
                    {{#if osfID}}
                        {{#link-to "content" osfID}}{{result.title}}{{/link-to}}
                    {{else}}
                        {{#if hyperlink}}
                            <a href='{{hyperlink}}'>{{result.title}}</a>
                        {{else}}
                            <span>{{result.title}}</span>
                        {{/if}}
                    {{/if}}
                </h4>
                {{!Authors}}
                <div>
                    <ul class="comma-list">
                        {{#each result.contributors as |contributor index|}}
                            <li>
                                {{#if result.osfProvider}}
                                    <a href={{contributor.users.id}}>
                                        {{contributor.users.familyName}}{{if contributor.users.familyName ', '}}{{contributor.users.givenName}}
                                    </a>
                                {{else}}
                                    {{contributor.users.familyName}}{{if contributor.users.familyName ', '}}{{contributor.users.givenName}}
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                </div>

                {{#if result.subjects}}
                    <div class="m-t-sm">
                        {{#each result.subjects as |subject|}}
                            <span class='subject-preview pointer' onclick={{action 'select' subject}}>{{subject.text}}</span>
                        {{/each}}
                    </div>
                {{/if}}

                {{!Abstract}}
                {{#if result.abstract}}
                    <div class="text-muted m-t-sm">
                        {{if showBody result.abstract shortDescription}}
                    </div>
                {{/if}}

                {{!Provider and date}}
                <div class="m-t-sm">
                    <span class="search-result-providers">
                        {{#each result.providers as |provider index|}}
                            {{if index '| '}}{{provider.name}}
                        {{/each}}
                    </span>
                    {{#if result.date_modified}} {{! moment-format will use current time if null}}
                        <span>{{moment-format result.date_modified "MMMM YYYY"}}</span>
                    {{/if}}
                </div>


                {{#if showBody}}
                    {{!Tags}}
                    {{#if result.tags}}
                        <div class="m-t-sm">
                            {{#each result.tags as |tag index|}}
                                <span class="badge">{{tag}}</span>
                            {{/each}}
                        </div>
                    {{/if}}
                    {{!Released on}}
                    <div class="m-t-sm"> Released on: {{moment-format result.date_created}} </div>
                {{/if}}

            </div>
        </div>

        <div class="text-center" {{action "toggleShowBody"}}>
            <a href=''>{{fa-icon footerIcon size=1}}</a>
        </div>
    </div>
</div>
