<div class="panel panel-default search-result">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                {{!Title}}
                <h4>
                    {{#if osfID}}
                        {{#link-to "content" osfID invokeAction=(action 'click' 'link' 'Preprints - Discover - Result Title')}}{{result.title}}{{/link-to}}
                    {{else}}
                        {{#if hyperlink}}
                            <a href='{{hyperlink}}' {{action 'click' 'link' 'Preprints - Discover - Result Title' hyperlink}}>{{result.title}}</a>
                        {{else}}
                            <span>{{result.title}}</span>
                        {{/if}}
                    {{/if}}
                </h4>
                {{!Authors}}
                <div>
                    <ul class="comma-list">
                        {{~#each shortContributorList as |contributor|}}
                            {{author-link contributor=contributor}}
                        {{~/each}}
                        {{~if hasMoreContributors "..."}}
                    </ul>
                </div>

                {{!Added on}}
                <div class="m-t-sm"> <em> {{t "global.added_on"}}: {{moment-format result.date "YYYY-MM-DD"}} </em> </div>

                {{#if result.subjects}}
                    <div class="m-t-sm">
                        {{#each result.subjects as |subject|}}
                            <span class='subject-preview pointer' onclick={{action 'select' subject}}>{{subject.text}}</span>
                        {{/each}}
                    </div>
                {{/if}}

                {{!Abstract}}
                {{#if result.abstract}}
                    <div class="text-muted m-t-sm">
                        {{#if showBody}}
                            {{result.description}}
                        {{else}}
                            {{shortDescription}}
                        {{/if}}
                    </div>
                {{/if}}

                {{!Provider and date}}
                <div class="m-t-sm">
                    <span class="search-result-providers">
                        {{#each result.providers as |provider index|}}
                            {{if index '| '}}{{filter-replace provider.name}}
                        {{/each}}
                    </span>
                    <span class="pull-right">
                        {{#if result.dateModified}} {{! moment-format will use current time if null}}
                            <span>{{moment-format result.dateModified "MMMM YYYY"}}</span>
                        {{/if}}
                    </span>
                </div>


                {{#if showBody}}
                    {{!Tags}}
                    {{#if result.hyperLinks}}
                        <ul class="preprints-block-list m-t-sm">
                            {{#each result.hyperLinks as |link|}}
                                <li><a href='{{link.url}}' {{action 'click' 'link' 'Preprints - Discover - Result Hyperlink' link.url}}>{{link.url}}</a></li>
                            {{/each}}
                        </ul>
                    {{/if}}
                    {{#if result.infoLinks}}
                        <ul class="preprints-block-list">
                            {{#each result.infoLinks as |link|}}
                                <li><b>{{link.type}}:</b> {{link.uri}}</li>
                            {{/each}}
                        </ul>
                    {{/if}}
                    {{#if result.tags}}
                        <div class="m-t-sm">
                            {{#each result.tags as |tag index|}}
                                <span class="badge">{{fix-special-char tag}}</span>
                            {{/each}}
                        </div>
                    {{/if}}
                {{/if}}

            </div>
        </div>

        <div class="text-center" {{action "toggleShowBody"}}>
            <a href=''>{{fa-icon footerIcon size=1}}</a>
        </div>
    </div>
</div>
