<div>
    <ul>
        {{#each otherProviders as |item|}}
            <li>
                <label>
                    <input type="checkbox" checked="{{if (or (if-filter item.key state.value) theme.isProvider) 'checked'}}" onclick={{action updateFilters 'provider' item.key}} disabled={{theme.isProvider}}>
                    {{filter-replace item.key filterReplace}}
                    <small>({{number-format item.doc_count}})</small>
                </label>
            </li>
        {{/each}}
        {{#if theme.isProvider}}
            <a href="{{osfUrl}}preprints/discover" onbeforeclick={{action 'click' 'link' 'Discover - Other Preprint Repositories'}}>
                {{t "discover.main.otherRepositories" documentType=theme.provider.content.documentType}}
            </a>
        {{/if}}
    </ul>
</div>
