<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                {{!Title}}
                {{log result}}
                <h4>
                    {{#if osfID}}
                        {{#link-to "content" osfID}}{{result.title}}{{/link-to}}
                    {{else}}
                        {{#if hyperlink}}
                            <a href='{{hyperlink}}'>{{result.title}}</a>
                        {{else}}
                            <span>{{result.title}}</span>
                        {{/if}}
                    {{/if}}
                </h4>
                {{!Authors}}
                <div>
                    {{#each result.contributors as |contributor index|}}
                        {{#if index}}
                            |
                        {{/if}}
                        {{#if result.osfProvider}}
                            <a href={{contributor.users.id}}>
                                {{contributor.users.familyName}}{{if contributor.users.familyName ', '}}{{contributor.users.givenName}}
                            </a>
                        {{else}}
                            {{contributor.users.familyName}}{{if contributor.users.familyName ', '}}{{contributor.users.givenName}}
                        {{/if}}
                    {{/each}}
                </div>


                {{!Abstract}}
                {{#if result.abstract}}
                    <div class="text-muted m-t-sm">{{result.abstract}}</div>
                {{/if}}

                {{!Provider and date}}
                <span>
                    {{#each result.providers as |provider index|}}
                        {{if index '| '}}{{provider.name}}
                    {{/each}}
                </span>
                {{#if result.date_modified}} {{! moment-format will use current time if null}}
                    <span>{{moment-format result.date_modified "MMMM YYYY"}}</span>
                {{/if}}

            </div>
        </div>



        <div class="row">
            <div class="col-sm-8">
                {{#each result.subjects as |subject|}}
                    <span class='badge pointer' onclick={{action 'select' subject}}>{{subject.text}}</span>
                {{/each}}
            </div>
            <div class="col-sm-4">

            </div>
        </div>
        <br>
        {{#if showBody}}

            <div class="row">
                <div class="col-sm-12">
                    {{#each result.tags as |tag index|}}
                        {{if index '| '}}{{tag}}
                    {{/each}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-muted">
                    Released on: {{moment-format result.date_created}}
                </div>
            </div>
        {{/if}}
        <div class="text-center" {{action "toggleShowBody"}}>
            <a href=''>{{fa-icon footerIcon size=1}}</a>
        </div>
    </div>
</div>
