<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                {{#if result.date_modified}} {{! moment-format will use current time if null}}
                    <span class="pull-right">{{moment-format result.date_modified "MMMM YYYY"}}</span>
                {{/if}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>
                    {{#if osfID}}
                        {{#link-to "content" osfID}}{{result.title}}{{/link-to}}
                    {{else}}
                        {{#if hyperlink}}
                            <a href='{{hyperlink}}'>{{result.title}}</a>
                        {{else}}
                            <span>{{result.title}}</span>
                        {{/if}}
                    {{/if}}
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {{#each result.contributors as |contributor index|}}
                    {{#if index}}
                        |
                    {{/if}}
                    {{#if result.osfProvider}}
                        <a href={{contributor.users.id}}>
                            {{contributor.users.familyName}}{{if contributor.users.familyName ', '}}{{contributor.users.givenName}}
                        </a>
                    {{else}}
                        {{contributor.users.familyName}}{{if contributor.users.familyName ', '}}{{contributor.users.givenName}}
                    {{/if}}
                {{/each}}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                {{#each result.subjects as |subject  index|}}
                    {{if index '| '}}{{subject.text}}
                {{/each}}
            </div>
            <div class="col-sm-4">
                {{#each result.providers as |provider index|}}
                    {{if index '| '}}{{provider.name}}
                {{/each}}
            </div>
        </div>
        <br>
        {{#if showBody}}
            {{result.abstract}}
            <div class="row">
                <div class="col-sm-12">
                    {{#each result.tags as |tag|}}
                        <span class="badge">{{tag}}</span>
                    {{/each}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-muted">
                    Released on: {{moment-format result.date_created}}
                </div>
            </div>
        {{/if}}
        <div class="text-center" {{action "toggleShowBody"}}>
            <a href=''>{{fa-icon footerIcon size=1}}</a>
        </div>
    </div>
</div>
