<div class="search-facet-taxonomy">
    <ul>
        {{#each topLevelItem as |item|}}
            <li>
                <button
                    class="pointer m-r-xs taxonomy-caret-button {{if item.showChildren 'taxonomy-show-children'}}"
                    {{action 'expand' item}}
                    aria-label="{{if item.showChildren (t 'global.collapse') (t 'global.expand')}} {{item.text}}"
                >
                    <i class="taxonomy-caret fa {{if item.showChildren 'fa-caret-down' 'fa-caret-right'}}"></i>
                </button>
                <label class="taxonomy-checkbox">
                    <input type="checkbox" checked="{{if (if-filter (concat item.shareTitle "|" item.text) state.value) 'checked'}}" onclick={{action updateFilters 'subject' (concat item.shareTitle "|" item.text)}}>
                    {{item.text}}
                </label>
            </li>
            {{#if item.showChildren}}
                <ul>
                    {{#each item.children as |child|}}
                        <li>
                            {{#if child.childCount }}
                                <button
                                    class="pointer m-r-xs taxonomy-caret-button {{if item.showChildren 'taxonomy-show-children'}}"
                                    {{action 'expand' child}}
                                    aria-label="{{if child.showChildren (t 'global.collapse') (t 'global.expand')}} {{child.text}}"
                                >
                                    <i class="taxonomy-caret fa {{if child.showChildren 'fa-caret-down' 'fa-caret-right'}}"></i>
                                </button>
                            {{else}}
                                <span class="taxonomy-right-padding"></span>
                            {{/if}}
                            <label class="taxonomy-checkbox">
                                <input type="checkbox" checked="{{if (if-filter (concat item.shareTitle "|" item.text "|" child.text) state.value) 'checked'}}" onclick={{action updateFilters 'subject' (concat item.shareTitle "|" item.text "|" child.text)}}>
                                {{child.text}}
                            </label>
                        </li>
                        {{#if child.showChildren}}
                            <ul class="taxonomy-left-padding">
                                {{#each child.children as |grandkid|}}
                                    <li>
                                        <label class="taxonomy-checkbox">
                                            <input type="checkbox" checked="{{if (if-filter (concat item.shareTitle "|" item.text "|" child.text "|" grandkid.text) state.value) 'checked'}}" onclick={{action updateFilters 'subject' (concat item.shareTitle "|" item.text "|" child.text "|" grandkid.text)}}>
                                            {{grandkid.text}}
                                        </label>
                                    </li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    {{/each}}
                </ul>
            {{/if}}
        {{/each}}
    </ul>
</div>
