<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                {{#if result.date_modified}} {{! moment-format will use current time if null}}
                    <span class="pull-right">{{moment-format result.date_modified "MMMM YYYY"}}</span>
                {{/if}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>
                    {{! TODO: link to view page for preprint }}
                    {{#link-to "content" result}}
                        {{result.title}}
                    {{/link-to}}
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {{#each result.contributors as |contributor index|}}
                    {{#if index}}
                        |
                    {{/if}}
                    {{! TODO: link to contributor's page }}
                    {{#link-to "index"}}
                        {{contributor.users.familyName}}, {{contributor.users.givenName}}
                    {{/link-to}}
                {{/each}}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                {{#each result.subjects as |subject  index|}}
                    {{#if index}}
                        ,
                    {{/if}}
                    {{subject.text}}
                {{/each}}
            </div>
            <div class="col-sm-4">
                {{! TODO: Add providers display }}
                {{#each result.providers as |provider|}}
                    {{provider.name}}
                {{/each}}
            </div>
        </div>
        <br>
        {{#if showBody}}
            {{result.abstract}}
            <div class="row">
                <div class="col-sm-12">
                    {{#each result.tags as |tag|}}
                        <span class="badge">{{tag}}</span>
                    {{/each}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-muted">
                    Released on: {{moment-format result.date_created}}
                </div>
            </div>
        {{/if}}
        <div class="text-center" {{action "toggleShowBody"}}>
            <a href=''>{{fa-icon footerIcon size=1}}</a>
        </div>
    </div>
</div>
