<i class="fa fa-share-square-o" aria-hidden="true"></i>
<a>
    {{t "global.share"}}
    {{#bs-popover placement="top" title=(t "global.share")}}
        <div>
            <a><i aria-hidden="true" class="fa fa-twitter-square"></i>{{t "components.share-popup.tweet"}}</a>
            <br>
            <a><i aria-hidden="true" class="fa fa-facebook-square"></i>{{t "components.share-popup.post_facebook"}}</a>
            <br>
            <a><i aria-hidden="true" class="fa fa-linkedin-square"></i>{{t "components.share-popup.share_linkedin"}}</a>
            <br>
            <a><i aria-hidden="true" class="fa fa-envelope-square"></i>{{t "components.share-popup.send_email"}}</a>
            <br>
        </div>
    {{/bs-popover}}
</a>
