{{#file-renderer download=selectedFile.links.download
    width="99%" height="700"}}
{{/file-renderer}}

{{#if supplementList}}
    <p class="f-w-lg p-b-md">{{selectedFile.name}}</p>
    <section class="osf-box p-md m-b-lg">
        {{#liquid-bind supplementList elementId="file-list" tagName="" class="" use=scrollAnim as |list|}}
            {{#each list as |supplement|}}
                {{#if (eq supplement.kind "folder")}}
                    <a href={{projectURL}} style="color:inherit;">
                        <li class="small-files col-xs-2 p-md box" data-toggle="tooltip" title={{supplement.name}}>
                            <i class="fa fa-folder fa-2x p-b-xs" aria-hidden="true"></i>
                        </li>
                    </a>
                {{else}}
                    <li class="small-files col-xs-2 p-md box {{if (eq selectedFile supplement) 'selected'}}" data-toggle="tooltip" title={{supplement.name}} {{action 'changeFile' supplement}}>
                        <i class="fa fa-file-text fa-2x p-b-xs" aria-hidden="true"></i>
                        {{!--#if (eq selectedFile supplement)--}}
                            {{!--<<h2 class="file-selected-arrow">&#9660;</h2>--}}
                        {{!--/if--}}
                    </li>
                {{/if}}
            {{/each}}
        {{/liquid-bind}}
        {{#if showLeftArrow}}
            <button id="leftArrow" class="show-more-button left" {{action 'moveLeft'}}>
                <i class="fa fa-caret-left"></i>
            </button>
        {{/if}}
        {{#if showRightArrow}}
            <button id="rightArrow" class="show-more-button right" {{action 'moveRight'}}>
                <i class="fa fa-caret-right"></i>
            </button>
        {{/if}}
    </section>
{{/if}}