{{#file-renderer download=selectedFile.links.download
    width="100%" height="700"}}
{{/file-renderer}}

{{#if supplementList}}
    <h5>{{selectedFile.name}}</h5>
    <section>
        <button class="show-more-button text-muted left" {{action 'moveLeft'}}>
            <i class="fa fa-caret-left"></i>
        </button>
        {{#liquid-bind supplementList elementId="file-list" tagName="ul" class="p-l-md p-r-md" use=scrollAnim as |list|}}
            {{#each list as |supplement|}}
                <li class="small-files col-xs-2 p-md box {{if (eq selectedFile supplement) 'selected'}}" {{action 'changeFile' supplement}}>
                    {{#if (eq supplement.kind "folder")}}
                        <i class="fa fa-folder fa-3x p-b-xs" aria-hidden="true" href={{concat model.baseUrl model.project}}></i> <p>{{supplement.name}}</p>{{!Actually make a link here}}
                    {{else}}
                        <i class="fa fa-file-text fa-3x p-b-xs" aria-hidden="true" ><br></i><p>{{supplement.name}}</p>
                    {{/if}}
                </li>
            {{/each}}
        {{/liquid-bind}}
        <button class="show-more-button text-muted right" {{action 'moveRight'}}>
            <i class="fa fa-caret-right"></i>
        </button>
    </section>
{{/if}}