{{#file-renderer download=selectedFile.links.download
    width="99%" height="700"}}
{{/file-renderer}}

<div class="row">
    <div class="col-sm-6">
        <p class="f-w-lg p-b-md">{{selectedFile.name}}</p>
    </div>
    <div class="col-sm-6 text-nowrap supplemental-downloads">
        {{#if (eq selectedFile.id preprint.primaryFile.id)}}
            <a class="btn btn-default btn-sm" href={{fileDownloadURL}} onclick={{action dualTrackNonContributors 'link' 'Content - Download' selectedFile.links.download true}}> {{t "content.share.download_preprint"}}</a>
        {{else}}
            <a class="btn btn-default btn-sm" href={{fileDownloadURL}} onclick={{action dualTrackNonContributors 'link' 'Content - Download Supplementary File' selectedFile.links.download false}}> {{t "content.share.download_file"}} </a>
        {{/if}}
        <span class="p-sm"> {{t "content.version"}}: {{selectedFile.currentVersion}}</span>
    </div>
</div>

{{#if hasAdditionalFiles}}
    <section class="osf-box p-md m-t-sm m-b-lg">
        {{#liquid-bind (slice-array files startIndex endIndex) use=scrollAnim as |list|}}
            {{#each list as |supplement index|}}
                {{#if (eq supplement.kind "folder")}}
                    <a href={{concat node.links.html 'files'}} target="_blank" class="hint--bottom col-xs-2 p-md box m-b-xl hidden-xs" aria-label={{supplement.name}}>
                        <i class="fa fa-folder fa-2x p-b-xs" aria-hidden="true"></i>
                    </a>
                    <a href={{preprint.links.html}} class="visible-xs truncate">
                        <i class="fa fa-folder p-b-xs p-r-sm"></i> {{supplement.name}}
                    </a>
                {{else}}
                    <label class="hint--bottom col-xs-2 p-md box m-b-xl hidden-xs {{if (eq selectedFile supplement) 'selected'}}" aria-label={{supplement.name}} {{action 'changeFile' supplement}}>
                        {{#if (eq selectedFile supplement)}}
                            <b class="file-selected-arrow">&#9660;</b>
                        {{/if}}
                        {{#if (eq preprint.primaryFile.id supplement.id)}}
                            <i style="margin-top: -4px;" class="fa fa-file-text fa-2x p-b-xs preprint-image" aria-hidden="true"></i>
                            <p class="hidden-xs" style="font-size: 75%; margin-bottom: -10px">{{t "components.supplementary-file-browser.primary"}}</p>
                        {{else}}
                            <i style="color:gray" class="fa fa-file-text fa-2x p-b-xs" aria-hidden="true"></i>
                        {{/if}}
                    </label>
                    <a href={{preprint.links.html}} style="color:gray;" class="{{if (eq preprint.primaryFile.id supplement.id) 'preprint-file-link'}} {{if (eq selectedFile supplement) 'selected'}} visible-xs truncate" {{action 'changeFile' supplement}}>
                        <i class="fa fa-file-text p-b-xs p-r-sm"></i> {{supplement.name}}
                    </a>
                {{/if}}
            {{/each}}
        {{/liquid-bind}}
        {{#if hasPrev}}
            <button id="leftArrow" class="show-more-button left hidden-xs" {{action 'prev' 'Right'}}>
                <i class="fa fa-caret-left"></i>
            </button>
            <button id="upArrow" class="show-more-button top visible-xs" {{action 'prev' 'Down'}}>
                <i class="fa fa-caret-up"></i>
            </button>
        {{/if}}
        {{#if hasNext}}
            <button id="rightArrow" class="show-more-button right hidden-xs" {{action 'next' 'Left'}}>
                <i class="fa fa-caret-right"></i>
            </button>
            <button id="downArrow" class="show-more-button bottom visible-xs" {{action 'next' 'Up'}}>
                <i class="fa fa-caret-down"></i>
            </button>
        {{/if}}
    </section>
{{/if}}
