<ul>
    {{#each topLevelItem as |item|}}
        <p>
            {{#if item.showChildren}}
                <a href='' {{action 'expand' item}}>{{fa-icon 'times'}}</a>
            {{else}}
                <a href='' {{action 'expand' item}}>{{fa-icon 'plus'}}</a>
            {{/if}}
            {{#if (if-filter item.text subjects)}}
                <input type="checkbox" checked {{action 'select' item}}>
            {{else}}
                <input type="checkbox" {{action 'select' item}}>
            {{/if}}
            {{item.text}}
        </p>
        {{#if item.showChildren}}
            <ul>
                {{#each item.children as |child|}}
                    <p>
                        {{#if child.showChildren}}
                            <a href='' {{action 'expand' child}}>{{fa-icon 'times'}}</a>
                        {{else}}
                            <a href='' {{action 'expand' child}}>{{fa-icon 'plus'}}</a>
                        {{/if}}
                        {{#if (if-filter child.text subjects)}}
                            <input type="checkbox" checked {{action 'select' child}}>
                        {{else}}
                            <input type="checkbox" {{action 'select' child}}>
                        {{/if}}
                        {{child.text}}
                    </p>
                    {{#if child.showChildren}}
                        <ul>
                            {{#each child.children as |grandkid|}}
                                <p>
                                    {{#if (if-filter grandkid.text subjects)}}
                                        <input type="checkbox" checked {{action 'select' grandkid}}>
                                    {{else}}
                                        <input type="checkbox" {{action 'select' grandkid}}>
                                    {{/if}}
                                    {{grandkid.text}}
                                </p>
                            {{/each}}
                        </ul>
                    {{/if}}
                {{/each}}
            </ul>
        {{/if}}
    {{/each}}
</ul>
