<ul>
    {{#each topLevelItem as |item|}}
        <li>
            <span class="pointer m-r-xs {{if item.showChildren 'taxonomy-show-children'}}" {{action 'expand' item}}>
                <i style="vertical-align: top; padding-top: 4px" class="fa {{if item.showChildren 'fa-caret-down' 'fa-caret-right'}}"></i>
            </span>
            <label style="max-width: 85%; word-wrap: break-word;">
                <input type="checkbox" checked="{{if (if-filter item.text subjects) 'checked'}}" onclick={{action 'select' item}}>
                {{item.text}}
            </label>
        </li>
        {{#if item.showChildren}}
            <ul>
                {{#each item.children as |child|}}
                    <li>
                        {{# if child.childCount }}
                            <span class="pointer m-r-xs {{if item.showChildren 'taxonomy-show-children'}}" {{action 'expand' child}}>
                                <i style="vertical-align: top; padding-top: 4px;" class="fa {{if child.showChildren 'fa-caret-down' 'fa-caret-right'}}"></i>
                            </span>
                        {{else}}
                            <span style="padding-right: 14px"></span>
                        {{/if}}
                        <label style="max-width: 85%; word-wrap: break-word;">
                            <input type="checkbox" checked="{{if (if-filter child.text subjects) 'checked'}}" onclick={{action 'select' child}}>
                            {{child.text}}
                        </label>
                    </li>
                    {{#if child.showChildren}}
                        <ul style="padding-left:40px">
                            {{#each child.children as |grandkid|}}
                                <li>
                                    <label style="max-width: 85%; word-wrap: break-word;">
                                        <input type="checkbox" checked="{{if (if-filter grandkid.text subjects) 'checked'}}" onclick={{action 'select' grandkid}}>
                                        {{grandkid.text}}
                                    </label>
                                </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                {{/each}}
            </ul>
        {{/if}}
    {{/each}}
</ul>
