<form {{action (action addUnregisteredContributor fullName email) on="submit"}}>
    <div>
        <label>{{t "components.unregistered-contributor-form.full_name"}}</label>
        {{validated-input model=this valuePath='fullName' placeholder=(t "components.unregistered-contributor-form.full_name") value=fullName}}
    </div>
    <div>
        <label>{{t "components.unregistered-contributor-form.email"}}</label>
        {{validated-input model=this valuePath='username' placeholder=(t "components.unregistered-contributor-form.email") value=email}}
    </div>
    <p class="text-muted">{{t "components.unregistered-contributor-form.paragraph"}}</p>
    <div class="pull-right unregistered-submit">
        <button {{action resetfindContributorsView}} type="button" class="btn btn-default btn-small"> {{t "global.cancel"}} </button>
        <button type="submit" disabled="{{not isFormValid}}" {{action "addUnregistered" fullName email}} class="btn btn-success btn-small"> {{t "global.add"}} </button>
    </div>
</form>
