<div class="col-sm-12" style="padding-bottom:30px;"><!--COL-->
{{fa-icon icon="cloud-upload" size=5}}
<h1 class="f-w-xl">Contribute your research</h1>
<h3 class="f-w-md" style="margin-left:auto; margin-right:auto;">You can upload a preprint or choose a file from an existing OSF file to tag as a preprint if you are already have an OSF account.</h3>

{{#oauth-popup authUrl=authUrl loginSuccess=(action 'loginSuccess') loginFail=(action 'loginFail') as |popup|}}
        <div class="col-sm-12">
            <!--TODO: Don't create the same button twice-->
            {{#if session.isAuthenticated}}
                    <button {{action 'modalShow'}}type="button" class="btn btn-info btn-lg">
                        Add a preprint
                    </button>
            {{else}}
                    <button class="btn btn-info btn-lg" onclick={{action 'login' target=popup}} >
                        Add a preprint
                    </button>
            {{/if}}
        </div>
{{/oauth-popup}}

</div> <!--END COL-->



<!-- Modals -->

<!--User not logged in modal-->
 {{#bs-modal open=false body=false footer=false title="Attention" id="myModal" submitAction=(action "submit")}}
   {{#bs-modal-body}}An OSF account is required to upload a preprint.{{/bs-modal-body}} <!--add the OSF logo here-->
        {{#bs-modal-footer as |footer|}}
          {{#bs-button  action='signupShow' class="btn btn-success"}}Sign up{{/bs-button}}
          {{#bs-button action='loginShow' class="btn btn-primary"}}Sign in{{/bs-button}}
   {{/bs-modal-footer}}
 {{/bs-modal}}

<!--Login Modal-->
{{#bs-modal open=showLogin body=false footer=false title="Login"}}
    {{my-login}}<!--TODO: Add login-form component back in from ember-osf-->
    {{#bs-modal-footer as |footer|}}
        {{#bs-button  action='projectChooserShow' class="btn btn-primary"}}Sign in{{/bs-button}}
    {{/bs-modal-footer}}
{{/bs-modal}}

<!--Signup Modal-->
{{#bs-modal open=showSignup body=false footer=false title="Create a free account"}}
   {{my-signup}}  <!--TODO: Add sign-up component back in from ember-osf-->
    {{#bs-modal-footer as |footer|}}
        {{#bs-button  action='signupSuccessShow' class="btn btn-success"}}Create account{{/bs-button}}
    {{/bs-modal-footer}}
{{/bs-modal}}

    <!--Signup Success Modal-->
     {{#bs-modal open=showSignupSuccess title="Success!"}}
       Registration successful. Please check ${email} to confirm your email address.
     {{/bs-modal}}

<!--Project Chooser Modal-->
 {{#bs-modal open=showProjectChooser body=false footer=false title="Add preprint"}}
   {{#bs-modal-body}}{{project-chooser}}{{/bs-modal-body}}
        {{#bs-modal-footer as |footer|}}
             <!--still need to deal with picking a file-->
            {{!--#bs-button  action='signupSuccessShow' class="btn btn-primary pull-right m-t-md"}}Continue{{/bs-button--}} <!--how do i know which form data im submitting? and which modal to go to next-->
            <!--<button type="submit" id="newProject" class="btn btn-primary pull-right m-t-md">Continue <i class="fa fa-angle-right"></i></button>-->
   {{/bs-modal-footer}}
 {{/bs-modal}}


<!--File Chooser Modal PROBABLY WONT USE THIS INSTEAD GO TO FILE DETAIL PAGE-->
{{#bs-modal open=showFileChooser body=false footer=false}}
   {{file-chooser}}
    {{#bs-modal-footer as |footer|}}
        {{#link-to "add-preprint" class="btn btn-success"}}Add preprint draft{{/link-to}}
    {{/bs-modal-footer}}
{{/bs-modal}}


<!--upload to existing-->
<!--Choose from existing file-->
<!--create a new project-->
<!--choose from an existing project-->
    <!--just have an autopopulating thing like prereg-->