
<select class="form-control" onchange={{action 'select' value='target.value'}}>
    {{#if showCategories}}
        {{#each categories as |category|}}
            {{#if category.title}}
                <optgroup label={{category.title}}>
                    {{#each category.licenses as |license|}}
                        <option selected={{if (eq license.id currentLicense.id) true false}} value={{license.id}}>{{license.name}}</option>
                    {{/each}}
                </optgroup>
            {{else}}
                {{#each category.licenses as |license|}}
                    <option selected={{if (eq license.id currentLicense.id) true false}} value={{license.id}}>{{license.name}}</option>
                {{/each}}
            {{/if}}
        {{/each}}
    {{else}}
        {{#each licenses as |license|}}
            <option selected={{if (eq license.id currentLicense.id) true false}} value={{license.id}}>{{license.name}}</option>
        {{/each}}
    {{/if}}
</select>
