<div class="container">{{!CONATINER DIV}}
    <div class="row"> {{!ROW DIV}}
        <div class="m-b-md p-md osf-box m-t-lg"> {{!OSF BOX DIV}}
            <div class="row" id="header"> {{!HEADER ROW}}
                <h1>{{model.preprint.title}}</h1>
            </div> {{!END HEADER ROW}}
            <div class="row p-l-md"> {{!PREPRINT INFO ROW}}
                <div class="col-md-10">
                    <h5>{{model.preprint.authors}}</h5>
                    <h6>Added on {{moment-format model.preprint.date}}</h6>
                </div>
                <div class="col-md-2">
                    <h6 class="m-t-lg"><span>Provider: {{#link-to "index"}}SocArXiv{{/link-to}} </span><img src="preprints/assets/img/logo_socarxiv.jpg" width="30"></h6>
                </div>
            </div> {{!END PREPRINT INFO ROW}}
            <div class="row">
                <hr color="#C7FFC7">
            </div>
            <div class="row p-md"> {{!CONTENT ROW}}
                <div class="col-md-7"> {{!LEFT COL DIV}}
                    {{#if model.supplement}}
                        {{supplementary-file-browser primaryFile=model.primary files=model.supplement}}
                    {{/if}}
                </div> {{!END LEFT COL DIV}}
                <div class="col-md-5"> {{!RIGHT SIDE COL}}
                    <div class="p-md osf-box-lt" id="download_project">{{!SHARE ROW}}
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <a href={{model.downloadLink}}>Download</a>
                        <i class="fa fa-edit" aria-hidden="true"></i>
                        {{#link-to "preprints.edit" model.preprint.id}}Edit{{/link-to}}
                        <span class="pull-right">
                            {{share-popup}}
                        </span>
                    </div>{{!END SHARE ROW}}

                    <h3> Abstract: </h3>
                    <p> {{model.preprint.abstract}} </p>

                    <h3> Citation: </h3>
                    <p>
                        <strong>APA</strong>
                        <br>
                        Cummings, J. N., Butler, B., & Kraut, R. (2002). The quality of online social
                        relationships. Communications of the ACM, 45(7), 103-108.
                    </p>
                    <br>
                        {{!PROJECT BUTTON}}
                    <div class="p-lg osf-box-lt" id="view_project">
                        <span> <a type="button" class="btn btn-primary pull-right" href={{concat model.baseUrl model.project}}>View project</a> The project for this paper is available on the Open Science Framework</span>
                    </div>
                </div> {{!END RIGHT SIDE COL}}
            </div> {{!END CONTENT ROW}}
        </div> {{!END OSF BOX DIV}}
    </div> {{!END ROW}}
</div>{{!END DIV CONTAINER}}