<div id="view-page" class="container">{{!CONATINER DIV}}
    <div class="m-b-md p-md osf-box m-t-lg"> {{!OSF BOX DIV}}
        <div class="row p-l-md m-t-lg"> {{!HEADER ROW}}
            <h1>{{model.title}}</h1>
        </div> {{!END HEADER ROW}}
        <div class="row p-l-md"> {{!PREPRINT INFO ROW}}
            <h5>
                {{#each model.contributors as |author index|}}
                    {{#if index}} | {{/if}}<a href={{author.users.profileURL}}>{{author.users.fullName}}</a>
                {{/each}}
            </h5>
            <h6>Added on {{moment-format model.date}}</h6>
        </div> {{!END PREPRINT INFO ROW}}
        <div class="row">
            <hr color="#C7FFC7">
        </div>
        <div class="row p-md"> {{!CONTENT ROW}}
            <div class="col-md-7"> {{!LEFT COL DIV}}
                {{supplementary-file-browser primaryFile=model.primaryFile fileList=fileList projectURL=model.links.html}}
            </div> {{!END LEFT COL DIV}}
            <div class="col-md-5"> {{!RIGHT SIDE COL}}
                <div class="p-sm osf-box-lt" id="download_project">{{!SHARE ROW}}
                    <a type="button" class="btn btn-primary" href={{model.primaryFile.links.download}}>Download</a>
                    <span class="p-sm pull-right">
                        <p class="f-w-lg">
                            {{#link-to "preprints.edit" class="link-solid m-r-xs"}}Edit{{/link-to}}
                            {{#link-to "preprints.edit" class="link-solid"}}Share{{/link-to}}
                        </p>
                    </span>
                </div>{{!END SHARE ROW}}
                <div class="f-w-xs text-muted m-b-xl p-t-xs">
                    <h3 class="page-header p-l-md">Abstract</h3>
                    <p class="p-l-md">{{model.abstract}}</p>
                </div>
                {{!PROJECT BUTTON}}
                <div class="p-lg osf-box-lt text-center">
                    <p class="f-w-xs text-muted">The project for this paper is available on the Open Science Framework.</p>
                    <a type="button" class="btn btn-info" href={{model.links.html}}>Visit project</a>
                </div>
            </div> {{!END RIGHT SIDE COL}}
        </div> {{!END CONTENT ROW}}
    </div> {{!END OSF BOX DIV}}
</div>{{!END DIV CONTAINER}}