<div class="row">
    {{#each currentSubjects as |subject index|}}
        <span class="subject">
            {{#each subject as |segment|}}
                <b>{{segment.text}}</b>
            {{/each}}
            {{fa-icon 'times' click=(action 'deselect' index)}}
        </span>
    {{/each}}
</div>

<div class="row">
    {{#each columns as |column tier|}}
        <div class="col-md-4">
            <ul style="overflow: scroll">
                {{input value=column.filterText class="form-control" placeholder="Search"}}
                {{#each column.subjectsSorted as |subject|}}
                    <li {{action 'select' subject tier}} class={{if (eq subject column.selection) 'selected'}}>
                        {{subject.text}}
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/each}}
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <button {{action 'discard'}} class="btn btn-default" disabled={{not hasChanged}}>{{t "global.discard"}}</button>
            <button {{action 'save'}} class="btn btn-primary" disabled={{not isValid}}>{{t "submit.body.save_continue"}}</button>
        </div>
    </div>
</div>