<div class="row">
    {{#each selected as |subject|}}
        <span class="subject">
            {{#each subject as |segment|}}
                <div class="subject-container"><b>{{segment.text}}</b></div>
            {{/each}}
            {{fa-icon 'times' click=(action 'deselect' subject)}}
        </span>
    {{/each}}
</div>

<div class="row">

    <div class="col-md-4">
        <ul style="overflow: scroll">
            {{input value=tier1FilterText class="form-control" placeholder="Search"}}
            {{#each tier1Sorted as |subject|}}
                <li {{action 'select' subject '1'}} class={{if (eq subject selection1) 'selected'}}>
                    {{subject.text}}
                </li>
            {{/each}}
        </ul>
    </div>

    <div class="col-md-4">
        <ul style="overflow: scroll">
            {{input value=tier2FilterText class="form-control" placeholder="Search"}}
            {{#each tier2Sorted as |subject|}}
                <li {{action 'select' subject '2'}} class={{if (eq subject selection2) 'selected'}}>
                    {{subject.text}}
                </li>
            {{/each}}
        </ul>
    </div>

    <div class="col-md-4">
        <ul style="overflow: scroll">
            {{input value=tier3FilterText class="form-control" placeholder="Search"}}
            {{#each tier3Sorted as |subject|}}
                <li {{action 'select' subject '3'}} class={{if (eq subject selection3) 'selected'}}>
                    {{subject.text}}
                </li>
            {{/each}}
        </ul>
    </div>

</div>
