<div class="row">
    {{#each currentSubjects as |subject index|}}
        <span class="subject subject-align">
            {{#each subject as |segment|}}
                <div class="subject-container">
                    <span class="subject-container-text">
                        {{segment.text}}
                        <button {{action 'deselect' index}}
                            class="cancel-subject fa fa-close"
                            aria-label="{{t 'submit.body.remove_subject_aria'}}"
                            title="Remove"
                        ></button>
                    </span>
                </div>
                <span class="right-arrow"></span>
            {{/each}}
        </span>
    {{/each}}
</div>

<div class="row">
    {{#each columns as |column tier|}}
        <div class="col-md-4">
            <ul style="overflow: scroll" role="listbox">
                {{input value=column.filterText class="form-control" placeholder="Search"}}
                {{#each column.subjectsSorted as |subject|}}
                    <li
                        onclick={{perform select subject tier}}
                        class={{if (eq subject column.selection) 'selected'}}
                        role="button"
                    >
                        {{subject.text}}
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/each}}
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <button {{action 'discard'}} class="btn btn-default" disabled={{not disciplineChanged}}>
                {{t "global.discard"}}
            </button>
            <button {{action 'save'}} class="btn btn-primary">
                {{t "submit.body.continue"}}
            </button>
        </div>
    </div>
</div>
