<div class="row">
    {{#each selected as |subject index|}}
        <span class="subject">
            {{#each subject as |segment|}}
                <b>{{segment.text}}</b>
            {{/each}}
            {{fa-icon 'times' click=(action 'deselect' subject index)}}
        </span>
    {{/each}}
</div>

<div class="row">
    {{#each columns as |column tier|}}
        <div class="col-md-4">
            <ul style="overflow: scroll">
                {{input value=column.filterText class="form-control" placeholder="Search"}}
                {{#each column.subjectsSorted as |subject|}}
                    <li {{action 'select' subject tier}} class={{if (eq subject column.selection) 'selected'}}>
                        {{subject.text}}
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/each}}
</div>
