<div class="row">
    {{#each currentSubjects as |subject index|}}
        <span class="subject subject-align">
            {{#each subject as |segment|}}
                <div class="subject-container">
                    <span class="subject-container-text">
                        {{segment.text}}
                        <button class="cancel-subject fa fa-close" aria-label="{{t 'submit.body.remove_subject_aria'}}" title="Remove" {{action 'deselect' index}}></button>
                    </span>
                </div>
                <span class="right-arrow"></span>
            {{/each}}
        </span>
    {{/each}}
</div>

<div class="row">
    {{#each columns as |column tier|}}
        <div class="col-md-4">
            {{input
                (html-attributes aria-label='Search')
                value=column.filterText class="form-control"
                placeholder="Search"
            }}
            <ul style="overflow: scroll" role={{if column.subjectsFiltered "listbox"}} aria-label={{t 'components.preprint-form-header.name.Discipline'}}>
                {{#each column.subjectsFiltered as |subject|}}
                    <li {{action 'select' subject tier}} class={{if (eq subject column.selection) 'selected'}} role="option">
                        {{subject.text}}
                    </li>
                {{/each}}
                
            </ul>
        </div>
    {{/each}}
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <button {{action 'discard'}} class="btn btn-default" disabled={{not hasChanged}}>{{t "global.discard"}}</button>
            <button {{action 'save'}} class="btn btn-primary" disabled={{not isValid}}>{{t "submit.body.save_continue"}}</button>
        </div>
    </div>
</div>