<div>
    <div class="form-inline">
        <div class="form-group p-b-sm">
            <label>
                <span class='required'>
                    {{t 'components.license-picker.choose_a_license'}}
                </span>
            </label>
            <div>
                <select class="form-control" onchange={{action 'selectLicense' value='target.value'}}>
                    <option value="" disabled selected>
                        {{t 'components.license-picker.placeholder'}}
                    </option>
                    {{#each licenses as |license|}}
                        <option selected={{if (eq license.id currentLicense.id) true false}} value={{license.id}}>
                            {{license.name}}
                        </option>
                    {{/each}}
                </select>
            </div>
            <small>
                <a target='_blank' rel="noopener" href='http://help.osf.io/m/60347/l/611430-licensing'>
                    {{t 'components.license-picker.license_FAQ'}}
                </a>
            </small>
            {{#if toggleText}}
                <small class="pull-right">
                    <a href="#" {{action 'toggleFullText'}}>
                        {{if showText 'Hide full text' 'Show full text'}}
                    </a>
                </small>
            {{/if}}
        </div>
    </div>
    {{#if showYear}}
        <div class="p-b-sm">
            <label>
                <span class={{if yearRequired 'required' ''}}>
                    {{t 'components.license-picker.year'}}
                </span>
            </label>
            {{input class='form-control' value=year}}
        </div>
    {{/if}}
    {{#if showCopyrightHolders}}
        <div class="p-b-sm">
            <label>
                <span class={{if copyrightHoldersRequired 'required' ''}}>
                    {{t 'components.license-picker.copyright_holders'}}
                </span>
            </label>
            {{input class='form-control' value=copyrightHolders}}
        </div>
    {{/if}}

    {{#if (and showText toggleText)}}
        <pre style='white-space: pre-wrap; word-break: normal; border:none; width:100%; text-align:justify; max-height: 300px;'>
            {{selectedLicenseText}}
        </pre>
    {{/if}}
</div>
