{{#osf-navbar as |loginButton|}}
    <li class="dropdown sign-in">
        <div class="col-sm-12">
            <a href="{{this.authUrl}}" class="btn btn-success btn-top-signup m-r-xs">Login</a>
        </div>
    </li>
{{/osf-navbar}}

{{liquid-outlet}}

{{osf-footer}}
{{osf-copyright class='text-center'}}
{{osf-mode-footer}}