<body role="document">

<div class="container space-top space-bottom">
    {{search-preprints}}
</div>

<div class="container" id="browse">
    <div class="row">
        <div class="col-lg-3">
            <div class="list-group" id="subjectList">
                <button type="button" class="list-group-item active" id="all" {{action "filter" null}}>All subjects</button>
                {{#each model.subjects as |s|}}
                    <button type="button" id={{s.subjectid}} class="list-group-item" {{action "filter" s}}>{{s.subject}}</button>
                {{/each}}
            </div>

            <div> <!--SUBJECT TAGS DIV-->
                <!--SUBJECTS BUTTONS-->
                <h6>Tags</h6>
                <button type="button" class="btn btn-info">talk</button>
                <button type="button" class="btn btn-info">CREP</button>
                <button type="button" class="btn btn-info">Poster</button>
                <button type="button" class="btn btn-info">Randolph-Macon</button>
                <button type="button" class="btn btn-info">replication</button>
            </div> <!--END SUBJECT TAGS DIV -->

        </div>
        <div class="col-lg-9" id="preprintList">
            {{#each filteredPreprints as |preprintEntry|}}
                {{preprint-entry preprint=preprintEntry}}
            {{/each}}
        </div>
    </div>
</div>

</body>

