{{title node.title}}

<div id="view-page">
    <div class="p-t-xl m-t-xl p-b-md m-b-md dark-overlay-header-background header-row">{{!HEADER ROW}}
        <div class="container">{{!CONTAINER DIV}}
            <div class="row">
                <div class="col-xs-12 col-sm-10">
                    <h1 id="preprintTitle" class="p-b-md">{{node.title}}</h1>
                    <h5 class="view-authors">
                        <ul class="comma-list">
                            {{#if authors}}
                                {{#each authors as |author index| ~}}
                                    {{#if author.bibliographic}}
                                        {{#if author.unregisteredContributor}}
                                            <li>{{author.unregisteredContributor}}</li>
                                        {{else}}
                                            <li><a href={{author.users.profileURL}} {{action 'click' 'link' 'Content - Author' author.users.profileURL}}>{{author.users.givenName}} {{author.users.familyName}}</a></li>
                                        {{/if}}
                                    {{/if}}
                                {{~/each}}
                            {{else}}
                                <div>
                                    {{fa-icon 'spinner' pulse=true size=2}}
                                </div>
                            {{/if}}
                        </ul>
                    </h5>
                    <h6 class='preprint-added-on'>{{t "global.added_on"}}: {{moment-format model.datePublished "MMMM DD, YYYY"}} | {{t "content.header.last_edited"}}: {{moment-format model.dateModified "MMMM DD, YYYY"}} </h6>
                </div>
                <div class="col-xs-12 col-sm-2 edit-button-and-logo text-center">
                    {{#if isAdmin}}
                    {{! TODO This link will need to be updated for phase 2 of branding }}
                        <a type="button"
                           class="btn btn-success edit-btn"
                           href={{concat (if theme.isProvider (concat '/preprints/' theme.id)) '/' model.id '/?edit'}}
                            onclick={{action "click" 'link' "Preprints - Content - Edit Preprint" (concat model.links.html '?edit')}}
                        >
                            {{t "content.project_button.edit_preprint"}}
                        </a>
                    {{/if}}
                    <br>
                    <div class="content-provider-logo provider-{{model.provider.id}} hidden-xs" title="{{model.provider.name}}"></div>
                </div>
            </div>
        </div> {{!END CONTAINER DIV}}
    </div> {{!END HEADER ROW}}
    <div id="view-page" class="container">{{!CONTAINER DIV}}
        <div class="row p-md"> {{!CONTENT ROW}}
            <div id="mfr-col" class="col-md-{{if fullScreenMFR '12' '7'}}"> {{!LEFT COL DIV}}
                {{#if model.isPreprintOrphan}}
                    <div class="alert alert-danger m-r-md" role="alert">
                        {{t "content.orphan_preprint"}}
                    </div>
                {{else}}
                    {{#if (not node.public)}}
                        <div class="alert alert-danger m-r-md" role="alert">
                            {{t "content.private_preprint_warning"}} <a href={{node.links.html}}>{{node.title}} </a> {{t "content.public"}}.
                        </div>
                    {{/if}}
                    {{supplementary-file-browser preprint=model node=node projectURL=node.links.html chooseFile=(action 'chooseFile')}}
                    <button class="expand-mfr-carrot hidden-xs hidden-sm" {{action 'expandMFR'}}>
                        <i class="fa fa-chevron-{{if fullScreenMFR 'left' 'right'}}"></i>
                    </button>
                {{/if}}
            </div> {{!END LEFT COL DIV}}
            {{#unless fullScreenMFR}}
                <div class="col-md-5"> {{!RIGHT SIDE COL}}
                    <div class="share-row p-sm osf-box-lt clearfix">{{!SHARE ROW}}
                        <div class="row" id="download_project clearfix">
                            <div class="col-xs-12 col-lg-8">
                                <a class="btn btn-primary" href={{fileDownloadURL}} onclick={{action 'click' 'link' 'Preprints - Content - Download'}}>{{t "content.share.download_preprint"}}</a>
                                <span class="p-md">{{t "content.share.downloads"}}: {{model.primaryFile.extra.downloads}}</span>
                            </div>
                            <div class="col-xs-12 col-lg-4 social-div">
                                <span class="p-xs pull-right social-media-icons">
                                    <a class="m-r-xs text-smaller" href={{twitterHref}} onclick={{action 'shareLink' twitterHref 'Twitter' 'click' 'Preprints - Content - tweet'}}>{{fa-icon 'twitter-square' size=2 }}</a>
                                    <a class="m-r-xs text-smaller" href={{facebookHref}} onclick={{action 'shareLink' facebookHref 'Facebook' 'click' 'Preprints - Content - share'}}>{{fa-icon 'facebook-square' size=2 }}</a>
                                    <a class="m-r-xs text-smaller" href={{linkedinHref}} onclick={{action 'shareLink' linkedinHref 'LinkedIn' 'click' 'Preprints - Content - share'}}>{{fa-icon 'linkedin-square' size=2 }}</a>
                                    <a class="m-r-xs text-smaller" href={{emailHref}} onclick={{action 'shareLink' emailHref 'link' 'click' 'Preprints - Content - email'}}>{{fa-icon 'envelope' size=2 }}</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="p-t-xs">
                        <h4 class="p-v-md f-w-md"><strong>{{t "global.abstract"}}</strong></h4>
                        {{#if useShortenedDescription}}
                            <p class="abstract">{{description}}</p>
                            <button class='btn-link' {{action 'expandAbstract'}}>{{if expandedAbstract 'See less' 'See more'}}</button>
                        {{else}}
                            <p class="abstract">{{node.description}}</p>
                        {{/if}}
                    </div>

                    {{#if model.doi}}
                        <div class="p-t-xs">
                            <h4 class="p-v-md f-w-md"><strong>{{t "content.article_doi"}}</strong></h4>
                            <a href={{doiUrl}} {{action "click" "link" "Content - DOI" doiUrl}}>{{model.doi}}</a>
                        </div>
                    {{/if}}

                    {{#if model.license.name}}
                        <div class="p-t-xs">
                            <h4 class="p-v-md f-w-md"><strong>{{t "global.license"}}</strong></h4>
                            {{model.license.name}}
                            <span style='cursor: pointer'>
                                {{#if showLicenseText }}
                                    {{fa-icon 'caret-down' click=(action 'toggleLicenseText')}}
                                {{else}}
                                    {{fa-icon 'caret-right' click=(action 'toggleLicenseText')}}
                                {{/if}}
                            </span>
                            {{#if showLicenseText}}
                                <pre style='white-space: pre-wrap; font-size:75%; border:none; width:100%; text-align:justify; max-height: 300px;'>{{fullLicenseText}}</pre>
                            {{/if}}
                        </div>
                    {{/if}}

                    <div class="p-t-xs">
                        <h4 class="p-v-md f-w-md"><strong>{{t "content.disciplines"}}</strong></h4>
                        {{#each disciplineReduced as |subject|}}
                            <span class='subject-preview'>{{subject.text}}</span>
                        {{/each}}
                    </div>
                    <div class="p-t-xs">
                        <h4 class=" f-w-md p-v-md"><strong>{{t "global.tags"}}</strong></h4>
                        {{#if hasTag}}
                            {{#each node.tags as |tag|}}
                                <span class="badge">{{fix-special-char tag}}</span>
                            {{/each}}
                        {{else}}
                            {{t "global.none"}}
                        {{/if}}
                    </div>

                    <div class="p-t-xs m-b-lg">
                        <h4 class="p-v-md f-w-md"><strong>{{t "content.citations"}}</strong></h4>
                        {{citation-widget node=model}}
                    </div>

                    {{!PROJECT BUTTON}}
                    <div class="p-lg osf-box-lt row project-box">
                        <div class="col-xs-6 text-center">
                            <div class="content-provider-logo provider-osf-dark"
                                 title={{t "global.open_science_framework"}}></div>
                        </div>
                        <div class="col-xs-6 text-left">
                            <p class="f-w-xs">{{t "content.project_button.paragraph"}}</p>
                            <a type="button" class="btn btn-info" href={{node.links.html}} onclick={{action "click" "link" "Preprints - Content - Visit Project"}}>{{t "content.project_button.button"}}</a>
                        </div>
                    </div>
                </div> {{!END RIGHT SIDE COL}}
            {{/unless}}
        </div> {{!END CONTENT ROW}}
    </div>{{!END DIV CONTAINER}}
</div>
