{{title node.title}}

<div id="view-page">
    <div class="p-t-xl m-t-xl p-b-md m-b-md dark-overlay-header-background header-row">{{!HEADER ROW}}
        <div class="container">{{!CONTAINER DIV}}
            <div class="row">
                <div class="col-xs-10">
                    <h1 id="preprintTitle" class="p-b-md">{{node.title}}</h1>
                    <h5 class="view-authors">
                        <ul class="comma-list">
                            {{#if authors}}
                                {{#each authors as |author index| ~}}
                                    {{#if author.bibliographic}}
                                        <li><a href={{author.users.profileURL}} {{action 'click' 'link' 'Content - Author' author.users.profileURL}}>{{author.users.givenName}} {{author.users.familyName}}</a></li>
                                    {{/if}}
                                {{~/each}}
                            {{else}}
                                <div>
                                    {{fa-icon 'spinner' pulse=true size=2}}
                                </div>
                            {{/if}}
                        </ul>
                    </h5>
                    <h6>{{t "global.added_on"}}: {{moment-format model.dateCreated "MMMM DD, YYYY"}} | {{t "content.header.last_edited"}}: {{moment-format model.dateModified "MMMM DD, YYYY"}} </h6>
                </div>
                <div class="col-xs-2 text-center">
                    {{#if isAdmin}}
                    {{! TODO This link will need to be updated for phase 2 of branding }}
                        <a type="button"
                           class="btn btn-success edit-btn"
                           href={{concat (if theme.isProvider (concat '/preprints/' theme.id)) '/' model.id '/?edit'}}
                           onbeforeclick={{action "click" 'link' "Content - Edit Preprint"}}
                        >
                            {{t "content.project_button.edit_preprint"}}
                        </a>
                    {{/if}}
                    <br>
                    <div class="content-provider-logo provider-{{model.provider.id}}" title="{{model.provider.name}}"></div>
                </div>
            </div>
        </div> {{!END CONTAINER DIV}}
    </div> {{!END HEADER ROW}}
    <div id="view-page" class="container">{{!CONTAINER DIV}}
        <div class="row p-md"> {{!CONTENT ROW}}
            <div id="mfr-col" class="col-md-{{if fullScreenMFR '12' '7'}}"> {{!LEFT COL DIV}}
                {{#if model.isPreprintOrphan}}
                    <div class="alert alert-danger m-r-md" role="alert">
                        {{t "content.orphan_preprint"}}
                    </div>
                {{else}}
                    {{#if (not node.public)}}
                        <div class="alert alert-danger m-r-md" role="alert">
                            {{t "content.private_preprint_warning"}} <a href={{node.links.html}}>{{node.title}} </a> {{t "content.public"}}.
                        </div>
                    {{/if}}
                    {{supplementary-file-browser preprint=model node=node projectURL=node.links.html chooseFile=(action 'chooseFile')}}
                    <button class="expand-mfr-carrot" {{action 'expandMFR'}}>
                        <i class="fa fa-chevron-{{if fullScreenMFR 'left' 'right'}}"></i>
                    </button>
                {{/if}}
            </div> {{!END LEFT COL DIV}}
            {{#unless fullScreenMFR}}
                <div class="col-md-5"> {{!RIGHT SIDE COL}}
                    {{#liquid-spacer growDuration=250 growWidth=false}}
                        <div class="p-sm osf-box-lt clearfix">{{!SHARE ROW}}
                            <div class="" id="download_project clearfix">
                                <a class="btn btn-primary" href={{model.primaryFile.links.download}} onbeforeclick={{action 'click' 'link' 'Content - Download'}}>{{t "content.share.download_preprint"}}</a>
                                <span class="p-sm">{{t "content.share.downloads"}}: {{model.primaryFile.extra.downloads}}</span>
                                <span class="p-xs pull-right">
                                    <a class="m-r-xs text-smaller" href={{twitterHref}} onclick={{action 'shareLink' twitterHref 'Twitter' 'tweet'}}>{{fa-icon 'twitter-square' size=2 }}</a>
                                    <a class="m-r-xs text-smaller" href={{facebookHref}} onclick={{action 'shareLink' facebookHref 'Facebook' 'share'}}>{{fa-icon 'facebook-square' size=2 }}</a>
                                    <a class="m-r-xs text-smaller" href={{linkedinHref}} onclick={{action 'shareLink' linkedinHref 'LinkedIn' 'share'}}>{{fa-icon 'linkedin-square' size=2 }}</a>
                                    <a class="m-r-xs text-smaller" href={{emailHref}} onclick={{action 'shareLink' emailHref 'link' 'click' 'Content - email share'}}>{{fa-icon 'envelope' size=2 }}</a>
                                </span>
                            </div>
                        </div>
                    {{/liquid-spacer}}
                    <div class="p-t-xs">
                        <h4 class="p-v-md f-w-md">{{t "global.abstract"}}</h4>
                        <p class="abstract">{{node.description}}</p>
                    </div>

                    {{#if model.doi}}
                        <div class="p-t-xs">
                            <h4 class="p-v-md  f-w-md">{{t "content.article_doi"}}</h4>
                            <a href={{doiUrl}} {{action "click" "link" "Content - DOI" doiUrl}}>{{model.doi}}</a>
                        </div>
                    {{/if}}

                    <div class="p-t-xs">
                        <h4 class="p-v-md f-w-md">{{t "global.license"}}</h4>
                        <p class="p-v-md">{{model.license.name}}</p>
                    </div>

                    <div class="p-t-xs">
                        <h4 class="p-v-md f-w-md">{{t "content.disciplines"}}</h4>
                        {{#each disciplineReduced as |subject|}}
                            <span class='subject-preview'>{{subject.text}}</span>
                        {{/each}}
                    </div>
                    <div class="m-b-lg p-t-xs">
                        <h4 class=" f-w-md p-v-md">{{t "global.tags"}}</h4>
                        {{#if hasTag}}
                            {{#each node.tags as |tag|}}
                                <span class="badge">{{tag}}</span>
                            {{/each}}
                        {{else}}
                            {{t "global.none"}}
                        {{/if}}
                    </div>
                    {{!PROJECT BUTTON}}
                    <div class="p-lg osf-box-lt row project-box">
                        <div class="col-xs-6 text-center">
                            <div class="content-provider-logo provider-osf-dark"
                                 title={{t "global.open_science_framework"}}></div>
                        </div>
                        <div class="col-xs-6 text-left">
                            <p class="f-w-xs">{{t "content.project_button.paragraph"}}</p>
                            <a type="button" class="btn btn-info" href={{node.links.html}} onbeforeclick={{action "click" "link" "Content - Visit Project"}}>{{t "content.project_button.button"}}</a>
                        </div>
                    </div>
                </div> {{!END RIGHT SIDE COL}}
            {{/unless}}
        </div> {{!END CONTENT ROW}}
    </div>{{!END DIV CONTAINER}}
</div>
