<div class="preprint-search-header">
    <div class="container">
        <div class="row m-v-md ">
            <div class="col-xs-12 text-center">
                <h1>Preprint Search</h1>
                <p class="lead">powered by <a href="https://share.osf.io/" class="share-logo" title="SHARE"></a></p>
            </div>
        </div>
        <div class="row m-t-md m-b-xl">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="input-group input-group-lg">
                    {{input id="searchBox" value=searchValue class="form-control" key-up='search' placeholder="Search preprints..."}}
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" {{action "search" this}}>Search</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row m-v-md">
            <div class="col-xs-6 col-xs-offset-6">
                <span class="pull-right">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="sortBy" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                            Sort by: {{chosenSortByOption}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="sortBy">
                            {{#each sortByOptions as |option index|}}
                                <li style="cursor: pointer; cursor: hand"><a {{action "sortBySelect" index}}>{{option}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="preprint-search-main p-v-xl">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                {{#if showActiveFilters}}
                    <div id="activeFilters" class="well well-sm p-md">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>Active Filters:</h4>
                            </div>
                            <div class="col-sm-6">
                                <span class="pull-right">
                                    <button type="button" class="btn btn-default btn-sm" {{action "clearFilters"}}>Clear filters {{fa-icon "remove"}}</button>
                                </span>
                            </div>
                        </div>
                        <div id="activeFiltersList">
                            <p>Provider:</p>
                            <ul>
                                {{#each activeFilters.providers as |filter|}}
                                    <li>{{filter}}</li>
                                {{/each}}
                            </ul>
                            <hr>
                            <p>Subjects:</p>
                            <ul>
                                {{#each activeFilters.subjects as |filter|}}
                                    <li>{{filter}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                {{/if}}
                <h4> Refine your search by </h4>
                <div class='m-v-md'>
                    <h4 class="filter-heading p-sm">Providers</h4>
                    <ul>
                        {{#each otherProviders as |item|}}
                            <li style="margin-left: 10px">
                                <label>
                                    <input type="checkbox" checked="{{if (if-filter item activeFilters.providers) 'checked'}}" onclick={{action 'selectProvider' item}}>
                                    {{item}}
                                </label>
                            </li>
                        {{/each}}

                    </ul>
                </div>
                <div class="m-t-lg">
                    <h4 class="filter-heading p-sm">Subject</h4>
                    {{taxonomy-tree select=(action 'selectSubjectFilter') subjects=treeSubjects}}
                </div>
                <div class="osf-box p-md m-b-lg clearfix m-t-xl">
                    <p>Do you want to add your own research as a preprint?</p>
                    <button type="button" class="btn btn-success pull-right" {{action "linkToAddPreprint"}}>Add your preprint</button>
                </div>
            </div>

            <div class="col-sm-8" id="searchResults">
                {{#if loading}}
                    <div class="text-center">
                        {{fa-icon 'spinner' pulse=true size=3}}
                    </div>
                {{else}}
                    {{#if numberOfResults}}
                        {{#each results as |result|}}
                            {{search-result result=result}}
                        {{/each}}

                        <div class="row">
                            <div class="col-xs-5">
                                {{#if showPrev}}
                                    <button type="button" class="btn btn-default" {{action "previous"}}>Prev</button>
                                {{/if}}
                            </div>
                            <div class="col-xs-2">
                                <div style='text-align: center; margin-top:5px'>
                                    {{page}} of {{maxPages}}
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <span class="pull-right">
                                    {{#if showNext}}
                                        <button type="button" class="btn btn-default" {{action "next"}}>Next</button>
                                    {{/if}}
                                </span>
                            </div>
                        </div>
                    {{else}}
                        <div class="text-muted text-center">
                            <p class="lead ">No results found</p>
                            <p>Try broadening your search terms </p>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
