<body role="document">

<div class="container space-top space-bottom">
    {{search-header}}
    {{search-preprints search="search"}}
</div>

<div class="container">
    <button type="button" class="btn btn-default">Add your preprint</button>
</div>

<hr>


<div class="container" id="browse">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Refine your search {{fa-icon "info-circle"}}</h4>
                </div>

                <div class="panel-body">
                    <div>
                        <h4>Subject</h4>
                        {{taxonomy-tree tree=model.taxonomy}}
                    </div>
                </div>
            </div>

        </div>

        <!-- TODO: remove route model and replace with elasticsearch query -->
        <div class="col-lg-8" id="preprintList">
            {{#each model.preprints as |preprintEntry|}}
                {{preprint-entry preprint=preprintEntry}}
            {{/each}}
        </div>
    </div>
</div>

</body>