<div class="container space-top space-bottom">
    {{search-header}}
    {{search-preprints search="search"}}
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-default">Add your preprint</button>
        </div>
        <div class="col-md-6">
            <span class="pull-right">
                {{search-sortby}}
            </span>
        </div>
    </div>
</div>

<hr>

<div class="container" id="browse">
    <div class="row">
        <div class="col-lg-4">
            <div id="activeFilters">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Active Filters:</h4>
                    </div>
                    <div class="col-sm-6">
                        <span class="pull-right">
                            <button type="button" class="btn btn-default">Clear filters {{fa-icon "remove"}}</button>
                        </span>
                    </div>
                </div>
                <hr>
                <ul>
                    <li>provider:SocArXiv</li>
                    <li>subject:Biology and life sciences</li>
                </ul>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Refine your search {{fa-icon "info-circle"}}</h4>
                </div>

                <div class="panel-body">
                    <div>
                        <h4>Subject</h4>
                        {{taxonomy-tree tree=model.taxonomy}}
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-8" id="searchResults">
            {{#each results as |result|}}
                {{search-result result=result}}
            {{/each}}

            <div class="row">
                <div class="col-md-6">
                    {{#if showPrev}}
                        <button type="button" class="btn btn-default" {{action "previous"}}>Prev</button>
                    {{/if}}
                </div>
                <div class="col-md-6">
                    <span class="pull-right">
                        {{#if showNext}}
                            <button type="button" class="btn btn-default" {{action "next"}}>Next</button>
                        {{/if}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
