<body role="document">

<div class="container space-top space-bottom">
    {{search-header}}
    {{search-preprints search="search"}}
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-default">Add your preprint</button>
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-md-3">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="sortBy" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                    Sort by: <span id="sortByChoice">Relevance</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="sortBy">
                    <li><a>Relevance</a></li>
                    <li><a>Upload date (oldest to newest)</a></li>
                    <li><a>Upload date (newest to oldest)</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<hr>


<div class="container" id="browse">
    <div class="row">
        <div class="col-lg-4">
            <div id="activeFilters">
                <div class="row">
                    <div class="col-sm-8">
                        <h4>Active Filters:</h4>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-default">Clear filters {{fa-icon "remove"}}</button>
                    </div>
                </div>
                <hr>
                <ul>
                    <li>provider:SocArXiv</li>
                    <li>subject:Biology and life Sciences</li>
                </ul>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Refine your search {{fa-icon "info-circle"}}</h4>
                </div>

                <div class="panel-body">
                    <div>
                        <h4>Subject</h4>
                        {{taxonomy-tree tree=model.taxonomy}}
                    </div>
                </div>
            </div>

        </div>

        <!-- TODO: remove route model and replace with elasticsearch query -->
        <div class="col-lg-8" id="preprintList">
            {{#each model.preprints as |preprintEntry|}}
                {{preprint-entry preprint=preprintEntry}}
            {{/each}}
        </div>
    </div>
</div>

</body>