{{title 'Forbidden'}}

<div class="preprint-403">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{t "page-forbidden.heading"}}</h1>
                <p>{{t "page-forbidden.paragraph.line1"}} <a href="mailto:support@osf.io" {{action "click" "link" "Page forbidden - Support" "mailto:support@osf.io"}}>support@osf.io</a></p>
                {{#link-to "index" class="btn btn-primary m-t-md" }}{{t "page-forbidden.go_to"}}{{/link-to}} {{! invokeAction=(action "click" "link" "Page not found - Go to Index") TODO find out why this breaks }}

            </div>
        </div>

    </div>
</div>
