<div class="preprints-page"> {{!INDEX}}

    {{!HEADER}}
    <div class="preprint-header"> {{!HEADER}}
        <div class="container"> {{!CONTAINER}}
            <div class="row">{{!HEADER ROW}}
                {{!TITLE}}
                <div class="text-center m-b-lg col-xs-12">
                    <h1 class="preprint-lead">OSF Preprints</h1>
                    <p class="lead">
                        The <span class="highlight-bold">open</span> preprint server for
                        <span class="highlight-bold">all</span> academic disciplines
                    </p>
                </div>
                {{!SEARCH}}
                <div class="preprint-search col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 m-v-lg" >
                    {{search-preprints search="search"}}
                    <p class="p-l-md">
                        <span class="f-w-lg">{{model.preprints.length}}</span> preprints as of
                        <span>{{moment-format model.theDate "MMMM DD, YYYY"}}</span>
                    </p>
                </div>
            </div> {{!END ROW}}
        </div> {{!END CONTAINER}}
    </div> {{!END HEADER}}

    {{!PREPRINT LIST}}
    <div class="preprint-list"> {{!LIST}}
        <div class="container"> {{!CONTAINER}}
            <div class="row">{{!LIST ROW}}
                <h2>Explore <small>recent additions</small></h2>
                <div id="landing-page-preprint-list-background"> {{!BACKGROUND}}
                    <div id="landing-page-preprint-list"> {{!ARTICLE IN POPULAR UPLOADS}}
                        {{#each model.preprints as |preprintEntry|}}
                            {{preprint-entry preprint=preprintEntry}}
                        {{/each}}
                    </div> {{!END POPULAR UPLOADS}}
                </div> {{!END BACKGROUND}}
                <button class="show-more-button col-sm-12 text-muted" {{action "togglePopularUploads"}}>
                    <i id="show-more-icon" class="fa fa-caret-down m-b-lg"></i>
                </button>
                <div class="text-center"
                     style="padding-top: 20px; padding-bottom: 40px;"> {{! READ MORE BUTTON}}
                    {{#link-to "discover" class="btn btn-success btn-lg"}}Browse more preprints{{/link-to}}
                </div> {{!END READ MORE BUTTON}}
            </div> {{!END LIST ROW}}
        </div> {{!END CONTAINER}}
    </div> {{!END LIST}}


    {{!SUBJECTS}}
    <div class="preprint-subjects"> {{!SUBJECTS LIST}}
        <div class="container"> {{!CONTAINER DIV}}
            <div class="row">{{!SUBJECTS ROW}}
                <h2>Browse <small>by subject</small></h2>
                <div class="subjectsList p-lg"> {{!SUBJECTS LIST}}
                    {{taxonomy-top-list list=model.subjects}}
                </div> {{!END SUBJECTS LIST}}
            </div>{{!END ROW}}
        </div> {{!END CONTAINER}}
    </div> {{!END SUBJECTS LIST}}

    {{!BRANDED PREPRINT SERVERS}}
    <div class="preprint-providers p-v-md"> {{!center text}}
        <div class="container"> {{!CONTAINER}}
            <h2>Services <small>powered by OSF Preprints</small> </h2>
            <div class="row p-v-lg">{{!BRANDED ROW}}
                <div class="col-sm-4 col-sm-offset-2 "> <div class="provider-logo provider-socarxiv"></div></div>
                <div class="col-sm-4"> <div class=" provider-logo provider-engrxiv"></div></div>

            </div> {{!END ROW}}
        </div> {{!END CONTAINER}}
    </div> {{!END PROVIDERS}}



    {{!CONTRIBUTE YOUR RESEARCH}}
    <div class="preprint-contribute p-v-md"> {{!center text}}
        <div class="container"> {{!CONTAINER}}
            <div class="m-t-lg m-b-lg text-center"> {{!STYLING}}
                <div class="row">{{!ROW}}
                    {{upload-button}}
                </div> {{!END ROW}}
            </div> {{!END STYLING}}
        </div> {{!END CONTAINER}}
    </div>

    {{!FOOTER}}
    <div class="moving-logo-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Preprint Services</h2>
                    <p class="lead"> Create your own branded preprint servers backed by the OSF.</p>
                    <a href="mailto:contact@osf.io" class="btn btn-info btn-lg">Contact us</a>
                </div>
                <div class="col-md-4 hidden-xs hidden-sm">
                    <div id="logo">
                        <div class="circle" id="circle-1"><span></span></div>
                        <div class="circle" id="circle-2"><span></span></div>
                        <div class="circle" id="circle-3"><span></span></div>
                        <div class="circle" id="circle-4"><span></span></div>
                        <div class="circle" id="circle-5"><span></span></div>
                        <div class="circle" id="circle-6"><span></span></div>
                        <div class="circle" id="circle-7"><span></span></div>
                        <div class="circle" id="circle-8"><span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {{!END INDEX}}
