<div class="preprints-page"> {{!INDEX}}

    {{!HEADER}}
    <div class="preprint-header"> {{!HEADER}}
        <div class="container"> {{!CONTAINER}}
            <div class="row">{{!HEADER ROW}}
                {{!TITLE}}
                <div class="text-center m-b-lg">
                    <h1 class="preprint-lead">OSF Preprints</h1>
                    <h2>
                        The <span class="highlight-bold">open</span> preprint server for
                        <span class="highlight-bold">all</span> academic disciplines
                    </h2>
                </div>

                {{!SEARCH}}
                <div id="search" class="space-top space-bottom">
                    {{search-preprints search="search"}}
                    <p>
                        <span class="highlight">{{model.preprints.length}}</span> preprints as of
                        <span>{{moment-format model.theDate "MMMM DD, YYYY"}}</span>
                    </p>
                </div>

                {{!PREPRINT LIST}}
                <h2>Uploads</h2>
                <div id="landing-page-preprint-list-background"> {{!BACKGROUND}}
                    <div id="landing-page-preprint-list"> {{!ARTICLE IN POPULAR UPLOADS}}
                        {{#each model.preprints as |preprintEntry|}}
                            {{preprint-entry preprint=preprintEntry}}
                        {{/each}}
                    </div> {{!END POPULAR UPLOADS}}
                </div> {{!END BACKGROUND}}
                <button class="show-more-button col-sm-12 text-muted" {{action "togglePopularUploads"}}>
                    <i id="show-more-icon" class="fa fa-caret-down m-b-lg"></i>
                </button>
                <div class="text-center"
                     style="padding-top: 20px; padding-bottom: 40px;"> {{! READ MORE BUTTON}}
                    {{#link-to "discover" class="btn btn-success btn-lg"}}Browse more preprints{{/link-to}}
                </div> {{!END READ MORE BUTTON}}
            </div> {{!END ROW}}
        </div> {{!END CONTAINER}}
    </div> {{!END HEADER}}

    {{!SUBJECTS}}
    <div class="preprint-subjects"> {{!SUBJECTS LIST}}
        <div class="container"> {{!CONTAINER DIV}}
            <div class="row">{{!SUBJECTS ROW}}
                <h1 class="f-w-xl">Browse preprints by subject</h1>
                <div class="subjectsList table-striped"> {{!SUBJECTS LIST}}
                    {{taxonomy-top-list list=model.subjects}}
                </div> {{!END SUBJECTS LIST}}
            </div>{{!END ROW}}
        </div> {{!END CONTAINER}}
    </div> {{!END SUBJECTS LIST}}

    {{!BRANDED PREPRINT SERVERS}}
        <div class="preprint-providers"> {{!center text}}
            <div class="container-fluid p-b-md branded-servers-background"> {{!CONTAINER}}
                <h1 class="f-w-xl">Branded preprint servers powered by OSF Preprints</h1>
                <div class="row">{{!BRANDED ROW}}
                    Branded servers

                </div> {{!END ROW}}
            </div> {{!END CONTAINER}}
        </div> {{!END PROVIDERS}}



    {{!CONTRIBUTE YOUR RESEARCH}}
        <div class="container"> {{!CONTAINER}}
            <div class="space-top space-bottom text-center"> {{!STYLING}}
                <div class="row">{{!ROW}}
                    {{upload-button}}
                </div> {{!END ROW}}
            </div> {{!END STYLING}}
        </div> {{!END CONTAINER}}

    {{!FOOTER}}
    <div class="space-top space-bottom moving-logo-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2><strong>Tools for communities</strong></h2>
                    <h4> Create your own branded preprint servers backed by the OSF.</h4>
                    <a href="mailto:contact@osf.io" class="btn btn-info btn-lg">Contact us</a>
                </div>
                <div class="col-md-4 hidden-xs hidden-sm">
                    <div id="logo">
                        <div class="circle" id="circle-1"><span></span></div>
                        <div class="circle" id="circle-2"><span></span></div>
                        <div class="circle" id="circle-3"><span></span></div>
                        <div class="circle" id="circle-4"><span></span></div>
                        <div class="circle" id="circle-5"><span></span></div>
                        <div class="circle" id="circle-6"><span></span></div>
                        <div class="circle" id="circle-7"><span></span></div>
                        <div class="circle" id="circle-8"><span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {{!END INDEX}}
