<div class="preprints-page"> {{!INDEX}}

    {{!HEADER}}
    <div class="preprint-header"> {{!HEADER}}
        <div class="container"> {{!CONTAINER}}
            <div class="row">{{!HEADER ROW}}
                {{!TITLE}}
                <div class="text-center m-t-lg col-xs-12">
                    <div class="preprint-brand"></div>
                    <p class="lead">
                        <span>{{if theme.isProvider theme.provider.description (t "index.header.title.paragraph")}}</span>
                        {{#if theme.isProvider}}
                            <br>
                            <small>
                                <a href="https://osf.io/preprints/" onbeforeclick={{action "click" "link" "Index - Powered By"}}>{{t "index.header.powered_by"}}</a>
                            </small>
                        {{/if}}
                    </p>
                </div>
                {{!SEARCH}}
                <div class="preprint-search col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 m-v-lg" >
                    {{search-preprints search="search"}}

                    {{#if sharePreprintsTotal}}
                        <p class="p-l-md">
                            <span class="f-w-lg">{{t "index.header.search" count=(number-format sharePreprintsTotal)}}</span>
                            <span>{{t "index.header.as_of"}} {{moment-format currentDate "MMMM DD, YYYY"}}</span>
                        </p>
                    {{/if}}
                </div>
            </div> {{!END ROW}}
            <div class="row">
                <div class="text-center col-xs-12">
                    <p class="lead">{{t 'index.header.or'}}</p>
                    <a type="button" class="btn btn-success btn-lg preprint-submit-button" href={{concat theme.pathPrefix 'submit'}} onclick={{action "click" "link" "Preprints - Index - Add preprint"}}>{{t "global.add_preprint"}}</a>
                    <div class="m-t-md">{{#link-to (route-prefix 'content') (if theme.provider.example theme.provider.example 'khbvy') invokeAction=(action "click" "link" "Preprints - Index - See example")}}{{t "index.header.example"}}{{/link-to}}</div>
                </div>
            </div>
        </div> {{!END CONTAINER}}
    </div> {{!END HEADER}}

    {{!SUBJECTS}}
    <div class="preprint-subjects p-v-md"> {{!SUBJECTS LIST}}
        <div class="container"> {{!CONTAINER DIV}}
            <div class="row p-v-md">{{!SUBJECTS ROW}}
                <div class="col-xs-12">
                    <h2>{{t "index.subjects.heading"}}</h2>
                    <div class="subjectsList p-lg"> {{!SUBJECTS LIST}}
                        {{taxonomy-top-list list=model.taxonomies}}
                    </div> {{!END SUBJECTS LIST}}
                </div>
            </div>{{!END ROW}}
        </div> {{!END CONTAINER}}
    </div> {{!END SUBJECTS LIST}}

    {{#unless theme.isProvider}}
        {{!SERVICES}}
        <div class="preprint-tool p-v-md">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>{{t "index.services.top.heading"}}</h2>
                        <p class="m-b-lg">{{t "index.services.top.paragraph"}}</p>
                    </div>
                </div>
            </div>
            <div class="row p-v-md">{{!BRANDED ROW}}
                {{!CAROUSEL WITH PREPRINT PROVIDERS}}
                {{provider-carousel
                    providers=model.brandedProviders
                }}
            </div>
            <div class="row p-v-md">
                <div class="col-md-12 text-center">
                    <p class="lead">
                        {{t "index.services.bottom.p1"}}
                        <div class="p-t-sm">
                            {{t "index.services.bottom.div.line1"}}
                            <a class="source_code_link" href="https://github.com/CenterForOpenScience/ember-preprints"
                                {{action "click" "link" "Preprints - Index - GitHub Repo" "https://github.com/CenterForOpenScience/ember-preprints"}}>
                                {{t "index.services.bottom.div.linkText1"}}
                            </a>
                            {{t "index.services.bottom.div.line2"}}
                            <a class="source_code_link" href="https://docs.google.com/spreadsheets/d/1SocElbBjc_Nhme4-SJv2_zytBd1ys8R5aZDb3POe94c/edit#gid=1340026270"
                                {{action "click" "link" "Preprints - Index - Requirements and Roadmap" "https://docs.google.com/spreadsheets/d/1SocElbBjc_Nhme4-SJv2_zytBd1ys8R5aZDb3POe94c/edit#gid=1340026270"}}>
                                {{t "index.services.bottom.div.linkText2"}}
                            </a>
                            {{t "index.services.bottom.div.line3"}}
                        </div>
                    </p>
                    <a href="mailto:contact@osf.io" class="btn btn-info btn-lg" onclick={{action 'contactLink' emailHref 'link' 'click' 'Preprints - Index - contact email'}}>{{t "index.services.bottom.contact"}}</a>
                </div>
            </div>
        </div>
    {{/unless}}


    {{!ADVISORY GROUP}}
    <div class="preprint-advisory p-v-md">
        <div class="container">
            <div class="row">
                {{#if (and theme.isProvider theme.provider.advisoryBoard.length)}}
                    {{safe-markup theme.provider.advisoryBoard}}
                {{else if (not theme.isProvider)}}
                    <div class="col-xs-12">
                        <h2>{{t "index.advisory.heading"}}</h2>
                        <p class="m-b-lg">{{t "index.advisory.paragraph"}}</p>
                    </div>
                    <div class="col-xs-6">
                        <ul>
                            <li><b>Devin Berg :</b> engrXiv, University of Wisconsin-Stout</li>
                            <li><b>Pete Binfield :</b> PeerJ PrePrints</li>
                            <li><b>Philip Cohen :</b> SocArXiv, University of Maryland</li>
                            <li><b>Kathleen Fitzpatrick :</b> Modern Language Association</li>
                            <li><b>John Inglis :</b> bioRxiv, Cold Spring Harbor Laboratory Press</li>
                            <li><b>Rebecca Kennison :</b> K|N Consultants</li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul>
                            <li><b>Bethany Nowviskie :</b> Digital Library Federation, University of Virginia</li>
                            <li><b>Kristen Ratan :</b> CoKo Foundation</li>
                            <li><b>Oya Rieger :</b> arXiv, Cornell University</li>
                            <li><b>Judy Ruttenberg :</b> SHARE, Association of Research Libraries</li>
                            <li><b>Simine Vazire :</b> PsyArXiv, University of California, Davis</li>
                        </ul>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div> {{!END INDEX}}
