<body role="document">
<div class="index"> <!--INDEX-->

 <!--HEADER-->

        <!--<div class="paper-texture" style='background-image: url("assets/img/index/texture.png");'><!--PAPER TEXTURE-->

 <div class="row title-search space"><!--HEADER ROW-->
     <div class="header-color"><!--HEADER COLOR-->


    <div class="container" id="texture"> <!--CONTAINER-->

        <!--TITLE-->
        <div class="text-center m-b-lg">
            <h1 class="osf-preprint-lead">OSF Preprints</h1>
            <h2>The open preprint server for all academic disciplines</h2>
        </div>

        <!--SEARCH-->
        <div id="search" class="space-top space-bottom">
            {{search-preprints search="search"}}
            <p>{{model.preprints.length}} preprints as of
                <span>{{moment-format model.theDate "MMMM DD, YYYY"}}</span></p>
        </div>
        </div> <!--END CONTAINER-->
         </div> <!--HEADER COLOR-->
        </div> <!--END ROW-->
            <!--</div> <!--END PAPER TEXTURE-->


        <!--PREPRINT LIST-->
        <div class="row space"><!--ROW-->
            <br>

        <div class="container" id="preprint-list"> <!--CONTAINER-->
            <div class="index-titles"> <!--INDEX TITLES DIV-->
        <h1 class="f-w-xl">EXPLORE</h1>
        <h3>recent additions</h3>
            </div> <!--END INDEX TITLES-->
            <hr>
        <div id="landing-page-preprint-list-background"> <!--BACKGROUND-->
            <div id="landing-page-preprint-list"> <!--ARTICLE IN POPULAR UPLOADS-->
                {{#each model.preprints as |preprintEntry|}}
                    {{preprint-entry preprint=preprintEntry}}
                {{/each}}
            </div> <!--END POPULAR UPLOADS-->
        </div> <!--END BACKGROUND-->
        <button class="show-more-button col-sm-12 text-muted" {{action "togglePopularUploads"}}>
                <i id = "show-more-icon" class="fa fa-caret-down m-b-lg"></i>
        </button>
        <div class="text-center" style="padding-top: 20px; padding-bottom: 40px;"> <!-- READ MORE BUTTON-->
            {{#link-to "browse" class="btn btn-success btn-lg"}}Browse more preprints{{/link-to}}
            <hr>
        </div> <!--END READ MORE BUTTON-->
            </div> <!--END CONTAINER-->

            </div> <!--END ROW-->





<!--SUBJECTS-->
 <div class="row space"><!--SUBJECTS ROW-->
<div class="subjects text-center"> <!--SUBJECTS LIST-->
    <div class="container"> <!--CONTAINER DIV-->
            <div class="index-titles"> <!--INDEX TITLES DIV-->
        <h1 class="f-w-xl">BROWSE</h1>
        <h3>by topic</h3>
            </div> <!--END INDEX TITLES-->
        <br>
        <div class="subjectsList table-striped"> <!--SUBJECTS LIST-->

            {{taxonomy-tree tree=model.subjects filter="goToSubject"}}

        </div> <!--END SUBJECTS LIST-->
    </div> <!--END CONTAINER-->
</div> <!--END SUBJECTS LIST-->
</div><!--END ROW-->

<!--BRANDED PREPRINT SERVERS-->
 <div class="row space"><!--BRANDED ROW-->
<div class="branded-servers text-center"> <!--center text-->
    <div class="container-fluid p-b-md"> <!--CONTAINER-->
            <div class="index-titles"> <!--INDEX TITLES DIV-->
        <h1 class="f-w-xl">SERVERS</h1>
        <h3>powered by OSF preprints</h3>
            </div> <!--END INDEX TITLES-->
        <br>
        <div class="row-fluid"> <!--FLUID ROW-->
            <div class="col-sm-2 col-lg-2"> <!--UVA LOGO-->
                <a href="http://www.virginia.edu/"><img class="img-responsive logo" src="assets/img/engrxiv-logo.png" alt="University of Virginia"/></a>
            </div> <!--END UVA LOGO-->
            <div class="col-sm-2 col-lg-2"> <!--ARIZONA LOGO-->
                <a href="http://www.arizona.edu/"><img class="img-responsive logo" src="assets/img/SocArXiv.png" alt="University of Arizona"/></a>
            </div> <!--END ARIZONA LOGO-->
        </div> <!--END FLUID ROW-->
    </div> <!--END CONTAINER-->
</div> <!--END CENTER TEXT-->
 </div> <!--END ROW-->

<!--CONTRIBUTE YOUR RESEARCH-->
<div class="row space"><!--ROW-->
 <div class="container"> <!--CONTAINER-->
     <br>
     <div class="index-titles"> <!--INDEX TITLES DIV-->
        <h1 class="f-w-xl">CONTRIBUTE</h1>
        <h3>your research</h3>
            </div> <!--END INDEX TITLES-->
        <br>
    <div class="space-top space-bottom text-center"> <!--STYLING-->
        {{upload-button}}
    </div> <!--END STYLING-->
</div> <!--END CONTAINER-->
</div> <!--END ROW-->

<!--TOOLS-->
 <div class="row space"> <!--ROW-->
<div class="space-top space-bottom moving-logo-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="index-titles"> <!--INDEX TITLES DIV-->
        <h1 class="f-w-xl">TOOLS</h1>
        <h3>for the community</h3>
            </div> <!--END INDEX TITLES-->
                <h4> Create your own branded preprint servers backed by the OSF.</h4>
                <a href="mailto:contact@osf.io" class="btn btn-info btn-lg">Contact us</a>
            </div>
            <div class="col-md-4 hidden-xs hidden-sm">
                <div id="logo">
                    <div class="circle" id="circle-1"><span></span></div>
                    <div class="circle" id="circle-2"><span></span></div>
                    <div class="circle" id="circle-3"><span></span></div>
                    <div class="circle" id="circle-4"><span></span></div>
                    <div class="circle" id="circle-5"><span></span></div>
                    <div class="circle" id="circle-6"><span></span></div>
                    <div class="circle" id="circle-7"><span></span></div>
                    <div class="circle" id="circle-8"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
 </div> <!--END ROW-->


    </div> <!--END INDEX-->
</body>
