<style>

</style>

<body role="document">

 <!--HEADER-->
<div class="osf-preprint-header-img"> <!--HEADER-->
    <div class="container"> <!--CONTAINER-->
        <!--TITLE-->
        <div class="text-center m-b-lg">
            <h1 class="osf-preprint-lead">OSF Preprints</h1>
            <h2>Fostering the <span class="highlight-bold">openness</span>, <span class="highlight-bold">integrity</span>, and <span class="highlight-bold">reproducibility</span> of scientific research</h2>
        </div>

        <!--SEARCH-->
        <div id="search" class="space-top space-bottom">
            {{search-preprints}}
            <p><span class="highlight">13,249</span> preprints, <span class="highlight">8,265</span> contributors as of Mon Jun 06 2016</p>
        </div>

        <!--PREPRINT LIST-->
        <h2>Popular Uploads</h2>
        <div id="landing-page-preprint-list-background"> <!--BACKGROUND-->
            <div id="landing-page-preprint-list"> <!--ARTICLE IN POPULAR UPLOADS-->
                {{#each model.preprints as |preprintEntry|}}
                    {{preprint-entry preprint=preprintEntry}}
                {{/each}}
            </div> <!--END POPULAR UPLOADS-->
        </div> <!--END BACKGROUND-->
            <div class="text-center" style="padding-top: 20px; padding-bottom: 40px;"> <!-- READ MORE BUTTON-->
                    <a type="button" class="btn btn-success btn-lg" href="/browse">Browse more preprints</a>
            </div> <!--END READ MORE BUTTON-->
    </div> <!--END CONTAINER-->
</div> <!--END HEADER-->

<!--SUBJECTS-->
<div class="subjects text-center"> <!--SUBJECTS LIST-->
    <div class="container"> <!--CONTAINER DIV-->
        <h1 class="f-w-xl">Browse preprints by subject</h1>
            <div class="subjectsList table-striped"> <!--SUBJECTS LIST-->

        <table class="table">
            {{#each model.subjects as |s|}}
                <tr {{action "goToSubject" s.subject s.subjectid}}> <td>{{s.subject}}</td></tr>
            {{/each}}
        </table>

        </div> <!--END SUBJECTS LIST-->
    </div> <!--END CONTAINER-->
</div> <!--END SUBJECTS LIST-->

<!--BRANDED PREPRINT SERVERS-->
<div class="branded-servers text-center">
    <div class="container-fluid" style='background-image: url("assets/img/bg-web.png");'>
        <h1 class="f-w-xl">Branded preprint servers powered by OSF Preprints</h1>
        <div class="row-fluid">
            <div class="col-sm-2 col-lg-2">
                <a href="http://www.virginia.edu/"><img class="img-circle img-responsive logo" src="assets/img/logo_uva.png" alt="University of Virginia"/></a>
            </div>
            <div class="col-sm-2 col-lg-2">
                <a href="http://www.arizona.edu/"><img class="img-circle img-responsive logo" src="assets/img/logo_ua.png" alt="University of Arizona"/></a>
            </div>
        </div>
    </div>
</div>

<!--CONTRIBUTE YOUR RESEARCH-->
<div class="container">
    <div class="space-top space-bottom text-center">
        {{upload-button}}
    </div>
</div>

<!--FOOTER-->
<div class="space-top space-bottom moving-logo-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2><strong>Tools for communities</strong></h2>
                <h4> Create your own branded preprint servers backed by the OSF.</h4>
                <a href="mailto:contact@osf.io" class="btn btn-info btn-lg">Contact us</a>
            </div>
            <div class="col-md-4 hidden-xs hidden-sm">
                <div id="logo">
                    <div class="circle" id="circle-1"><span></span></div>
                    <div class="circle" id="circle-2"><span></span></div>
                    <div class="circle" id="circle-3"><span></span></div>
                    <div class="circle" id="circle-4"><span></span></div>
                    <div class="circle" id="circle-5"><span></span></div>
                    <div class="circle" id="circle-6"><span></span></div>
                    <div class="circle" id="circle-7"><span></span></div>
                    <div class="circle" id="circle-8"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
