{{donate-banner}}

<div class="preprints-page"> {{!INDEX}}

    {{!HEADER}}
    <div class="preprint-header"> {{!HEADER}}
        <div class="container"> {{!CONTAINER}}
            <div class="row">{{!HEADER ROW}}
                {{!TITLE}}
                <div class="text-center m-t-lg col-xs-12">
                    {{#if theme.isProvider}}
                        <div class="provider-brand" style="background-image: url('{{provider-asset theme.id 'wide_color.png'}}')"></div>
                    {{else}}
                        <div class="provider-brand"></div>
                    {{/if}}
                    <p class="lead">
                        {{#if theme.isProvider}}
                            {{sanitize-html theme.provider.description "description"}}
                            <br>
                            <small>
                                <a href="https://osf.io/preprints/" onbeforeclick={{action "click" "link" "Index - Powered By"}}>{{t "index.header.powered_by"}}</a>
                            </small>
                        {{/if}}
                    </p>
                </div>
                {{!SEARCH}}
                <div class="preprint-search col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 m-v-lg" >
                    {{search-preprints search="search"}}
                    {{#if (not theme.isProvider)}}
                        {{total-share-results}}
                    {{/if}}
                </div>
            </div> {{!END ROW}}
            {{#if theme.provider.allowSubmissions}}
                <div class="row">
                    <div class="text-center col-xs-12">
                        <p class="lead">{{t 'index.header.or'}}</p>
                        <a type="button" class="btn btn-success btn-lg preprint-submit-button" onclick={{action "click" "link" "Index - Add preprint"}} href={{concat theme.pathPrefix 'submit'}}>{{t "global.add_preprint"}}</a>
                        <div class="m-t-md">{{#link-to (route-prefix 'content') (if theme.provider.example theme.provider.example 'khbvy') invokeAction=(action "click" "link" "Index - See example")}}{{t "index.header.example"}}{{/link-to}}</div>
                    </div>
                </div>
            {{/if}}
        </div> {{!END CONTAINER}}
    </div> {{!END HEADER}}

    {{!SUBJECTS}}
    <div class="preprint-subjects p-v-md"> {{!SUBJECTS LIST}}
        <div class="container"> {{!CONTAINER DIV}}
            <div class="row p-v-md">{{!SUBJECTS ROW}}
                <div class="col-xs-12">
                    <h2>{{#if theme.provider.additionalProviders}}
                            {{t "index.subjects.heading.provider"}}
                        {{else}}
                            {{if theme.provider.hasHighlightedSubjects (t "index.subjects.heading.hasHighlightedSubjects") (t "index.subjects.heading.noHighlightedSubjects")}}
                        {{/if}}
                    </h2>
                    {{#if theme.provider.hasHighlightedSubjects}}
                        {{#link-to "provider.discover" class="seeAllSubjects"}}{{t 'index.subjects.links.seeAllSubjects'}}{{/link-to}}
                    {{/if}}
                    <div class="subjectsList p-lg"> {{!SUBJECTS LIST}}
                        {{#if theme.provider.additionalProviders}}
                            {{additional-provider-list additionalProviders=theme.provider.additionalProviders}}
                        {{else}}
                            {{taxonomy-top-list list=model.taxonomies}}
                        {{/if}}
                    </div> {{!END SUBJECTS LIST}}
                </div>
            </div>{{!END ROW}}
        </div> {{!END CONTAINER}}
    </div> {{!END SUBJECTS LIST}}

    {{#unless theme.isProvider}}
        {{!SERVICES}}
        <div class="preprint-tool p-v-md">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>{{t "index.services.top.heading"}}</h2>
                        <p class="m-b-lg">{{t "index.services.top.paragraph"}}</p>
                    </div>
                </div>
                <div class="row p-v-md">
                    <div class="provider-logos">
                        {{#each model.brandedProviders as |provider| }}
                            {{!-- <a href="{{brandedPreprintUrl provider}}" title="{{provider.name}}" class="provider-logo-item" style="background-image: url({{provider-asset provider.id 'wide_white.png'}});"></a> --}}
                        {{/each}}
                    </div>
                </div>
                <div class="row p-v-md">
                    <div class="col-md-12 text-center">
                        <p class="lead">
                            {{t "index.services.bottom.p1"}}
                            <div class="p-t-sm">
                                {{t "index.services.bottom.div.line1"}}
                                <a class="source_code_link" href="https://github.com/CenterForOpenScience/ember-preprints"
                                    onclick={{action "click" "link" "Index - GitHub Repo" "https://github.com/CenterForOpenScience/ember-preprints"}}>
                                    {{t "index.services.bottom.div.linkText1"}}
                                </a>
                                {{t "index.services.bottom.div.line2"}}
                                <a class="source_code_link" href="https://docs.google.com/spreadsheets/d/1SocElbBjc_Nhme4-SJv2_zytBd1ys8R5aZDb3POe94c/edit#gid=1340026270"
                                    onclick={{action "click" "link" "Index - Requirements and Roadmap" "https://docs.google.com/spreadsheets/d/1SocElbBjc_Nhme4-SJv2_zytBd1ys8R5aZDb3POe94c/edit#gid=1340026270"}}>
                                    {{t "index.services.bottom.div.linkText2"}}
                                </a>
                                {{t "index.services.bottom.div.line3"}}
                            </div>
                        </p>
                        <a href="mailto:contact@osf.io" class="btn btn-info btn-lg" onclick={{action 'contactLink' emailHref 'link' 'click' 'Index - contact email'}}>{{t "index.services.bottom.contact"}}</a>
                    </div>
                </div>
            </div>
        </div>
    {{/unless}}


    {{!ADVISORY GROUP}}
    {{#if theme.provider.advisoryBoard.length}}
        <div class="preprint-advisory p-v-md">
            <div class="container">
                <div class="row">
                    {{sanitize-html theme.provider.advisoryBoard "advisory-board"}}
                </div>
            </div>
        </div>
    {{/if}}
</div> {{!END INDEX}}
