<body role="document">

 <!--HEADER-->
<div class="osf-preprint-header-img">
    <div class="container">
        <!--TITLE-->
        <div class="text-center m-b-lg">
            <h1 class="osf-preprint-lead">OSF Preprints</h1>
            <h2><span style="color: pink;">13,249</span> preprints from <span style="color: pink;">8,265</span> contributors hosted and promoting open science!</h2>
        </div>

        <!--SEARCH-->
        <div id="search">
            {{search-preprints}}
        </div>

        <!--PREPRINT LIST-->
        <h2>Popular Uploads</h2>
        <div id="landing-page-preprint-list">
            {{#each model as |preprintEntry|}}
                {{preprint-entry preprint=preprintEntry}}
            {{/each}}

            <div class="text-center" style="padding-top: 20px; padding-bottom: 40px;">
                <a type="button" class="btn btn-success" href="/search">Browse more preprints</a>
            </div>
        </div>


    </div>
</div>

<!--SUBJECTS-->
<div class="subjects text-center">
    <div class="container">
        <h1 class="f-w-xl">Subjects</h1>

        <table class="table">
            <tr {{action "goToSubject" "/search"}}><td>Astronomy</td></tr>
            <tr {{action "goToSubject" "/search"}}><td>Biology</td></tr>
            <tr {{action "goToSubject" "/search"}}><td>Computer Science</td></tr>
            <tr {{action "goToSubject" "/search"}}><td>Geology</td></tr>
            <tr {{action "goToSubject" "/search"}}><td>Medicine</td></tr>
            <tr {{action "goToSubject" "/search"}}><td>Neurology</td></tr>
            <tr {{action "goToSubject" "/search"}}><td>Physics</td></tr>
            <tr {{action "goToSubject" "/search"}}><td>Psychology</td></tr>
        </table>

    </div>
</div>

<!--BRANDED PREPRINT SERVERS-->
<div class="branded-servers bg-color-hover text-center" style="background-color: var(--theme-color-light); color: white;">
    <div class="container">
        <h1 class="space-bottom f-w-xl">Branded preprint servers powered by OSF Preprints</h1>
        <div class="row">
            <div class="col-md-6">
                <a href="http://www.virginia.edu/"><img src="assets/img/banner_uva.png"/></a>
            </div>
            <div class="col-md-6">
                <a href="http://monstersuniversity.com/edu/"><img src="assets/img/banner_monsters.jpg"/></a>
            </div>
        </div>
    </div>
</div>

<!--CONTRIBUTE YOUR RESEARCH-->
<div class="container">
    <div class="space-top space-bottom text-center">
        {{upload-button}}
    </div>
</div>

<!--FOOTER-->
<div class="space-top space-bottom moving-logo-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2><strong>Tools for communities</strong></h2>
                <h4> Create your own branded preprint servers backed by the OSF.</h4>
                <a href="mailto:contact@osf.io" class="btn btn-info btn-lg">Contact us</a>
            </div>
            <div class="col-md-4 hidden-xs hidden-sm">
                <div id="logo">
                    <div class="circle" id="circle-1"><span></span></div>
                    <div class="circle" id="circle-2"><span></span></div>
                    <div class="circle" id="circle-3"><span></span></div>
                    <div class="circle" id="circle-4"><span></span></div>
                    <div class="circle" id="circle-5"><span></span></div>
                    <div class="circle" id="circle-6"><span></span></div>
                    <div class="circle" id="circle-7"><span></span></div>
                    <div class="circle" id="circle-8"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
