<div class="index"> {{!INDEX}}

    {{!HEADER}}
    <div class="row header-background space-top">{{!HEADER ROW}}
        <div class="background-logo"> {{!LOGO}}

        <div class="osf-preprint-header-img"> {{!HEADER}}
            <div class="container"> {{!CONTAINER}}
                {{!TITLE}}
                <div class="text-center m-b-lg">
                    <h1 class="osf-preprint-lead">OSF Preprints</h1>
                    <h2>
                        The open preprint server for all academic disciplines
                    </h2>
                </div>

                {{!SEARCH}}
                <div id="search" class="space-top space-bottom">
                    {{search-preprints search="search"}}
                    <p>
                        {{model.preprints.length}} preprints as of
                        <span>{{moment-format model.theDate "MMMM DD, YYYY"}}</span>
                    </p>
                </div>
            </div> {{!END CONTAINER}}
            </div> {{!END HEADER}}
            </div> {{!END LOGO}}
        </div> {{!END ROW}}


    {{!PREPRINT LIST}}
        <div class="row list">
        <div class="container"> {{!CONTAINER}}
                <div class="headers-div"> {{!HEADER DIV}}
                    <h2>EXPLORE</h2>
                <h4>recent additions</h4>
                </div> {{!END HEADER DIV}}
            </div> {{!END CONTAINER}}
    </div> {{!END ROW}}
    <hr>
    <div class="row list">
        <div class="container"> {{!CONTAINER}}
                <div id="landing-page-preprint-list-background"> {{!BACKGROUND}}
                    <div id="landing-page-preprint-list"> {{!ARTICLE IN POPULAR UPLOADS}}
                        {{#each model.preprints as |preprintEntry|}}
                            {{preprint-entry preprint=preprintEntry}}
                        {{/each}}
                    </div> {{!END POPULAR UPLOADS}}
                </div> {{!END BACKGROUND}}
                <button class="show-more-button col-sm-12 text-muted" {{action "togglePopularUploads"}}>
                    <i id="show-more-icon" class="fa fa-caret-down m-b-lg"></i>
                </button>
            <hr>
                <div class="text-center"
                     style="padding-top: 20px; padding-bottom: 40px;"> {{! READ MORE BUTTON}}
                    {{#link-to "browse" class="btn btn-success btn-lg"}}Browse more preprints{{/link-to}}
                </div> {{!END READ MORE BUTTON}}
            </div> {{!END CONTAINER}}
    </div> {{!END ROW}}

    {{!SUBJECTS}}
    <div class="row subjects-box">{{!SUBJECTS ROW}}
        <div class="container"> {{!CONTAINER DIV}}

            <div class="headers-div"> {{!HEADER DIV}}
                    <h2>BROWSE</h2>
                <h4>by topic</h4>
                </div> {{!END HEADER DIV}}

            <div class="subjects text-center"> {{!SUBJECTS LIST}}
                <div class="subjectsList table-striped"> {{!SUBJECTS LIST}}

                    {{taxonomy-tree tree=model.subjects filter="goToSubject"}}

                </div> {{!END SUBJECTS LIST}}
            </div> {{!END SUBJECTS LIST}}
        </div> {{!END CONTAINER}}
    </div>{{!END ROW}}

    {{!BRANDED PREPRINT SERVERS}}
    <div class="row branded-servers-background">{{!BRANDED ROW}}
        <div class="container">
           <div class="headers-div"> {{!HEADER DIV}}
                    <h2>PREPRINTS</h2>
                <h4>powered by the OSF</h4>
                </div> <!--END HEADERS DIV-->
        </div>
        <div class="branded-servers text-center"> {{!center text}}
            <div class="container-fluid p-b-md"> {{!CONTAINER}}
                <div class="row-fluid"> {{!FLUID ROW}}
                    <div class="col-sm-2 col-lg-2"> {{!UVA LOGO}}
                        <a href="http://www.virginia.edu/" alt="University of Virginia">
                            <img class="img-circle img-responsive logo uva-logo">
                        </a>
                    </div> {{!END UVA LOGO}}
                    <div class="col-sm-2 col-lg-2"> {{!ARIZONA LOGO}}
                        <a href="http://www.arizona.edu/" alt="University of Arizona">
                            <img class="img-circle img-responsive logo ua-logo">
                        </a>
                    </div> {{!END ARIZONA LOGO}}
                </div> {{!END FLUID ROW}}
            </div> {{!END CONTAINER}}
        </div> {{!END CENTER TEXT}}
    </div> {{!END ROW}}

    {{!CONTRIBUTE YOUR RESEARCH}}
    <div class="row contribute-section">{{!ROW}}
        <div class="container"> {{!CONTAINER}}
            <div class="space-bottom"> {{!STYLING}}
                {{upload-button}}
            </div> {{!END STYLING}}
        </div> {{!END CONTAINER}}
    </div> {{!END ROW}}

    {{!TOOLS}}
    <div class="row"> {{!ROW}}
        <div class="space-bottom tools-section">
            <div class="container">
                        <div class="headers-div"> {{!HEADER DIV}}
                    <h2>TOOLS</h2>
                <h4>for community</h4>
                </div> {{!END HEADER DIV}}
                    <div class="text-center"> {{!TEXT CENTER}}
                        <h4> Create your own <b>branded preprint server</b> backed by the OSF.</h4>
                            <a href="mailto:contact@osf.io" class="btn btn-info btn-lg">Contact us</a>
                    </div> {{!END TEXT CENTER}}
            </div>
        </div>
    </div> {{!END ROW}}
</div> {{!END INDEX}}