{{title 'Page not found'}}

<div class="preprint-404">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{t "page-not-found.heading"}}</h1>
                <p>{{t "page-not-found.paragraph.line1"}} <br> {{t "page-not-found.paragraph.line2"}} <a href="mailto:support@osf.io" {{action "click" "link" "Page not found - Support"}}>support@osf.io</a></p>
                {{#link-to "index" class="btn btn-primary m-t-md" }}{{t "page-not-found.go_to"}}{{/link-to}} {{! invokeAction=(action "click" "link" "Page not found - Go to Index") TODO find out why this breaks }}

            </div>
        </div>

    </div>
</div>
