{{nav-bar}}
<br>
<br>
<style>
#mfr {
    padding: 40px;
    padding-top: 30px;

}
#header {
    padding: 20px;
    margin-left: 12px;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-style: inset;
    border-width: 1px;
}
#view_project {
    margin-right: 20px;
}

#right_panel {
    margin-right: 20px;
}

    .osf-box{
        border:0px;
    }
</style>

<body>

<div class="container"><!--CONATINER DIV-->
    <div class="row">
        <div class="m-b-md p-md osf-box">
            <div class="row" id="header">
                <h1>{{model.title}}</h1>
                <h5>{{model.authors}}</h5>
                <h5>Added on {{model.date}}</h5>
            </div>
            <hr color="#C7FFC7">
            <div class="row">
                <div id="mfr" class="col-md-7">
                    <iframe src={{model.link}} display="block" width=600 height=700></iframe>
                </div>
                <div class="col-md-5">
                    <br>
                    <div class="row m-b-md p-md osf-box-lt" id="view_project">
                        <div class="col-md-8">
                            <p>The project for this paper is available on the Open Science Framework</p>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary" onclick="window.location.href={{model.link}}">View project</button>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" id="right_panel">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Absract:
                                </div>
                                <div class="panel-body">
                                    {{model.abstract}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="right_panel">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Citation
                                </div>
                                <div class="panel-body">
                                    <strong>APA</strong><br>
                                    Cummings, J. N., Butler, B., & Kraut, R. (2002). The quality of online social
                                    relationships. Communications of the ACM, 45(7), 103-108.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--END ROW-->
    </div><!--END DIV CONTAINER-->
</body>
