<div class="preprint-submit-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1> Add Preprint </h1>
            </div>
        </div>

    </div>
</div>
<div class="preprint-submit-body">
    <div class="container">
        <div class="row m-t-lg">
            <div class="col-xs-12 col-md-10 col-md-offset-1 ">
                <p>Use the guide below to add your preprint to the OSF preprint service. We organize preprints into projects that provide many additional features and options. Learn more about how to work with preprints and projects in OSF. </p>
                {{#cp-panels accordion=true}}
                    {{#with _names.[0] as |name|}}
                        {{#preprint-form-section id='preprint-form-upload' class="preprint-form-block" open=true name=name allowOpen=true errorAction=(action 'error')}}
                            {{preprint-form-header name=name valid=uploadValid}}
                            {{#preprint-form-body}}
                                {{#if fileAndNodeLocked}}
                                    <p><label> Selected File: </label> {{selectedFile.name}}</p>
                                    <p><label> Selected project: </label> {{node.title}} </p>

                                    <button class="btn btn-danger" {{action 'resetFileUpload'}}>Reset</button>
                                    <button class="btn btn-primary" {{action 'next' name}}>Next</button>
                                {{else}}
                                    {{#liquid-bind filePickerState class='translate' as |currentState|}}
                                        <div class={{currentState}}>
                                            {{#if (eq currentState _State.START)}}
                                                <div class="row">
                                                    <div class="col-xs-6 p-h-xl">
                                                        <button class="btn btn-block btn-big" {{action 'changeState' _State.NEW}}>Upload a New File</button>
                                                    </div>
                                                    <div class="col-xs-6  p-h-xl">
                                                        <button class="btn btn-block btn-big" {{action 'changeState' _State.EXISTING}}>Select a file from OSF</button>
                                                    </div>
                                                </div>

                                            {{else if (eq currentState _State.NEW)}}
                                                {{file-uploader
                                                    node=node
                                                    userNodes=userNodes
                                                    osfFile=selectedFile
                                                    next=(action 'next')
                                                    _names=_names
                                                    finishUpload=(action 'finishUpload')
                                                    changeState=(action 'changeState')}}

                                            {{else if (eq currentState _State.EXISTING)}}
                                                {{preprint-form-project-select
                                                  userNodes=userNodes
                                                  fileSelect=true
                                                  selectedNode=node
                                                  selectedFile=selectedFile
                                                  selectFile=(action "selectExistingFile")
                                                   chooseExistingProjectHeader=chooseExistingProjectHeader
                                                   createComponentHeader=createComponentHeader
                                                  highlightSuccessOrFailure=(action 'highlightSuccessOrFailure')
                                                  shouldCreateChild=shouldCreateChild}}
                                                {{! TODO: cleanup created component if needed }}
                                                <button class="btn btn-default" {{action 'changeState' _State.START}}>Back</button>
                                                {{! TODO: check if project and file are selected before allowing user to continue }}
                                                <button class="btn btn-primary" disabled={{unless (and node selectedFile) true}} {{action (if shouldCreateChild 'addChild' 'finishUpload') name}}>Next</button>
                                            {{else}}
                                                {{log 'preprint-form-upload: bad state'}}
                                            {{/if}}
                                        </div>
                                    {{/liquid-bind}}
                                {{/if}}
                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}

                    {{#with _names.[1] as |name|}}
                        {{#preprint-form-section id='preprint-form-basics' class="preprint-form-block" name=name allowOpen=uploadValid errorAction=(action 'error')}}
                            {{preprint-form-header name=name valid=basicsValid}}
                            {{#preprint-form-body}}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <label>
                                                <span class="required">Title:</span>
                                                {{validated-input model=this valuePath='basicsTitle' placeholder="Title" value=basicsTitle}}
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                DOI:
                                                {{validated-input model=this valuePath='basicsDOI' placeholder="DOI" value=basicsDOI}}
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                Tags:
                                                {{input class="form-control" value=basicsTags}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            <span class="required">Abstract:</span>
                                            {{validated-input model=this valuePath='basicsAbstract' placeholder="" value=basicsAbstract large=true}}
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button {{action 'saveBasics'}} class="btn btn-primary" disabled={{unless basicsValid true}} >Save and continue</button>
                                        </div>
                                    </div>
                                </div>

                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}

                    {{#with _names.[2] as |name|}}
                        {{#preprint-form-section id='preprint-form-subjects' class="preprint-form-block"  name=name allowOpen=uploadValid errorAction=(action 'error')}}
                            {{preprint-form-header name=name valid=subjectsValid}}
                            {{#preprint-form-body}}

                                {{subject-picker save=(action 'saveSubjects')}}

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button {{action 'subjectsNext'}} class="btn btn-primary" disabled={{unless subjectsValid true}} >Save and continue</button>
                                        </div>
                                    </div>
                                </div>
                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}

                    {{#with _names.[3] as |name|}}
                        {{#preprint-form-section id='preprint-form-authors' class="preprint-form-block"  name=name allowOpen=uploadValid errorAction=(action 'error')}}
                            {{preprint-form-header name=name valid=authorsValid}}
                            {{#preprint-form-body}}
                                {{preprint-form-authors
                                    contributors=contributors
                                    node=node
                                    isAdmin=isAdmin
                                    canEdit=canEdit
                                    currentUser=user
                                    addContributor=(action 'addContributor')
                                    findContributors=(action 'findContributors')
                                    searchResults=searchResults
                                    removeContributor=(action 'removeContributor')
                                    editContributor=(action 'updateContributor')
                                    reorderContributors=(action 'reorderContributors')
                                    highlightSuccessOrFailure=(action 'highlightSuccessOrFailure')
                                }}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button {{action 'next' name}} class="btn btn-primary" disabled={{unless authorsValid true}} >Save and continue</button>
                                        </div>
                                    </div>
                                </div>
                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}

                    {{#with _names.[4] as |name|}}
                        {{#preprint-form-section id='preprint-form-submit' class="preprint-form-block"  animate=true name=name allowOpen=uploadValid errorAction=(action 'error')}}
                            {{preprint-form-header name=name valid=(get valid name)}}
                            {{#cp-panel-body}}
                                <div class="text-center">
                                    <p>Sharing this project will make both the manuscript and the project associated with it public.</p>
                                    <button class="btn btn-primary btn-lg m-t-md" type="submit" {{action 'savePreprint'}}>Share</button>
                                </div>
                            {{/cp-panel-body}}
                        {{/preprint-form-section}}
                    {{/with}}
                {{/cp-panels}}
            </div>
        </div>
    </div>
</div>
