<div class="preprint-submit-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1> Add Preprint </h1>
            </div>
        </div>

    </div>
</div>
<div class="preprint-submit-body">
    <div class="container">
        <div class="row m-t-lg">
            <div class="col-xs-12 col-md-10 col-md-offset-1 ">
                <p>Follow these five easy steps to add your preprint to the OSF preprint repository.</p>
                {{#cp-panels accordion=true}}
                    {{#with _names.[0] as |name|}}
                        {{#preprint-form-section id='preprint-form-upload' class="preprint-form-block" open=true name=name allowOpen=true errorAction=(action 'error')}}
                            {{preprint-form-header uploadSaveState=uploadSaveState showValidationIndicator=false name=name preprintFile=selectedFile.name preprintTitle=node.title valid=uploadValid}}
                            {{#preprint-form-body}}
                                {{#if fileAndNodeLocked}}
                                    <p><em> Preprint file: </em> {{selectedFile.name}}</p>

                                    <p><em> Preprint title: </em></p>
                                    {{validated-input model=this valuePath='basicsTitle' placeholder="Title" value=nodeTitle}}

                                    <button class="btn btn-danger" {{action 'toggleRestartPreprintModal'}}>Restart</button>
                                    <button class="btn btn-primary" disabled={{unless nodeTitle true}} {{action 'editTitleNext' name}}>Next</button>

                                    <div>
                                        {{confirm-restart-submit-preprint isOpen=showModalRestartPreprint resetFileUpload=(action 'resetFileUpload')}}
                                    </div>
                                {{else}}
                                    {{#liquid-bind filePickerState class='translate' as |currentState|}}
                                        <div class={{currentState}}>
                                            {{#if (eq currentState _State.START)}}
                                                <div class="row">
                                                    <div class="col-xs-6 p-h-xl">
                                                        <button class="btn btn-block btn-big" {{action 'changeState' _State.NEW}}>Upload new preprint</button>
                                                    </div>
                                                    <div class="col-xs-6  p-h-xl">
                                                        <button class="btn btn-block btn-big" {{action 'changeState' _State.EXISTING}}>Connect preprint to existing OSF project</button>
                                                    </div>
                                                </div>

                                            {{else if (eq currentState _State.NEW)}}
                                                {{file-uploader
                                                    hasFile=hasFile
                                                    file=file
                                                    node=node
                                                    nodeTitle=nodeTitle
                                                    userNodes=userNodes
                                                    osfFile=selectedFile
                                                    next=(action 'next')
                                                    _names=_names
                                                    projectsCreatedForPreprint=projectsCreatedForPreprint
                                                    filesUploadedForPreprint=filesUploadedForPreprint
                                                    finishUpload=(action 'finishUpload')}}
                                                <button class="btn btn-default" {{action 'changeState' _State.START}}>Back</button>


                                            {{else if (eq currentState _State.EXISTING)}}
                                                {{preprint-form-project-select
                                                  userNodes=userNodes
                                                  fileSelect=true
                                                  selectedNode=node
                                                  selectedFile=selectedFile
                                                  selectFile=(action "selectExistingFile")
                                                  chooseExistingProjectHeader=chooseExistingProjectHeader
                                                  createComponentHeader=createComponentHeader
                                                  highlightSuccessOrFailure=(action 'highlightSuccessOrFailure')
                                                  shouldCreateChild=shouldCreateChild}}
                                                {{! TODO: cleanup created component if needed }}
                                                <button class="btn btn-default" {{action 'changeState' _State.START}}>Back</button>
                                                {{! TODO: check if project and file are selected before allowing user to continue }}
                                                <button class="btn btn-primary" disabled={{unless (and node selectedFile) true}} {{action (if shouldCreateChild 'addChild' 'finishUpload') name}}>Next</button>
                                            {{/if}}
                                        </div>
                                    {{/liquid-bind}}
                                {{/if}}
                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}

                    {{#with _names.[1] as |name|}}
                        {{#preprint-form-section id='preprint-form-subjects' class="preprint-form-block"  name=name allowOpen=uploadValid errorAction=(action 'error') as |hasOpened|}}
                            {{preprint-form-header disciplineSaveState=disciplineSaveState subjects=model.subjects name=name valid=disciplineValid isValidationActive=hasOpened}}
                            {{#preprint-form-body}}
                                <p class="m-b-lg small"> Select a discipline and subdiscipline, if relevant. Add more by clicking on a new discipline or subdiscipline.</p>

                                {{subject-picker save=(action 'saveSubjects')}}

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button {{action 'subjectsNext'}} class="btn btn-primary" disabled={{unless disciplineValid true}} >Save and continue</button>
                                        </div>
                                    </div>
                                </div>
                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}

                    {{#with _names.[2] as |name|}}
                        {{#preprint-form-section id='preprint-form-basics' class="preprint-form-block" name=name allowOpen=uploadValid errorAction=(action 'error') as |hasOpened|}}
                            {{preprint-form-header doi=basicsDOI basicsSaveState=basicsSaveState tags=node.tags abstract=basicsAbstract name=name valid=basicsValid isValidationActive=hasOpened}}
                            {{#preprint-form-body}}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <label>
                                                If published, DOI of associated journal article (optional):
                                            </label>
                                            {{validated-input model=this valuePath='basicsDOI' placeholder="DOI" value=basicsDOI}}
                                        </div>
                                        <div>
                                            <label>
                                                Keywords:
                                            </label>
                                            <p class="small"> Add keywords to increase discoverability of your preprint</p>
                                            {{tags-widget addATag=(action 'addATag' node) removeATag=(action 'removeATag' node) tags=node.tags}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            <span class="required">Abstract:</span>
                                        </label>
                                        {{validated-input model=this valuePath='basicsAbstract' placeholder="Add a brief summary of your preprint" value=basicsAbstract large=true}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button {{action 'saveBasics'}} class="btn btn-primary" disabled={{unless basicsValid true}} >Save and continue</button>
                                        </div>
                                    </div>
                                </div>

                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}

                    {{#with _names.[3] as |name|}}
                        {{#preprint-form-section id='preprint-form-authors' class="preprint-form-block"  name=name allowOpen=uploadValid errorAction=(action 'error') as |hasOpened|}}
                            {{preprint-form-header authorsSaveState=authorsSaveState authors=contributors name=name valid=authorsValid isValidationActive=hasOpened}}
                            {{#preprint-form-body}}
                                <p class="small">
                                    Add preprint authors and order them appropriately. Search looks for authors that have OSF accounts already.
                                    Unregistered users can be added and invited to join the preprint.
                                </p>
                                {{preprint-form-authors
                                    contributors=contributors
                                    node=node
                                    isAdmin=isAdmin
                                    canEdit=canEdit
                                    currentUser=user
                                    addContributor=(action 'addContributor')
                                    findContributors=(action 'findContributors')
                                    searchResults=searchResults
                                    removeContributor=(action 'removeContributor')
                                    editContributor=(action 'updateContributor')
                                    reorderContributors=(action 'reorderContributors')
                                    highlightSuccessOrFailure=(action 'highlightSuccessOrFailure')
                                }}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button {{action 'next' name}} class="btn btn-primary" disabled={{unless authorsValid true}} >Save and continue</button>
                                        </div>
                                    </div>
                                </div>
                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}

                    {{#with _names.[4] as |name|}}
                        {{#preprint-form-section id='preprint-form-submit' class="preprint-form-block"  animate=true name=name allowOpen=uploadValid errorAction=(action 'error') as |hasOpened|}}
                            {{preprint-form-header name=name showValidationIndicator=false}}
                            {{#cp-panel-body}}
                                <div>
                                    <p>
                                        When you share this preprint, it will become publicly accessible via OSF Preprints.
                                        This also creates an OSF project in case you would like to attach other content to your preprint such as supplementary materials,
                                        appendices, data, or protocols. If posting this preprint is your first exposure to the OSF,
                                        you will receive an email introducing OSF to you.
                                    </p>
                                    <div class="text-center">
                                        {{#unless allSectionsValid}}
                                            <p class="m-t-md"> <strong> The following section(s) must be completed before sharing this preprint. </strong></p>
                                            <p class="text-danger"> {{if (not disciplineValid) 'Discipline'}}</p>
                                            <p class="text-danger"> {{if (not basicsValid) 'Basics'}}</p>
                                            <p class="text-danger"> {{if (not authorsValid) 'Authors'}}</p>
                                        {{/unless}}
                                        <p> </p>
                                        <button class="btn btn-primary btn-lg m-t-md" disabled={{unless allSectionsValid true}} {{action 'toggleSharePreprintModal'}}>Share</button>
                                        <div>
                                            {{confirm-share-preprint isOpen=showModalSharePreprint savePreprint=(action 'savePreprint')}}
                                        </div>
                                    </div>
                                </div>
                            {{/cp-panel-body}}
                        {{/preprint-form-section}}
                    {{/with}}
                {{/cp-panels}}
            </div>
        </div>
    </div>
</div>
