{{title (if editMode 'Edit' 'Submit')}}

<div class="preprint-submit-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>{{t (if editMode "submit.edit_heading" heading) documentType=currentProvider.documentType}}</h1>
            </div>
        </div>
    </div>
</div>
<div class="preprint-submit-body">
    <div class="container">
        <div class="row m-t-lg">
            <div class="col-xs-12 col-md-10 col-md-offset-1 ">
                {{#cp-panels accordion=true}}
                    {{#if (not (or editMode theme.isProvider))}}
                        {{#with _names.[0] as |name|}}
                            {{#preprint-form-section id='preprint-form-server' editMode=editMode canEdit=canEdit open=true name=name allowOpen=(not uploadValid) denyOpenMessage=(t 'submit.server_locked') errorAction=(action 'error')}}
                                {{preprint-form-header editMode=editMode serverSaveState=serverSaveState showValidationIndicator=true name=name isValidationActive=(and providerSaved (not uploadValid)) currentProvider=currentProvider valid=(not providerChanged)}}
                                {{#preprint-form-body}}
                                    {{provider-carousel providers=allProviders selectable=true activeProvider=selectedProvider selectAction=(action 'selectProvider')}}
                                    {{#if selectedProvider}}
                                        <div class="row">
                                            <div style="padding: 25px 85px 15px;" class="col-md-12">
                                                <dl class="dl-horizontal dl-description">
                                                    <dt>
                                                        {{#if (eq selectedProvider.name 'Open Science Framework')}}
                                                            OSF Preprints
                                                        {{else}}
                                                            {{ selectedProvider.name }}
                                                        {{/if}}
                                                    </dt>
                                                    <dd>{{sanitize-html selectedProvider.description}}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    {{/if}}
                                    {{#unless uploadValid}}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="pull-right">
                                                    <button {{action 'discardProvider'}} class="btn btn-default" disabled={{if (not (and providerSaved providerChanged)) true}}>{{t "global.discard"}}</button>
                                                    <button {{action 'saveProvider'}} class="btn btn-primary">{{t "submit.body.save_continue"}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    {{/unless}}
                                {{/preprint-form-body}}
                            {{/preprint-form-section}}
                        {{/with}}
                    {{/if}}

                    {{#with _names.[1] as |name|}}
                        {{#preprint-form-section
                            editMode=editMode
                            class=(concat 'preprint-form-upload' (if uploadInProgress ' upload-in-progress'))
                            name=name
                            allowOpen=(or providerSaved editMode)
                            open=(and theme.isProvider (not editMode))
                            denyOpenMessage=(t 'submit.please_select_server')
                            errorAction=(action 'error')
                            canEdit=canEdit
                            as |hasOpened|
                        }}
                            {{preprint-form-header editMode=editMode uploadSaveState=uploadSaveState showValidationIndicator=true name=name preprint=model preprintFile=model.primaryFile isValidationActive=(upload-validation-active editMode preprintLocked hasOpened) preprintTitle=model.title valid=(not uploadChanged) currentProvider=currentProvider canEdit=canEdit}}
                            {{#preprint-form-body}}
                                {{#liquid-bind filePickerState class='translate' as |currentState|}}
                                    <div class={{currentState}}>
                                        {{#if (eq currentState _State.START)}}
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <button class="btn btn-block btn-big" {{action 'changeInitialState' _State.NEW}}>{{t "submit.body.upload"}}</button>
                                                </div>
                                                <div class="col-xs-6">
                                                    <button class="btn btn-block btn-big" {{action 'changeInitialState' _State.EXISTING}}>{{t "submit.body.connect"}}</button>
                                                </div>
                                            </div>
                                        {{else if (or (eq currentState _State.NEW) (eq currentState _State.VERSION))}}
                                            {{file-uploader
                                                changeInitialState=(action 'changeInitialState')
                                                finishUpload=(action 'finishUpload')
                                                clearDownstreamFields=(action 'clearDownstreamFields')
                                                nextUploadSection=(action 'nextUploadSection')
                                                setPrimaryFile=(action 'setPrimaryFile')
                                                discardUploadChanges=(action 'discardUploadChanges')
                                                startState=_State.START
                                                title=title
                                                currentUser=user
                                                osfFile=selectedFile
                                                hasFile=hasFile
                                                file=file
                                                model=model
                                                preprintLocked=preprintLocked
                                                titleValid=titleValid
                                                uploadChanged=uploadChanged
                                                uploadInProgress=uploadInProgress
                                                basicsAbstract=basicsAbstract
                                                editMode=editMode
                                                applyLicense=applyLicense
                                                provider=currentProvider
                                                uploadedFileId=uploadedFileId
                                                uploadedFileName=uploadedFileName
                                                currentState=currentState
                                            }}
                                        {{else if (eq currentState _State.EXISTING)}}
                                            {{preprint-form-project-select
                                              changeInitialState=(action 'changeInitialState')
                                              clearDownstreamFields=(action 'clearDownstreamFields')
                                              nextUploadSection=(action 'nextUploadSection')
                                              selectFile=(action "selectExistingFile")
                                              discardUploadChanges=(action 'discardUploadChanges')
                                              uploadInProgress=uploadInProgress
                                              startState=_State.START
                                              title=title
                                              currentUser=user
                                              selectedFile=selectedFile
                                              hasFile=hasFile
                                              selectedNode=node
                                              currentState=currentState
                                              preprintLocked=preprintLocked
                                              osfStorageProvider=osfStorageProvider
                                              osfProviderLoaded=osfProviderLoaded
                                              titleValid=titleValid
                                              basicsAbstract=basicsAbstract
                                              editMode=editMode
                                              getProjectContributors=(action 'getProjectContributors')
                                              provider=currentProvider
                                              createPreprintCopyFile=(action 'createPreprintCopyFile')
                                              }}
                                        {{/if}}
                                    </div>
                                {{/liquid-bind}}
                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}

                    {{! ===== AUTHOR ASSERTIONS HERE ===== }}
                    {{!-- Add logic for Data availability here --}}
                    {{!-- No: Optional textarea
                        NA: Disabled Textbox with placeholder
                        Available: required multiple textbox for links
                    --}}
                    {{!-- Section explaining Data Avaliability here --}}

                    {{!-- Add logic for Prereg here --}}
                    {{!-- No: Optional textarea
                        NA: Disabled Textbox with placeholder
                        Available: required multiple textbox for links, dropdown to denote type
                    --}}
                    {{!-- Section explaining Prereg here --}}

                    {{#with _names.[3] as |name|}}
                        {{#preprint-form-section id='preprint-form-basics' editMode=editMode name=name allowOpen=uploadValid canEdit=canEdit errorAction=(action 'error') as |hasOpened|}}
                            {{preprint-form-header editMode=editMode doi=model.doi basicsSaveState=basicsSaveState tags=model.tags abstract=model.description name=name valid=(not basicsChanged) license=model.license isValidationActive=hasOpened}}
                            {{#preprint-form-body}}
                                <div class='row'>
                                    <div class='col-xs-12'>
                                        {{license-picker licenses=availableLicenses currentValues=basicsLicense showCategories=false editLicense=(action 'editLicense') allowDismiss=false autosave=true showBorder=false pressSubmit=(action 'saveBasics')}}
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <label>{{t "submit.body.basics.doi.label"}}:</label>
                                            <form role="button" onchange={{action 'stripDOI'}} onsubmit={{action 'preventDefault'}}>
                                                {{validated-input model=this valuePath='basicsDOI' placeholder=(t "global.doi") value=basicsDOI pressSubmit=(action 'saveBasics')}}
                                            </form>
                                        </div>
                                        <div>
                                            <label>{{t "submit.body.basics.original_publication_date.label"}}:</label>
                                            <form>
                                                {{validated-input inputType='date' model=this valuePath='basicsOriginalPublicationDate' value=basicsOriginalPublicationDate}}
                                            </form>
                                        </div>
                                        <div class="clearfix">
                                            <label>{{t "submit.body.basics.keywords.label" documentType=currentProvider.documentType}}:</label>
                                            <p class="text-smaller">{{t "submit.body.basics.keywords.paragraph" documentType=currentProvider.documentType}}</p>
                                            {{tags-widget addATag=(action 'addTag') removeATag=(action 'removeTag') tags=basicsTags}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            <span class="required">{{t "global.abstract"}}:</span>
                                        </label>
                                        <form onchange={{if editMode (action 'track' 'input' 'onchange' 'Edit - Abstract Text Change') (action 'track' 'input' 'onchange' 'Submit - Abstract Text Change')}}>
                                            {{validated-input inputType='textarea' model=this valuePath='basicsAbstract' placeholder=(t "submit.body.basics.abstract.placeholder" documentType=currentProvider.documentType) value=basicsAbstract}}
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button {{action 'discardBasics'}} class="btn btn-default" disabled={{unless basicsChanged true}} >{{t "global.discard"}}</button>
                                            <button {{action 'saveBasics'}} class="btn btn-primary" disabled={{unless basicsValid true}} >{{t "submit.body.save_continue"}}</button>
                                        </div>
                                    </div>
                                </div>
                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}

                    {{#with _names.[4] as |name|}}
                        {{#preprint-form-section id='preprint-form-subjects' editMode=editMode name=name allowOpen=uploadValid canEdit=canEdit errorAction=(action 'error') as |hasOpened|}}
                            {{preprint-form-header editMode=editMode disciplineSaveState=disciplineSaveState subjects=disciplineReduced name=name valid=(not disciplineChanged) isValidationActive=hasOpened}}
                            {{#preprint-form-body}}
                                <p class="m-b-lg text-smaller">{{t "submit.body.subjects_description"}}</p>

                                {{subject-picker
                                    editMode=editMode
                                    initialSubjects=model.subjects
                                    currentSubjects=subjectsList
                                    saveSubjects=(action 'saveSubjects')
                                    provider=currentProvider
                                }}

                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}

                    {{#with _names.[5] as |name|}}
                        {{#preprint-form-section id='preprint-form-authors' editMode=editMode name=name allowOpen=uploadValid open=authorsOpen errorAction=(action 'error') as |hasOpened|}}
                            {{preprint-form-header editMode=editMode authorsSaveState=authorsSaveState authors=contributors name=name valid=authorsValid isValidationActive=hasOpened}}
                            {{#preprint-form-body}}
                                {{#if isAdmin}}
                                    <p class="text-smaller">
                                        {{t "submit.body.authors.paragraph" documentType=currentProvider.documentType}}
                                    </p>
                                {{/if}}
                                {{preprint-form-authors
                                    contributors=contributors
                                    model=model
                                    isAdmin=isAdmin
                                    currentUser=user
                                    findContributors=(action 'findContributors')
                                    searchResults=searchResults
                                    currentUserRemoved=(action 'currentUserRemoved')
                                    reorderContributors=(action 'reorderContributors')
                                    highlightSuccessOrFailure=(action 'highlightSuccessOrFailure')
                                    editMode=editMode
                                    canEdit=canEdit
                                    documentType=currentProvider.documentType
                                }}
                                <div class="p-t-xs pull-right">
                                    <button {{action 'next' name}} class="btn btn-primary">{{t "global.continue"}}</button>
                                </div>
                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}

                    {{! ==== COI HERE ==== }}
                    {{#with _names.[6] as |name|}}
                        {{#preprint-form-section id="author-coi-assertion" editMode=editMode name=name allowOpen=uploadValid canEdit=canEdit errorAction=(action 'error') as |hasOpened|}}
                            {{preprint-form-header editMode=editMode node=node name=name valid=coiValid isValidationActive=hasOpened}}
                            {{#preprint-form-body}}
                                <div role='radiogroup'>
                                    <input
                                        type="radio"
                                        id="coiYes"
                                        name="coi"
                                        value="Yes"
                                        onchange={{action "updateCoi" true}}
                                        checked={{hasCoi}}
                                    >
                                    <label class='coiRadioLabel' for="coiYes">{{t "submit.body.conflict_of_interest.yes"}}</label>
                                    <input
                                        type="radio"
                                        id="coiNo"
                                        name="coi"
                                        value="No"
                                        onchange={{action "updateCoi" false}}
                                        checked={{if (and (not hasCoi) (not-eq hasCoi undefined)) true}}
                                    >
                                    <label class='coiRadioLabel' for="coiNo">{{t "submit.body.conflict_of_interest.no"}}</label>
                                </div>
                                <br>
                                {{#if hasCoi}}
                                    <label for='coiStatement'>Describe: <span class='required' /></label>
                                    {{validated-input id='coiStatement' inputType='textarea' model=this valuePath='coiStatement' documentType=currentProvider.documentType value=coiStatement}}
                                {{else if (and (not hasCoi) (not-eq hasCoi undefined))}}
                                    <div class='form-group'>
                                        <input type="text" class='form-control' disabled={{true}} placeholder={{t "submit.body.conflict_of_interest.placeholder"}}>
                                    </div>
                                {{/if}}
                                <div class="assertionDescription">
                                    {{t "submit.body.conflict_of_interest.description" documentType=currentProvider.documentType}}
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button {{action 'discardCoi'}} class="btn btn-default" disabled={{unless coiChanged true}} >{{t "global.discard"}}</button>
                                            <button {{action 'saveCoi'}} class="btn btn-primary" disabled={{unless coiValid true}} >{{t "submit.body.save_continue"}}</button>
                                        </div>
                                    </div>
                                </div>
                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}

                    {{#with _names.[7] as |name|}}
                        {{#preprint-form-section id="supplemental-materials" editMode=editMode class="preprint-form-upload" name=name allowOpen=uploadValid canEdit=canEdit errorAction=(action 'error') as |hasOpened|}}
                            {{preprint-form-header editMode=editMode supplementalSaveState=supplementalSaveState supplementalProjectTitle=supplementalProjectTitle node=node name=name valid=(not supplementalChanged) isValidationActive=hasOpened}}
                            {{#preprint-form-body}}
                                <p class="m-b-lg text-smaller">
                                    {{#if (eq supplementalPickerState _State.EDIT)}}
                                        {{t "components.preprint-form-header.connected_project"}}: <a target='_blank' rel="noopener noreferrer" href="{{node.links.html}}">{{supplementalProjectTitle}}</a>
                                    {{else}}
                                        {{t "submit.body.supplemental_description"}}
                                    {{/if}}
                                </p>
                                {{#liquid-bind supplementalPickerState class='supplemental' as |supplementalState|}}
                                    <div class={{supplementalState}}>
                                        {{#if (eq supplementalState _State.EDIT)}}
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <button class="btn btn-block btn-big" {{action 'changeConnectedProject'}}>{{t "submit.body.supplemental_change_saved"}}</button>
                                                </div>
                                                <div class="col-xs-6">
                                                    <button class="btn btn-block btn-big" {{action 'removeSupplementalNode'}}>{{t "submit.body.disconnect_supplemental"}}</button>
                                                </div>
                                            </div>
                                            <div class="p-t-xs m-t-sm pull-right">
                                                <button {{action 'skipSupplemental' name}} class="btn btn-primary">{{t "global.continue"}}</button>
                                            </div>
                                        {{else if (eq supplementalState _State.START)}}
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <button class="btn btn-block btn-big" {{action 'changeSupplementalPickerState' _State.EXISTING}}>{{t "submit.body.supplemental_connect_existing"}}</button>
                                                </div>
                                                <div class="col-xs-6">
                                                    <button class="btn btn-block btn-big" {{action 'changeSupplementalPickerState' _State.NEW}}>{{t "submit.body.supplemental_new_project"}}</button>
                                                </div>
                                            </div>
                                            <div class="p-t-xs m-t-sm pull-right">
                                                {{#if (and editMode node)}}
                                                    <button {{action 'backSupplemental' _State.EDIT}} class="btn btn-default">{{t "global.back"}}</button>
                                                {{/if}}
                                                <button {{action 'skipSupplemental' name}} class="btn btn-primary">{{t "global.continue"}}</button>
                                            </div>
                                        {{else if (eq supplementalState _State.EXISTING)}}
                                            {{preprint-form-project-select
                                              updateSupplementalNode=(action 'updateSupplementalNode')
                                              changeSupplementalPickerState=(action 'changeSupplementalPickerState')
                                              setSupplementalTitleFromSelected=(action 'setSupplementalTitleFromSelected')
                                              backSupplemental=(action 'backSupplemental')
                                              supplementalProjectTitle=supplementalProjectTitle
                                              currentUser=user
                                              model=model
                                              selectedSupplementalProject=selectedSupplementalProject
                                              currentState=supplementalState
                                              preprintLocked=preprintLocked
                                              editMode=editMode
                                              chooseSupplementalProject=true
                                              startState=_State.START
                                              }}
                                        {{else if (eq supplementalState _State.NEW)}}
                                            <label>
                                                <span class="required">{{t "submit.body.supplemental_title"}}:</span>
                                            </label>
                                            <form role="button" onchange={{action 'track' 'input' 'onchange' 'Submit - Add supplemental project title'}}>
                                                {{preprint-title-editor documentType=supplementalDocumentType title=pendingSupplementalProjectTitle titleValid=supplementalProjectTitleValid pressSubmit=(action 'setSupplementalProjectTitle' name)}}
                                                <p class="text-smaller">
                                                    <strong>{{t "submit.body.supplemental_new_help_text"}}</strong>
                                                </p>
                                            </form>
                                            <div class="p-t-xs pull-right">
                                                <button {{action 'backSupplemental' _State.START}} class="btn btn-default">{{t "global.back"}}</button>
                                                {{#if editMode}}
                                                    <button {{action 'updateSupplementalNode'}} disabled={{not supplementalProjectTitleValid}} class="btn btn-primary">{{t "submit.body.save_continue"}}</button>
                                                {{else}}
                                                    <button class="btn btn-primary" disabled={{not supplementalProjectTitleValid}} {{action 'setSupplementalProjectTitle' name}}>{{t "submit.body.save_continue"}}</button>
                                                {{/if}}
                                            </div>
                                        {{/if}}
                                    </div>
                                {{/liquid-bind}}
                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}
                {{/cp-panels}}

                <div class="submit-section">
                    {{#if currentProvider}}
                        {{#if editMode}}
                            <div>
                                {{#if showInformation}}
                                    <p>{{t editInformation1 documentType=currentProvider.documentType name=providerName reviewsWorkflow=(t workflow)}}</p>
                                    <p>
                                        {{t editInformation2
                                            name=providerName
                                            reviewsWorkflow=(t workflow)
                                            email=theme.provider.emailSupport}}
                                    </p>
                                {{/if}}
                                <button class="btn btn-default btn-md m-t-md pull-right" {{action 'returnToSubmission'}}>{{t "submit.body.edit.return_button" documentType=currentProvider.documentType}}</button>
                                {{#if canResubmit}}
                                    <button class="btn btn-success btn-md m-t-md pull-right" disabled={{unless allSectionsValid true}} {{action 'clickSubmit'}}>
                                        {{t "submit.body.edit.resubmit_button"}}
                                    </button>
                                    <div>
                                        {{confirm-share-preprint
                                            isOpen=showModalSharePreprint
                                            shareButtonDisabled=shareButtonDisabled
                                            savePreprint=(action 'resubmit')
                                            buttonLabel="submit.body.edit.resubmit_button"
                                            title=modalTitle
                                            documentType=currentProvider.documentType
                                        }}
                                    </div>
                                {{/if}}

                                {{#if (not (eq model.reviewsState 'rejected'))}}
                                    {{#if canWithdraw}}
                                        {{!-- Only shows the 'Withdraw preprint' button iff the preprint is not in a rejected state, and the user has permission --}}
                                        <button class="btn btn-danger btn-md m-t-md pull-right" {{action 'clickWithdraw'}}> {{t "submit.body.edit.withdraw_button" documentType=currentProvider.documentType}} </button>
                                    {{/if}}
                                {{/if}}
                            </div>
                        {{else}}
                            <strong><p class="information">{{t permissionInformation documentType=currentProvider.documentType name=providerName}}</p></strong>
                            {{#if moderationType}}
                                <p class="information">
                                    {{t moderationInformation documentType=currentProvider.documentType name=providerName reviewsWorkflow=(t workflow)}}
                                </p>
                            {{else}}
                                <p class="information">{{t generalInformation documentType=currentProvider.documentType name=providerName}}</p>
                            {{/if}}
                            <div class="text-center">
                                {{#if showValidationErrors}}
                                    <span id="validation-errors">
                                        <p class="m-t-md"><strong>{{t "submit.body.submit.invalid.description" documentType=currentProvider.documentType}}</strong></p>
                                        <p class="text-danger">{{if (not (and savedTitle savedFile)) (t "submit.body.submit.invalid.upload")}}</p>
                                        <p class="text-danger">{{unless savedAbstract (t "submit.body.submit.invalid.basics")}}</p>
                                        <p class="text-danger">{{unless savedSubjects (t "submit.body.submit.invalid.discipline")}}</p>
                                        <p class="text-danger">{{unless authorsValid (t "global.authors")}}</p>
                                        <p class="text-danger">{{unless coiValid (t "global.body.submit.conflict_of_interest.title")}}</p>
                                    </span>
                                {{/if}}
                                <button class="btn btn-success btn-md m-t-md pull-right" disabled={{showValidationErrors}} {{action 'clickSubmit'}}>
                                    {{t buttonLabel documentType=currentProvider.documentType}}
                                </button>
                                <button class="btn btn-default btn-md m-t-md pull-right" {{action 'cancel'}}>
                                    {{t "global.cancel"}}
                                </button>
                                <div>
                                    {{confirm-share-preprint
                                        isOpen=showModalSharePreprint
                                        shareButtonDisabled=shareButtonDisabled
                                        savePreprint=(action 'savePreprint')
                                        buttonLabel=buttonLabel
                                        title=modalTitle
                                        documentType=currentProvider.documentType
                                    }}
                                </div>
                            </div>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
