{{title 'Submit'}}

<div class="preprint-submit-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>{{t (if editMode "submit.edit_heading" "submit.add_heading")}}</h1>
            </div>
        </div>

    </div>
</div>
<div class="preprint-submit-body">
    <div class="container">
        <div class="row m-t-lg">
            <div class="col-xs-12 col-md-10 col-md-offset-1 ">
                <p>{{if editMode (t "submit.body.p_edit") (t "submit.body.p_add" name=(if theme.isProvider theme.provider.name (t "global.brand_name")))}}</p>
                {{#cp-panels accordion=true}}
                    {{#with _names.[0] as |name|}}
                        {{#preprint-form-section id='preprint-form-upload' class="preprint-form-block" open=true name=name allowOpen=true errorAction=(action 'error') as |hasOpened|}}
                            {{preprint-form-header editMode=editMode uploadSaveState=uploadSaveState showValidationIndicator=true name=name preprintNode=node preprintFile=model.primaryFile isValidationActive=(uploadValidationActive editMode nodeLocked hasOpened) preprintTitle=node.title valid=(not uploadChanged)}}
                            {{#preprint-form-body}}
                                {{#liquid-bind filePickerState class='translate' as |currentState|}}
                                    <div class={{currentState}}>
                                        {{#if (eq currentState _State.START)}}
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <button class="btn btn-block btn-big" {{action 'changeInitialState' _State.NEW}}>{{t "submit.body.upload"}}</button>
                                                </div>
                                                <div class="col-xs-6">
                                                    <button class="btn btn-block btn-big" {{action 'changeInitialState' _State.EXISTING}}>{{t "submit.body.connect"}}</button>
                                                </div>
                                            </div>
                                        {{else if (eq currentState _State.NEW)}}
                                            {{file-uploader
                                                changeInitialState=(action 'changeInitialState')
                                                nextUploadSection=nextUploadSection
                                                finishUpload=(action 'finishUpload')
                                                clearDownstreamFields=(action 'clearDownstreamFields')
                                                nextUploadSection=(action 'nextUploadSection')
                                                startPreprint=(action 'startPreprint')
                                                discardUploadChanges=(action 'discardUploadChanges')
                                                newNodeNewFile=true
                                                startState=_State.START
                                                existingState=existingState
                                                _existingState=_existingState
                                                nodeTitle=nodeTitle
                                                currentUser=user
                                                osfFile=selectedFile
                                                hasFile=hasFile
                                                file=file
                                                node=node
                                                parentNode=parentNode
                                                convertProjectConfirmed=convertProjectConfirmed
                                                convertOrCopy=convertOrCopy
                                                isTopLevelNode=isTopLevelNode
                                                nodeLocked=nodeLocked
                                                titleValid=titleValid
                                                uploadChanged=uploadChanged
                                                uploadInProgress=uploadInProgress
                                                abandonedPreprint=abandonedPreprint
                                                resumeAbandonedPreprint=(action 'resumeAbandonedPreprint')
                                                basicsAbstract=basicsAbstract
                                                newNode=newNode
                                                applyLicense=applyLicense
                                            }}
                                        {{else if (eq currentState _State.EXISTING)}}
                                            {{preprint-form-project-select
                                              changeInitialState=(action 'changeInitialState')
                                              finishUpload=(action 'finishUpload')
                                              clearDownstreamFields=(action 'clearDownstreamFields')
                                              nextUploadSection=(action 'nextUploadSection')
                                              existingNodeExistingFile=(action 'existingNodeExistingFile')
                                              createComponentCopyFile=(action "createComponentCopyFile")
                                              selectFile=(action "selectExistingFile")
                                              highlightSuccessOrFailure=(action 'highlightSuccessOrFailure')
                                              startPreprint=(action 'startPreprint')
                                              discardUploadChanges=(action 'discardUploadChanges')
                                              startState=_State.START
                                              existingState=existingState
                                              _existingState=_existingState
                                              nodeTitle=nodeTitle
                                              currentUser=user
                                              selectedFile=selectedFile
                                              hasFile=hasFile
                                              file=file
                                              node=node
                                              userNodes=userNodes
                                              selectedNode=node
                                              contributors=contributors
                                              fileSelect=true
                                              currentState=filePickerState
                                              parentNode=parentNode
                                              convertProjectConfirmed=convertProjectConfirmed
                                              userNodesLoaded=userNodesLoaded
                                              convertOrCopy=convertOrCopy
                                              isTopLevelNode=isTopLevelNode
                                              nodeLocked=nodeLocked
                                              osfStorageProvider=osfStorageProvider
                                              osfProviderLoaded=osfProviderLoaded
                                              titleValid=titleValid
                                              uploadChanged=uploadChanged
                                              uploadInProgress=uploadInProgress
                                              abandonedPreprint=abandonedPreprint
                                              resumeAbandonedPreprint=(action 'resumeAbandonedPreprint')
                                              basicsAbstract=basicsAbstract
                                              newNode=newNode
                                              applyLicense=applyLicense
                                              }}
                                        {{/if}}
                                    </div>
                                {{/liquid-bind}}
                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}

                    {{#with _names.[1] as |name|}}
                        {{#preprint-form-section id='preprint-form-subjects' class="preprint-form-block"  name=name allowOpen=uploadValid errorAction=(action 'error') as |hasOpened|}}
                            {{preprint-form-header editMode=editMode disciplineSaveState=disciplineSaveState subjects=disciplineReduced name=name valid=(not disciplineChanged) isValidationActive=hasOpened}}
                            {{#preprint-form-body}}
                                <p class="m-b-lg text-smaller">{{t "submit.body.subjects_description"}}</p>

                                {{subject-picker selected=subjectsList disciplineModifiedToggle=disciplineModifiedToggle save=(action 'setSubjects')}}

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button {{action 'discardSubjects'}} class="btn btn-default" disabled={{unless disciplineChanged true}} >{{t "global.discard"}}</button>
                                            <button {{action 'saveSubjects'}} class="btn btn-primary" disabled={{unless disciplineValid true}} >{{t "submit.body.save_continue"}}</button>
                                        </div>
                                    </div>
                                </div>
                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}

                    {{#with _names.[2] as |name|}}
                        {{#preprint-form-section id='preprint-form-basics' class="preprint-form-block" name=name allowOpen=uploadValid errorAction=(action 'error') as |hasOpened|}}
                            {{preprint-form-header editMode=editMode doi=model.doi basicsSaveState=basicsSaveState tags=node.tags abstract=node.description name=name valid=(not basicsChanged) license=model.license isValidationActive=hasOpened}}
                            {{#preprint-form-body}}
                                <div class='row'>
                                    {{license-picker licenses=availableLicenses currentValues=basicsLicense howCategories=false editLicense=(action 'editLicense') allowDismiss=false autosave=true}}
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <label>{{t "submit.body.basics.doi.label"}}:</label>
                                            <form onchange={{action 'stripDOI'}}>
                                                {{validated-input model=this valuePath='basicsDOI' placeholder=(t "global.doi") value=basicsDOI}}
                                            </form>
                                        </div>
                                        <div class="clearfix">
                                            <label>{{t "submit.body.basics.keywords.label"}}:</label>
                                            <p class="text-smaller">{{t "submit.body.basics.keywords.paragraph"}}</p>
                                            {{tags-widget addATag=(action 'addTag') removeATag=(action 'removeTag') tags=basicsTags}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            <span class="required">{{t "global.abstract"}}:</span>
                                        </label>
                                        {{validated-input model=this valuePath='basicsAbstract' placeholder=(t "submit.body.basics.abstract.placeholder") value=basicsAbstract large=true}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4>{{if newNode 'Apply' 'Also apply'}} this license to my OSF Project.</h4>
                                        {{#unless newNode}}
                                            <p>Selecting a license for your preprint does not automatically apply the license to your OSF project.</p>
                                        {{/unless}}
                                    </div>
                                    <div class="col-md-6" class='input-group pull-right' style="margin: 20px">
                                            <input onchange={{action 'applyLicenseToggle' true}} type="radio" checked={{applyLicense}}> Yes
                                            <input onchange={{action 'applyLicenseToggle' false}} type="radio" checked={{eq applyLicense false}}> No
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button {{action 'discardBasics'}} class="btn btn-default" disabled={{unless basicsChanged true}} >{{t "global.discard"}}</button>
                                            <button {{action 'saveBasics'}} class="btn btn-primary" disabled={{unless basicsValid true}} >{{t "submit.body.save_continue"}}</button>
                                        </div>
                                    </div>
                                </div>

                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}

                    {{#with _names.[3] as |name|}}
                        {{#preprint-form-section id='preprint-form-authors' class="preprint-form-block"  name=name allowOpen=uploadValid errorAction=(action 'error') as |hasOpened|}}
                            {{preprint-form-header editMode=editMode authorsSaveState=authorsSaveState authors=contributors name=name valid=authorsValid isValidationActive=hasOpened}}
                            {{#preprint-form-body}}
                                <p class="text-smaller">
                                    {{t "submit.body.authors.paragraph"}}
                                </p>
                                {{preprint-form-authors
                                    contributors=contributors
                                    parentContributors=parentContributors
                                    node=node
                                    isAdmin=isAdmin
                                    canEdit=canEdit
                                    currentUser=user
                                    addContributor=(action 'addContributor')
                                    addContributors=(action 'addContributors')
                                    findContributors=(action 'findContributors')
                                    searchResults=searchResults
                                    removeContributor=(action 'removeContributor')
                                    editContributor=(action 'updateContributor')
                                    reorderContributors=(action 'reorderContributors')
                                    highlightSuccessOrFailure=(action 'highlightSuccessOrFailure')
                                    parentNode=parentNode
                                    editMode=editMode
                                }}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button {{action 'next' name}} class="btn btn-primary" disabled={{unless authorsValid true}} >{{t "global.next"}}</button>
                                        </div>
                                    </div>
                                </div>
                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}
                    {{#with _names.[4] as |name|}}
                        {{#preprint-form-section id='preprint-form-submit' class="preprint-form-block"  animate=true name=name allowOpen=uploadValid errorAction=(action 'error') as |hasOpened|}}
                            {{preprint-form-header editMode=editMode name=(if editMode 'Update' name) showValidationIndicator=false}}
                            {{#if editMode}}
                                {{#cp-panel-body}}
                                    <div>
                                        <div class="text-center">
                                            <p>
                                                {{t "submit.body.update.paragraph" name=(if theme.isProvider theme.provider.name (t "global.brand_name"))}}
                                            </p>
                                            <button class="btn btn-primary btn-lg m-t-md" disabled={{unless allSectionsValid true}} {{action 'savePreprint'}}>{{t "global.complete"}}</button>
                                        </div>
                                    </div>
                                {{/cp-panel-body}}
                            {{else}}
                                {{#cp-panel-body}}
                                    <div>
                                        <p>
                                            {{t "submit.body.submit.paragraph" name=(if theme.isProvider theme.provider.name (t "global.brand_name"))}}
                                        </p>
                                        <div class="text-center">
                                            {{#unless allSectionsValid}}
                                                <p class="m-t-md"> <strong>{{t "submit.body.submit.invalid.description"}}</strong></p>
                                                <p class="text-danger"> {{unless (and savedTitle savedFile) (t "submit.body.submit.invalid.upload")}}</p>
                                                <p class="text-danger"> {{unless savedSubjects (t "submit.body.submit.invalid.discipline")}}</p>
                                                <p class="text-danger"> {{unless savedAbstract (t "submit.body.submit.invalid.basics")}}</p>
                                                <p class="text-danger"> {{unless authorsValid (t "global.authors")}}</p>
                                            {{/unless}}
                                            <p> </p>
                                            <button class="btn btn-primary btn-lg m-t-md" disabled={{unless allSectionsValid true}} {{action 'toggleSharePreprintModal'}}>{{t "global.share"}}</button>
                                            <div>
                                                {{confirm-share-preprint isOpen=showModalSharePreprint shareButtonDisabled=shareButtonDisabled savePreprint=(action 'savePreprint')}}
                                            </div>
                                        </div>
                                    </div>
                                {{/cp-panel-body}}
                            {{/if}}
                        {{/preprint-form-section}}
                    {{/with}}
                {{/cp-panels}}
            </div>
        </div>
    </div>
</div>
