{{title (if editMode 'Edit' 'Submit')}}

<div class="preprint-submit-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>{{t (if editMode "submit.edit_heading" heading)}}</h1>
            </div>
        </div>
    </div>
</div>
<div class="preprint-submit-body">
    <div class="container">
        <div class="row m-t-lg">
            <div class="col-xs-12 col-md-10 col-md-offset-1 ">
                <p class="instructions">
                    {{if editMode (t "submit.body.p_edit") (t "submit.body.p_add" name=(if theme.isProvider theme.provider.name (t "global.brand_name")))}}
                </p>

                {{#cp-panels accordion=true as |panels|}}
                    {{#unless (or editMode theme.isProvider)}}
                        {{#with _names.[0] as |name|}}
                            {{#panels.panel id='preprint-form-server' class='preprint-form-block preprint-form-section' open=true name=name as |p|}}
                                {{preprint-form-header editMode=editMode serverSaveState=serverSaveState showValidationIndicator=true name=name isValidationActive=(and providerSaved (not uploadValid)) currentProvider=currentProvider isOpen=p.isOpen valid=(not providerChanged)}}
                                {{#p.body}}
                                    {{provider-carousel itemsPerSlide=10 providers=allProviders selectable=true activeProvider=selectedProvider selectAction=(action 'selectProvider')}}

                                    {{#unless uploadValid}}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="pull-right">
                                                    <button {{action 'discardProvider'}} class="btn btn-default" disabled={{unless (and providerSaved providerChanged) true}} >{{t "global.discard"}}</button>
                                                    <button {{action 'saveProvider'}} class="btn btn-primary">{{t "submit.body.save_continue"}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    {{/unless}}
                                {{/p.body}}
                            {{/panels.panel}}
                        {{/with}}
                    {{/unless}}
                <!--
                    {{#unless (or editMode theme.isProvider)}}
                        {{#with _names.[0] as |name|}}
                            {{#preprint-form-section id='preprint-form-servedr' editMode=editMode class="preprint-form-block" open=true name=name allowOpen=(not uploadValid) denyOpenMessage=(t 'submit.server_locked') errorAction=(action 'error') as |hasOpened|}}
                                {{preprint-form-header editMode=editMode serverSaveState=serverSaveState showValidationIndicator=true name=name isValidationActive=(and providerSaved (not uploadValid)) currentProvider=currentProvider isOpen=hasOpened.isOpen valid=(not providerChanged)}}
                                {{#preprint-form-body}}
                                    {{provider-carousel itemsPerSlide=10 providers=allProviders selectable=true activeProvider=selectedProvider selectAction=(action 'selectProvider')}}

                                    {{#unless uploadValid}}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="pull-right">
                                                    <button {{action 'discardProvider'}} class="btn btn-default" disabled={{unless (and providerSaved providerChanged) true}} >{{t "global.discard"}}</button>
                                                    <button {{action 'saveProvider'}} class="btn btn-primary">{{t "submit.body.save_continue"}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    {{/unless}}
                                {{/preprint-form-body}}
                            {{/preprint-form-section}}
                        {{/with}}
                    {{/unless}}
                    !-->

                    {{#with _names.[1] as |name|}}
                        {{#preprint-form-section id='preprint-form-upload' editMode=editMode class="preprint-form-block" name=name allowOpen=(or providerSaved editMode) denyOpenMessage=(t 'submit.please_select_server') errorAction=(action 'error') animate=true as |panel|}}
                            {{preprint-form-header editMode=editMode uploadSaveState=uploadSaveState showValidationIndicator=true name=name preprintNode=node preprintFile=model.primaryFile isValidationActive=(upload-validation-active editMode nodeLocked hasOpened) preprintTitle=node.title valid=(not uploadChanged)}}
                            {{#preprint-form-body}}
                                {{#liquid-bind filePickerState class='translate' as |currentState|}}
                                    <div class={{currentState}}>
                                        {{#if (eq currentState _State.START)}}
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <button class="btn btn-block btn-big" {{action 'changeInitialState' _State.NEW}}>{{t "submit.body.upload"}}</button>
                                                </div>
                                                <div class="col-xs-6">
                                                    <button class="btn btn-block btn-big" {{action 'changeInitialState' _State.EXISTING}}>{{t "submit.body.connect"}}</button>
                                                </div>
                                            </div>
                                        {{else if (eq currentState _State.NEW)}}
                                             {{file-uploader
                                                changeInitialState=(action 'changeInitialState')
                                                nextUploadSection=nextUploadSection
                                                finishUpload=(action 'finishUpload')
                                                clearDownstreamFields=(action 'clearDownstreamFields')
                                                nextUploadSection=(action 'nextUploadSection')
                                                startPreprint=(action 'startPreprint')
                                                discardUploadChanges=(action 'discardUploadChanges')
                                                newNodeNewFile=true
                                                startState=_State.START
                                                existingState=existingState
                                                _existingState=_existingState
                                                title=title
                                                currentUser=user
                                                osfFile=selectedFile
                                                hasFile=hasFile
                                                file=file
                                                node=node
                                                parentNode=parentNode
                                                convertProjectConfirmed=convertProjectConfirmed
                                                convertOrCopy=convertOrCopy
                                                isTopLevelNode=isTopLevelNode
                                                nodeLocked=nodeLocked
                                                titleValid=titleValid
                                                uploadChanged=uploadChanged
                                                uploadInProgress=uploadInProgress
                                                abandonedPreprint=abandonedPreprint
                                                resumeAbandonedPreprint=(action 'resumeAbandonedPreprint')
                                                basicsAbstract=basicsAbstract
                                                editMode=editMode
                                                newNode=newNode
                                                applyLicense=applyLicense
                                            }}
                                        {{else if (eq currentState _State.EXISTING)}}
                                            {{preprint-form-project-select
                                              changeInitialState=(action 'changeInitialState')
                                              finishUpload=(action 'finishUpload')
                                              clearDownstreamFields=(action 'clearDownstreamFields')
                                              nextUploadSection=(action 'nextUploadSection')
                                              existingNodeExistingFile=(action 'existingNodeExistingFile')
                                              createComponentCopyFile=(action "createComponentCopyFile")
                                              selectFile=(action "selectExistingFile")
                                              highlightSuccessOrFailure=(action 'highlightSuccessOrFailure')
                                              startPreprint=(action 'startPreprint')
                                              discardUploadChanges=(action 'discardUploadChanges')
                                              startState=_State.START
                                              existingState=existingState
                                              _existingState=_existingState
                                              title=title
                                              currentUser=user
                                              selectedFile=selectedFile
                                              hasFile=hasFile
                                              file=file
                                              node=node
                                              model=model
                                              selectedNode=node
                                              contributors=contributors
                                              fileSelect=true
                                              currentState=filePickerState
                                              parentNode=parentNode
                                              convertProjectConfirmed=convertProjectConfirmed
                                              userNodesLoaded=userNodesLoaded
                                              convertOrCopy=convertOrCopy
                                              isTopLevelNode=isTopLevelNode
                                              nodeLocked=nodeLocked
                                              osfStorageProvider=osfStorageProvider
                                              osfProviderLoaded=osfProviderLoaded
                                              titleValid=titleValid
                                              uploadChanged=uploadChanged
                                              uploadInProgress=uploadInProgress
                                              abandonedPreprint=abandonedPreprint
                                              resumeAbandonedPreprint=(action 'resumeAbandonedPreprint')
                                              basicsAbstract=basicsAbstract
                                              editMode=editMode
                                              newNode=newNode
                                              applyLicense=applyLicense
                                            }}
                                        {{/if}}
                                    </div>
                                {{/liquid-bind}}
                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}

                    {{#with _names.[2] as |name|}}
                        {{#preprint-form-section id='preprint-form-sudbjects' editMode=editMode class="preprint-form-block"  name=name allowOpen=uploadValid errorAction=(action 'error') as |hasOpened|}}
                            {{preprint-form-header editMode=editMode disciplineSaveState=disciplineSaveState subjects=disciplineReduced name=name valid=(not disciplineChanged) isValidationActive=hasOpened}}
                            {{#preprint-form-body}}
                                <p class="m-b-lg text-smaller">{{t "submit.body.subjects_description"}}</p>
                                {{subject-picker
                                    editMode=editMode
                                    initialSubjects=model.subjects
                                    currentSubjects=subjectsList
                                    saveSubjects=(action 'saveSubjects')
                                    provider=currentProvider
                                }}
                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}
                {{/cp-panels}}

                {{#cp-panels accordion=true}}
                <!--
                    {{#unless (or editMode theme.isProvider)}}
                        {{#with _names.[0] as |name|}}
                            {{#preprint-form-section id='preprint-form-serdver' editMode=editMode class="preprint-form-block" open=true name=name allowOpen=(not uploadValid) denyOpenMessage=(t 'submit.server_locked') errorAction=(action 'error') as |hasOpened|}}
                                {{preprint-form-header editMode=editMode serverSaveState=serverSaveState showValidationIndicator=true name=name isValidationActive=(and providerSaved (not uploadValid)) currentProvider=currentProvider valid=(not providerChanged)}}
                                {{#preprint-form-body}}
                                    {{provider-carousel itemsPerSlide=10 providers=allProviders selectable=true activeProvider=selectedProvider selectAction=(action 'selectProvider')}}

                                    {{#unless uploadValid}}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="pull-right">
                                                    <button {{action 'discardProvider'}} class="btn btn-default" disabled={{unless (and providerSaved providerChanged) true}} >{{t "global.discard"}}</button>
                                                    <button {{action 'saveProvider'}} class="btn btn-primary">{{t "submit.body.save_continue"}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    {{/unless}}
                                {{/preprint-form-body}}
                            {{/preprint-form-section}}
                        {{/with}}
                    {{/unless}}
                !-->
                <!--
                    {{#with _names.[1] as |name|}}
                        {{#preprint-form-section id='preprintd-form-upload' editMode=editMode class="preprint-form-block" name=name allowOpen=(or providerSaved editMode) denyOpenMessage=(t 'submit.please_select_server') errorAction=(action 'error') as |hasOpened|}}
                            {{preprint-form-header editMode=editMode uploadSaveState=uploadSaveState showValidationIndicator=true name=name preprintNode=node preprintFile=model.primaryFile isValidationActive=(upload-validation-active editMode nodeLocked hasOpened) preprintTitle=node.title valid=(not uploadChanged)}}
                            {{#preprint-form-body}}
                                {{#liquid-bind filePickerState class='translate' as |currentState|}}
                                    <div class={{currentState}}>
                                        {{#if (eq currentState _State.START)}}
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <button class="btn btn-block btn-big" {{action 'changeInitialState' _State.NEW}}>{{t "submit.body.upload"}}</button>
                                                </div>
                                                <div class="col-xs-6">
                                                    <button class="btn btn-block btn-big" {{action 'changeInitialState' _State.EXISTING}}>{{t "submit.body.connect"}}</button>
                                                </div>
                                            </div>
                                        {{else if (eq currentState _State.NEW)}}
                                             {{file-uploader
                                                changeInitialState=(action 'changeInitialState')
                                                nextUploadSection=nextUploadSection
                                                finishUpload=(action 'finishUpload')
                                                clearDownstreamFields=(action 'clearDownstreamFields')
                                                nextUploadSection=(action 'nextUploadSection')
                                                startPreprint=(action 'startPreprint')
                                                discardUploadChanges=(action 'discardUploadChanges')
                                                newNodeNewFile=true
                                                startState=_State.START
                                                existingState=existingState
                                                _existingState=_existingState
                                                title=title
                                                currentUser=user
                                                osfFile=selectedFile
                                                hasFile=hasFile
                                                file=file
                                                node=node
                                                parentNode=parentNode
                                                convertProjectConfirmed=convertProjectConfirmed
                                                convertOrCopy=convertOrCopy
                                                isTopLevelNode=isTopLevelNode
                                                nodeLocked=nodeLocked
                                                titleValid=titleValid
                                                uploadChanged=uploadChanged
                                                uploadInProgress=uploadInProgress
                                                abandonedPreprint=abandonedPreprint
                                                resumeAbandonedPreprint=(action 'resumeAbandonedPreprint')
                                                basicsAbstract=basicsAbstract
                                                editMode=editMode
                                                newNode=newNode
                                                applyLicense=applyLicense
                                            }}
                                        {{else if (eq currentState _State.EXISTING)}}
                                            {{preprint-form-project-select
                                              changeInitialState=(action 'changeInitialState')
                                              finishUpload=(action 'finishUpload')
                                              clearDownstreamFields=(action 'clearDownstreamFields')
                                              nextUploadSection=(action 'nextUploadSection')
                                              existingNodeExistingFile=(action 'existingNodeExistingFile')
                                              createComponentCopyFile=(action "createComponentCopyFile")
                                              selectFile=(action "selectExistingFile")
                                              highlightSuccessOrFailure=(action 'highlightSuccessOrFailure')
                                              startPreprint=(action 'startPreprint')
                                              discardUploadChanges=(action 'discardUploadChanges')
                                              startState=_State.START
                                              existingState=existingState
                                              _existingState=_existingState
                                              title=title
                                              currentUser=user
                                              selectedFile=selectedFile
                                              hasFile=hasFile
                                              file=file
                                              node=node
                                              model=model
                                              selectedNode=node
                                              contributors=contributors
                                              fileSelect=true
                                              currentState=filePickerState
                                              parentNode=parentNode
                                              convertProjectConfirmed=convertProjectConfirmed
                                              userNodesLoaded=userNodesLoaded
                                              convertOrCopy=convertOrCopy
                                              isTopLevelNode=isTopLevelNode
                                              nodeLocked=nodeLocked
                                              osfStorageProvider=osfStorageProvider
                                              osfProviderLoaded=osfProviderLoaded
                                              titleValid=titleValid
                                              uploadChanged=uploadChanged
                                              uploadInProgress=uploadInProgress
                                              abandonedPreprint=abandonedPreprint
                                              resumeAbandonedPreprint=(action 'resumeAbandonedPreprint')
                                              basicsAbstract=basicsAbstract
                                              editMode=editMode
                                              newNode=newNode
                                              applyLicense=applyLicense
                                            }}
                                        {{/if}}
                                    </div>
                                {{/liquid-bind}}
                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}
                  !-->
                    {{#with _names.[2] as |name|}}
                        {{#preprint-form-section id='preprint-form-subjects' editMode=editMode class="preprint-form-block"  name=name allowOpen=uploadValid errorAction=(action 'error') as |hasOpened|}}
                            {{preprint-form-header editMode=editMode disciplineSaveState=disciplineSaveState subjects=disciplineReduced name=name valid=(not disciplineChanged) isValidationActive=hasOpened}}
                            {{#preprint-form-body}}
                                <p class="m-b-lg text-smaller">{{t "submit.body.subjects_description"}}</p>

                                {{subject-picker
                                    editMode=editMode
                                    initialSubjects=model.subjects
                                    currentSubjects=subjectsList
                                    saveSubjects=(action 'saveSubjects')
                                    provider=currentProvider
                                }}

                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}

                    {{#with _names.[3] as |name|}}
                        {{#preprint-form-section id='preprint-form-basics' editMode=editMode class="preprint-form-block" name=name allowOpen=uploadValid errorAction=(action 'error') as |hasOpened|}}
                            {{preprint-form-header editMode=editMode doi=model.doi basicsSaveState=basicsSaveState tags=model.tags abstract=model.description name=name valid=(not basicsChanged) license=model.license isValidationActive=hasOpened}}
                            {{#preprint-form-body}}
                                <div class='row'>
                                    <div class='col-xs-12'>
                                        {{license-picker licenses=availableLicenses currentValues=basicsLicense showCategories=false editLicense=(action 'editLicense') allowDismiss=false autosave=true showBorder=false pressSubmit=(action 'saveBasics')}}
                                        <br>
                                        <div class="row">
                                            <div class='col-xs-12'>
                                                <label> {{t "submit.body.basics.license.apply_license_title"}} </label>
                                                {{#if (or (not newNode) editMode)}}
                                                    <p>{{t "submit.body.basics.license.apply_license_text"}}</p>
                                                {{/if}}
                                                <span style="margin: 5px">
                                                    <input onchange={{action 'applyLicenseToggle' true}} type="radio" checked={{applyLicense}}> Yes
                                                    <input onchange={{action 'applyLicenseToggle' false}} type="radio" checked={{not applyLicense}}> No
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <label>{{t "submit.body.basics.doi.label"}}:</label>
                                            <form onchange={{action 'stripDOI'}} onsubmit={{action 'preventDefault'}}>
                                                {{validated-input model=this valuePath='basicsDOI' placeholder=(t "global.doi") value=basicsDOI pressSubmit=(action 'saveBasics')}}
                                            </form>
                                        </div>
                                        <div>
                                            <label>{{t "submit.body.basics.original_publication_date.label"}}:</label>
                                            <form>
                                                {{validated-input inputType='date' model=this valuePath='basicsOriginalPublicationDate' value=basicsOriginalPublicationDate}}
                                            </form>
                                        </div>
                                        <div class="clearfix">
                                            <label>{{t "submit.body.basics.keywords.label"}}:</label>
                                            <p class="text-smaller">{{t "submit.body.basics.keywords.paragraph"}}</p>
                                            {{#tag-input tags=basicsTags  addTag=(action 'addTag') removeTagAtIndex=(action 'removeTag') placeholder=(t "submit.body.basics.tags.placeholder") as |tag|}}
                                                {{tag}}
                                            {{/tag-input}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            <span class="required">{{t "global.abstract"}}:</span>
                                        </label>
                                        <form>
                                            {{validated-input inputType='textarea' model=this valuePath='basicsAbstract' placeholder=(t "submit.body.basics.abstract.placeholder") value=basicsAbstract}}
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button {{action 'discardBasics'}} class="btn btn-default" disabled={{unless basicsChanged true}} >{{t "global.discard"}}</button>
                                            <button {{action 'saveBasics'}} class="btn btn-primary" disabled={{unless basicsValid true}} >{{t "submit.body.save_continue"}}</button>
                                        </div>
                                    </div>
                                </div>

                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}

                    {{#with _names.[4] as |name|}}
                        {{#preprint-form-section id='preprint-form-authors' editMode=editMode class="preprint-form-block"  name=name allowOpen=uploadValid errorAction=(action 'error') as |hasOpened|}}
                            {{preprint-form-header editMode=editMode authorsSaveState=authorsSaveState authors=contributors name=name valid=authorsValid isValidationActive=hasOpened}}
                            {{#preprint-form-body}}
                                <p class="text-smaller">
                                    {{t "submit.body.authors.paragraph"}}
                                </p>
                                {{preprint-form-authors
                                    contributors=contributors
                                    parentContributors=parentContributors
                                    node=node
                                    isAdmin=isAdmin
                                    canEdit=canEdit
                                    currentUser=user
                                    addContributor=(action 'addContributor')
                                    addContributors=(action 'addContributors')
                                    findContributors=(action 'findContributors')
                                    searchResults=searchResults
                                    removeContributor=(action 'removeContributor')
                                    editContributor=(action 'updateContributor')
                                    reorderContributors=(action 'reorderContributors')
                                    highlightSuccessOrFailure=(action 'highlightSuccessOrFailure')
                                    parentNode=parentNode
                                    editMode=editMode
                                }}
                            {{/preprint-form-body}}
                        {{/preprint-form-section}}
                    {{/with}}
                {{/cp-panels}}
                <div class="submit-section">
                    {{#if editMode}}
                        <div>
                            {{#if showInformation}}
                                <p>{{t editInformation1 name=providerName reviewsWorkflow=(t workflow)}}</p>
                                <p>
                                    {{t editInformation2
                                        name=providerName
                                        reviewsWorkflow=(t workflow)
                                        email=theme.provider.emailSupport}}
                                </p>
                            {{/if}}
                            {{#if canResubmit}}
                                <button class="btn btn-success btn-md m-t-md pull-right" disabled={{unless allSectionsValid true}} {{action 'clickSubmit'}}>
                                    {{t "submit.body.edit.resubmit_button"}}
                                </button>
                                <div>
                                    {{confirm-share-preprint
                                        isOpen=showModalSharePreprint
                                        shareButtonDisabled=shareButtonDisabled
                                        savePreprint=(action 'resubmit')
                                        buttonLabel="submit.body.edit.resubmit_button"
                                        title=modalTitle
                                    }}
                                </div>
                            {{/if}}
                            <button class="btn btn-primary btn-md m-t-md pull-right" disabled={{unless allSectionsValid true}} {{action 'returnToSubmission'}}>
                                {{t "submit.body.edit.return_button"}}
                            </button>
                        </div>
                    {{else}}
                        <p class="information">{{t generalInformation name=providerName}}</p>
                        <p class="information">{{t permissionInformation name=providerName}}</p>
                        {{#if moderationType}}
                            <p class="information">
                                {{t moderationInformation name=providerName reviewsWorkflow=(t workflow)}}
                            </p>
                        {{/if}}
                        <div class="text-center">
                            {{#if showValidationErrors}}
                                <span id="validation-errors">
                                    <p class="m-t-md"><strong>{{t "submit.body.submit.invalid.description"}}</strong></p>
                                    <p class="text-danger">{{unless (and savedTitle savedFile) (t "submit.body.submit.invalid.upload")}}</p>
                                    <p class="text-danger">{{unless savedSubjects (t "submit.body.submit.invalid.discipline")}}</p>
                                    <p class="text-danger">{{unless savedAbstract (t "submit.body.submit.invalid.basics")}}</p>
                                    <p class="text-danger">{{unless authorsValid (t "global.authors")}}</p>
                                </span>
                            {{/if}}
                            <button class="btn btn-success btn-md m-t-md pull-right" disabled={{showValidationErrors}} {{action 'clickSubmit'}}>
                                {{t buttonLabel}}
                            </button>
                            <button class="btn btn-default btn-md m-t-md pull-right" {{action 'cancel'}}>
                                {{t "global.cancel"}}
                            </button>
                            <div>
                                {{confirm-share-preprint
                                    isOpen=showModalSharePreprint
                                    shareButtonDisabled=shareButtonDisabled
                                    savePreprint=(action 'savePreprint')
                                    buttonLabel=buttonLabel
                                    title=modalTitle
                                }}
                            </div>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
